<div class="breadcrumbs">
    <ul class="breadcrumbs__list">
        <li class="breadcrumbs__item"><a href="#">Главная</a></li>
        <li class="breadcrumbs__item">Каталог площадок (Москва)</li>
    </ul>
</div>