<form id="feedback-popup" class="feedback-popup main__form">
    <div class="feedback-popup__title">Оставить отзыв</div>
    <div class="feedback-popup__input">
        <input type="text" required placeholder="Ваше имя">
    </div>
    <div class="feedback-popup__input">
        <input type="text" required placeholder="Компания">
    </div>
    <div class="feedback-popup__input">
        <textarea placeholder="Что понравилось" required></textarea>
    </div>
    <div class="feedback-popup__input">
        <textarea placeholder="Что не понравилось" required></textarea>
    </div>
    <div class="feedback-popup__rating-wrap">
        <div class="feedback-popup__rating-title">Соотношение <br> Цена/Качество</div>
        <div class="feedback-popup__rating">
            <div class="rating">
                <input type="radio" name="rating-star" class="rating__control" id="rc1">
                <input type="radio" name="rating-star" class="rating__control" id="rc2">
                <input type="radio" name="rating-star" class="rating__control" id="rc3">
                <input type="radio" name="rating-star" class="rating__control" id="rc4">
                <input type="radio" name="rating-star" class="rating__control" id="rc5">
                <input type="radio" name="rating-star" class="rating__control" id="rc6">
                <input type="radio" name="rating-star" class="rating__control" id="rc7">
                <input type="radio" name="rating-star" class="rating__control" id="rc8">
                <input type="radio" name="rating-star" class="rating__control" id="rc9">
                <input type="radio" name="rating-star" class="rating__control" id="rc10">
                <label for="rc1" class="rating__item">
                    <svg class="rating__star">
                        <use xlink:href="#star-ico"></use>
                    </svg>
                    <span class="rating__label">1</span>
                </label>
                <label for="rc2" class="rating__item">
                    <svg class="rating__star">
                        <use xlink:href="#star-ico"></use>
                    </svg>
                    <span class="rating__label">2</span>
                </label>
                <label for="rc3" class="rating__item">
                    <svg class="rating__star">
                        <use xlink:href="#star-ico"></use>
                    </svg>
                    <span class="rating__label">3</span>
                </label>
                <label for="rc4" class="rating__item">
                    <svg class="rating__star">
                        <use xlink:href="#star-ico"></use>
                    </svg>
                    <span class="rating__label">4</span>
                </label>
                <label for="rc5" class="rating__item">
                    <svg class="rating__star">
                        <use xlink:href="#star-ico"></use>
                    </svg>
                    <span class="rating__label">5</span>
                </label>
                <label for="rc6" class="rating__item">
                    <svg class="rating__star">
                        <use xlink:href="#star-ico"></use>
                    </svg>
                    <span class="rating__label">6</span>
                </label>
                <label for="rc7" class="rating__item">
                    <svg class="rating__star">
                        <use xlink:href="#star-ico"></use>
                    </svg>
                    <span class="rating__label">7</span>
                </label>
                <label for="rc8" class="rating__item">
                    <svg class="rating__star">
                        <use xlink:href="#star-ico"></use>
                    </svg>
                    <span class="rating__label">8</span>
                </label>
                <label for="rc9" class="rating__item">
                    <svg class="rating__star">
                        <use xlink:href="#star-ico"></use>
                    </svg>
                    <span class="rating__label">9</span>
                </label>
                <label for="rc10" class="rating__item">
                    <svg class="rating__star">
                        <use xlink:href="#star-ico"></use>
                    </svg>
                    <span class="rating__label">10</span>
                </label>
            </div>
        </div>
    </div>
    <div class="feedback-popup__rating-wrap">
        <div class="feedback-popup__rating-title">Местоположение</div>
        <div class="feedback-popup__rating">
            <div class="rating">
                <input type="radio" name="rating-star-1" class="rating__control" id="rc1-1">
                <input type="radio" name="rating-star-1" class="rating__control" id="rc2-1">
                <input type="radio" name="rating-star-1" class="rating__control" id="rc3-1">
                <input type="radio" name="rating-star-1" class="rating__control" id="rc4-1">
                <input type="radio" name="rating-star-1" class="rating__control" id="rc5-1">
                <input type="radio" name="rating-star-1" class="rating__control" id="rc6-1">
                <input type="radio" name="rating-star-1" class="rating__control" id="rc7-1">
                <input type="radio" name="rating-star-1" class="rating__control" id="rc8-1">
                <input type="radio" name="rating-star-1" class="rating__control" id="rc9-1">
                <input type="radio" name="rating-star-1" class="rating__control" id="rc10-1">
                <label for="rc1-1" class="rating__item">
                    <svg class="rating__star">
                        <use xlink:href="#star-ico"></use>
                    </svg>
                    <span class="rating__label">1</span>
                </label>
                <label for="rc2-1" class="rating__item">
                    <svg class="rating__star">
                        <use xlink:href="#star-ico"></use>
                    </svg>
                    <span class="rating__label">2</span>
                </label>
                <label for="rc3-1" class="rating__item">
                    <svg class="rating__star">
                        <use xlink:href="#star-ico"></use>
                    </svg>
                    <span class="rating__label">3</span>
                </label>
                <label for="rc4-1" class="rating__item">
                    <svg class="rating__star">
                        <use xlink:href="#star-ico"></use>
                    </svg>
                    <span class="rating__label">4</span>
                </label>
                <label for="rc5-1" class="rating__item">
                    <svg class="rating__star">
                        <use xlink:href="#star-ico"></use>
                    </svg>
                    <span class="rating__label">5</span>
                </label>
                <label for="rc6-1" class="rating__item">
                    <svg class="rating__star">
                        <use xlink:href="#star-ico"></use>
                    </svg>
                    <span class="rating__label">6</span>
                </label>
                <label for="rc7-1" class="rating__item">
                    <svg class="rating__star">
                        <use xlink:href="#star-ico"></use>
                    </svg>
                    <span class="rating__label">7</span>
                </label>
                <label for="rc8-1" class="rating__item">
                    <svg class="rating__star">
                        <use xlink:href="#star-ico"></use>
                    </svg>
                    <span class="rating__label">8</span>
                </label>
                <label for="rc9-1" class="rating__item">
                    <svg class="rating__star">
                        <use xlink:href="#star-ico"></use>
                    </svg>
                    <span class="rating__label">9</span>
                </label>
                <label for="rc10-1" class="rating__item">
                    <svg class="rating__star">
                        <use xlink:href="#star-ico"></use>
                    </svg>
                    <span class="rating__label">10</span>
                </label>
            </div>
        </div>
    </div>
    <div class="feedback-popup__rating-wrap">
        <div class="feedback-popup__rating-title">Услуги</div>
        <div class="feedback-popup__rating">
            <div class="rating">
                <input type="radio" name="rating-star-2" class="rating__control" id="rc1-2">
                <input type="radio" name="rating-star-2" class="rating__control" id="rc2-2">
                <input type="radio" name="rating-star-2" class="rating__control" id="rc3-2">
                <input type="radio" name="rating-star-2" class="rating__control" id="rc4-2">
                <input type="radio" name="rating-star-2" class="rating__control" id="rc5-2">
                <input type="radio" name="rating-star-2" class="rating__control" id="rc6-2">
                <input type="radio" name="rating-star-2" class="rating__control" id="rc7-2">
                <input type="radio" name="rating-star-2" class="rating__control" id="rc8-2">
                <input type="radio" name="rating-star-2" class="rating__control" id="rc9-2">
                <input type="radio" name="rating-star-2" class="rating__control" id="rc10-2">
                <label for="rc1-2" class="rating__item">
                    <svg class="rating__star">
                        <use xlink:href="#star-ico"></use>
                    </svg>
                    <span class="rating__label">1</span>
                </label>
                <label for="rc2-2" class="rating__item">
                    <svg class="rating__star">
                        <use xlink:href="#star-ico"></use>
                    </svg>
                    <span class="rating__label">2</span>
                </label>
                <label for="rc3-2" class="rating__item">
                    <svg class="rating__star">
                        <use xlink:href="#star-ico"></use>
                    </svg>
                    <span class="rating__label">3</span>
                </label>
                <label for="rc4-2" class="rating__item">
                    <svg class="rating__star">
                        <use xlink:href="#star-ico"></use>
                    </svg>
                    <span class="rating__label">4</span>
                </label>
                <label for="rc5-2" class="rating__item">
                    <svg class="rating__star">
                        <use xlink:href="#star-ico"></use>
                    </svg>
                    <span class="rating__label">5</span>
                </label>
                <label for="rc6-2" class="rating__item">
                    <svg class="rating__star">
                        <use xlink:href="#star-ico"></use>
                    </svg>
                    <span class="rating__label">6</span>
                </label>
                <label for="rc7-2" class="rating__item">
                    <svg class="rating__star">
                        <use xlink:href="#star-ico"></use>
                    </svg>
                    <span class="rating__label">7</span>
                </label>
                <label for="rc8-2" class="rating__item">
                    <svg class="rating__star">
                        <use xlink:href="#star-ico"></use>
                    </svg>
                    <span class="rating__label">8</span>
                </label>
                <label for="rc9-2" class="rating__item">
                    <svg class="rating__star">
                        <use xlink:href="#star-ico"></use>
                    </svg>
                    <span class="rating__label">9</span>
                </label>
                <label for="rc10-2" class="rating__item">
                    <svg class="rating__star">
                        <use xlink:href="#star-ico"></use>
                    </svg>
                    <span class="rating__label">10</span>
                </label>
            </div>
        </div>
    </div>
    <div class="feedback-popup__rating-wrap">
        <div class="feedback-popup__rating-title">Персонал</div>
        <div class="feedback-popup__rating">
            <div class="rating">
                <input type="radio" name="rating-star-3" class="rating__control" id="rc1-3">
                <input type="radio" name="rating-star-3" class="rating__control" id="rc2-3">
                <input type="radio" name="rating-star-3" class="rating__control" id="rc3-3">
                <input type="radio" name="rating-star-3" class="rating__control" id="rc4-3">
                <input type="radio" name="rating-star-3" class="rating__control" id="rc5-3">
                <input type="radio" name="rating-star-3" class="rating__control" id="rc6-3">
                <input type="radio" name="rating-star-3" class="rating__control" id="rc7-3">
                <input type="radio" name="rating-star-3" class="rating__control" id="rc8-3">
                <input type="radio" name="rating-star-3" class="rating__control" id="rc9-3">
                <input type="radio" name="rating-star-3" class="rating__control" id="rc10-3">
                <label for="rc1-3" class="rating__item">
                    <svg class="rating__star">
                        <use xlink:href="#star-ico"></use>
                    </svg>
                    <span class="rating__label">1</span>
                </label>
                <label for="rc2-3" class="rating__item">
                    <svg class="rating__star">
                        <use xlink:href="#star-ico"></use>
                    </svg>
                    <span class="rating__label">2</span>
                </label>
                <label for="rc3-3" class="rating__item">
                    <svg class="rating__star">
                        <use xlink:href="#star-ico"></use>
                    </svg>
                    <span class="rating__label">3</span>
                </label>
                <label for="rc4-3" class="rating__item">
                    <svg class="rating__star">
                        <use xlink:href="#star-ico"></use>
                    </svg>
                    <span class="rating__label">4</span>
                </label>
                <label for="rc5-3" class="rating__item">
                    <svg class="rating__star">
                        <use xlink:href="#star-ico"></use>
                    </svg>
                    <span class="rating__label">5</span>
                </label>
                <label for="rc6-3" class="rating__item">
                    <svg class="rating__star">
                        <use xlink:href="#star-ico"></use>
                    </svg>
                    <span class="rating__label">6</span>
                </label>
                <label for="rc7-3" class="rating__item">
                    <svg class="rating__star">
                        <use xlink:href="#star-ico"></use>
                    </svg>
                    <span class="rating__label">7</span>
                </label>
                <label for="rc8-3" class="rating__item">
                    <svg class="rating__star">
                        <use xlink:href="#star-ico"></use>
                    </svg>
                    <span class="rating__label">8</span>
                </label>
                <label for="rc9-3" class="rating__item">
                    <svg class="rating__star">
                        <use xlink:href="#star-ico"></use>
                    </svg>
                    <span class="rating__label">9</span>
                </label>
                <label for="rc10-3" class="rating__item">
                    <svg class="rating__star">
                        <use xlink:href="#star-ico"></use>
                    </svg>
                    <span class="rating__label">10</span>
                </label>
            </div>
        </div>
    </div>
    <div class="feedback-popup__btn">
        <button type="submit" class="btn btn-default">Оставить отзыв</button>
    </div>
</form>