<footer class="footer-wrap">
    <div class="mbox">
        <div class="footer">
            <div class="footer__logo">
                <a href="#">
                    <svg><use xlink:href="#logo-white"></use></svg>
                </a>
            </div>
            <div class="footer__list">
                <a href="#" class="footer__list-item has-child">Каталог площадок
                    <svg><use xlink:href="#arrow-ico"></use></svg>
                </a>
                <a href="#" class="footer__list-item">Москва</a>
                <a href="#" class="footer__list-item">Санкт-Петербург</a>
                <a href="#" class="footer__list-item">Казань</a>
                <a href="#" class="footer__list-item">Екатеринбург</a>
                <a href="#" class="footer__list-item">Новосибирск</a>
                <a href="#" class="footer__list-item">Сочи</a>
            </div>
            <div class="footer__list">
                <div class="footer__list-wrap">
                    <div class="footer__list-row">
                        <a href="#" class="footer__list-item has-child">Организация мероприятий
                            <svg><use xlink:href="#arrow-ico"></use></svg>
                        </a>
                        <a href="#" class="footer__list-item">Корпоративные мероприятия</a>
                        <a href="#" class="footer__list-item">Организация тренингов</a>
                        <a href="#" class="footer__list-item">Организация семинаров</a>
                        <a href="#" class="footer__list-item">Тимбилдинги</a>
                        <a href="#" class="footer__list-item">Презентации</a>
                        <a href="#" class="footer__list-item">Организация конференций</a>
                    </div>
                    <div class="footer__list-row">
                        <a href="#" class="footer__list-item">Портфолио</a>
                    </div>
                </div>
            </div>
            <div class="footer__contacts">
                <div class="footer__contacts-title">КОНТАКТЫ</div>
                <div class="footer__contacts-title">Адрес:</div>
                <div class="footer__contacts-desc">г. Москва, Измайловское шоссе, 71 гостиница Измайлово Гамма, офис 14 м. Партизанская </div>
                <div class="footer__contacts-desc">г.Санкт-Петербург, Невский проспект 87/2</div>
                <div class="footer__contacts-title">Телефон:</div>
                <div class="footer__contacts-desc">
                    <a href="tel:+8 (495) 737-47-55">8 (495) 737-47-55</a> - Москва
                </div>
                <div class="footer__contacts-desc">
                    <a href="tel:+8 (812) 309-78-36">8 (812) 309-78-36</a> - Санкт-Петербург
                </div>
                <div class="footer__contacts-desc">
                    <a href="tel:+8 (800) 707-55-86">8 (800) 707-55-86</a> - бесплатный звонок
                </div>
                <div class="footer__contacts-title">Факс:</div>
                <div class="footer__contacts-desc">
                    <a href="tel:+8 (495) 737-47-55">8 (495) 737-47-55</a>
                </div>
                <div class="footer__contacts-title">E-mail:</div>
                <div class="footer__contacts-desc">
                    <a href="#">info@pogostite.ru</a>
                </div>
            </div>
        </div>
    </div>
</footer>