
<link rel="stylesheet" href="css/plugins.css">
<link rel="stylesheet" href="css/dev.css">
<script>
    var revision = 121219;
    var file = 'images/sprite.svg';
</script>
<script src="https://code.jquery.com/jquery-3.4.0.min.js"></script>
<script src="js/plugins.js"></script>
<script src="js/base.js"></script>
<script src="js/jquery.lazyload.min.js"></script>
<script src="js/dev.js"></script>
