<header class="header">
    <div class="mbox">
        <div class="header__row">
            <div class="header__logo">
                <div class="header__mob-menu"><span></span></div>
                <a href="./index.html">
                    <svg><use xlink:href="#logo-black"></use></svg>
                </a>
            </div>
            <div class="header__phone">
                <span>Бесплатная линия по РФ</span>
                <a href="tel:+8 495 111 11 11" class="phone">
                    <svg><use xlink:href="#phone-ico"></use></svg>
                    8-800-111-11-11
                </a>
            </div>
            <div class="header__phone">
                <a href="tel:+8 495 111 11 11" class="phone">
                    <svg><use xlink:href="#phone-ico"></use></svg>
                    8-495-111-11-11
                </a>
                <a href="#" class="mail">
                    <svg><use xlink:href="#mail-ico"></use></svg>
                    info@eventix.ru
                </a>
            </div>
            <div class="header__callback">
                <span>Нет времени на подбор?</span>
                <a href="#message" data-fancybox class="btn"><span>Оставить заявку</span></a>
            </div>
        </div>
        <div class="header__mob-row">
            <a href="tel:+8 (495) 737-47-55" class="header__mob-link">
                <svg><use xlink:href="#phone-ico"></use></svg>
                8 (495) 737-47-55
            </a>
            <a href="#" class="header__mob-link">
                <svg><use xlink:href="#mail-ico"></use></svg>
                info@pogostite.ru
            </a>
        </div>
    </div>
    <div class="header__nav-wrap">
        <div class="mbox">
            <div class="header__nav">
                <div class="header__nav-item active">
                    <a href="#">Главная</a>
                </div>
                <div class="header__nav-item has-child">
                    <a href="#">Каталог площадок
                        <svg><use xlink:href="#arrow-ico"></use></svg>
                    </a>
                    <a href="#">Москва</a>
                    <a href="#">Санкт-Петербург</a>
                    <a href="#">Новосибирск</a>
                    <a href="#">Екатиренбург</a>
                </div>
                <div class="header__nav-item">
                    <a href="#">Организация мероприятий</a>
                </div>
                <div class="header__nav-item">
                    <a href="#">Портфолио</a>
                </div>
                <div class="header__nav-item">
                    <a href="#">О нас</a>
                </div>
                <div class="header__nav-item">
                    <a href="#">Контакты</a>
                </div>
            </div>
            <div class="header__mob-phone">
                <div class="header__phone">
                    <span>Бесплатная линия по РФ</span>
                    <a href="tel:+8 495 111 11 11" class="phone">
                        <svg><use xlink:href="#phone-ico"></use></svg>
                        8-800-111-11-11
                    </a>
                </div>
                <div class="header__phone">
                    <a href="tel:+8 495 111 11 11" class="phone">
                        <svg><use xlink:href="#phone-ico"></use></svg>
                        8-495-111-11-11
                    </a>
                    <a href="#" class="mail">
                        <svg><use xlink:href="#mail-ico"></use></svg>
                        info@eventix.ru
                    </a>
                </div>
            </div>
        </div>
    </div>
    <form id="message" class="poster__form" style="display: none">
        <div class="poster__form-title">Экспресс-подбор площадки</div>
        <div class="poster__form-number">
            <input type="text" required="" placeholder="Номер телефона" class="tel-mask">
        </div>
        <div class="poster__form-desc">
            Наши менеджеры осуществляют бесплатный подбор площадок под ваши нужды
        </div>
        <div class="poster__form-btn">
            <button type="submit" class="btn btn-default">Найти</button>
        </div>
    </form>
    <div id="thank" class="poster__form" style="display: none">
        <div class="poster__form-title">Спасибо за заявку, наши менеджера свяжутся с Вами</div>
    </div>
</header>