//= parts/head.html
<div class="global-wrapper">
    //= parts/header.html
    <div class="page">
        <div class="mbox">
            <div class="card">
                <div class="breadcrumbs">
                    <ul class="breadcrumbs__list">
                        <li class="breadcrumbs__item"><a href="#">Главная</a></li>
                        <li class="breadcrumbs__item">Каталог площадок (Москва)</li>
                    </ul>
                </div>
                <div class="card__filter-btn">
                    <a href="/result.html">Вернуться</a>
                </div>
                <a href="#" class="card__title card__title--main">Swiss Hotel</a>
                <div class="card__place-wrap">
                    <div class="card__place">
                        <div class="card__info">
                            <div class="card__title-wrap card__title-rating">
                                <div class="rating">
                                    <input type="radio" name="rating-star-1" class="rating__control" id="rc11" disabled>
                                    <input type="radio" name="rating-star-1" class="rating__control" id="rc12" disabled>
                                    <input type="radio" name="rating-star-1" class="rating__control" id="rc13" disabled>
                                    <input type="radio" name="rating-star-1" class="rating__control" id="rc14" disabled checked>
                                    <input type="radio" name="rating-star-1" class="rating__control" id="rc15" disabled>
                                    <label for="rc11" class="rating__item">
                                        <svg class="rating__star">
                                            <use xlink:href="#star-ico"></use>
                                        </svg>
                                        <span class="rating__label">1</span>
                                    </label>
                                    <label for="rc12" class="rating__item">
                                        <svg class="rating__star">
                                            <use xlink:href="#star-ico"></use>
                                        </svg>
                                        <span class="rating__label">2</span>
                                    </label>
                                    <label for="rc13" class="rating__item">
                                        <svg class="rating__star">
                                            <use xlink:href="#star-ico"></use>
                                        </svg>
                                        <span class="rating__label">3</span>
                                    </label>
                                    <label for="rc14" class="rating__item">
                                        <svg class="rating__star">
                                            <use xlink:href="#star-ico"></use>
                                        </svg>
                                        <span class="rating__label">4</span>
                                    </label>
                                    <label for="rc15" class="rating__item">
                                        <svg class="rating__star">
                                            <use xlink:href="#star-ico"></use>
                                        </svg>
                                        <span class="rating__label">5</span>
                                    </label>
                                </div>
                            </div>
                            <div class="card__title-wrap">
                                <div class="card__title">
                                    9,1 <span class="hotel-rating hotel-rating--green">Превосходно</span>
                                </div>
                            </div>
                        </div>
                        <div class="card__info">
                            <div class="card__title-wrap">
                                <div class="card__address">
                                    <svg><use xlink:href="#pointer-ico"></use></svg>
                                    г. Москва, ул.Измайловская, 41
                                </div>
                                <a href="#" class="card__on-map">
                                    <svg><use xlink:href="#pointer-ico"></use></svg>
                                    На карте
                                </a>
                                <div class="card__metro">
                                    <svg><use xlink:href="#metro-ico"></use></svg>
                                    <span class="metro-blue">м</span> Владыкино
                                </div>
                            </div>
                            <div class="card__title-wrap">
                                <a href="tel:+8 (495) 12123123" class="card__title-contact">
                                    <svg><use xlink:href="#phone-ico"></use></svg>
                                    8 (495) 12123123 (отдел продаж)
                                </a>
                                <a href="mailto:sale.conf@gmail.com" class="card__title-contact">
                                    <svg><use xlink:href="#mail-ico"></use></svg>
                                    sale.conf@gmail.com
                                </a>
                            </div>
                        </div>
                        <div class="card__slider-wrap">
                            <div class="card__slider">
                                <div class="card__slide">
                                    <img class="lazy" data-original="images/card-slider-img_01.jpg" alt=""></div>
                                <div class="card__slide">
                                    <img class="lazy" data-original="images/card-slider-img_01.jpg" alt=""></div>
                                <div class="card__slide">
                                    <img class="lazy" data-original="images/card-slider-img_01.jpg" alt=""></div>
                                <div class="card__slide">
                                    <img class="lazy" data-original="images/card-slider-img_01.jpg" alt=""></div>
                                <div class="card__slide">
                                    <img class="lazy" data-original="images/card-slider-img_01.jpg" alt=""></div>
                            </div>
                        </div>
                        <div class="card__slider-wrap">
                            <div class="card__slider-small">
                                <a href="images/card-slider-img_01.jpg" data-fancybox="slider" class="card__slide-small"><img class="lazy" data-original="images/card-slider-img_01.jpg" alt=""></a>
                                <a href="images/card-slider-img_01.jpg" data-fancybox="slider" class="card__slide-small"><img class="lazy" data-original="images/card-slider-img_01.jpg" alt=""></a>
                                <a href="images/card-slider-img_01.jpg" data-fancybox="slider" class="card__slide-small"><img class="lazy" data-original="images/card-slider-img_01.jpg" alt=""></a>
                                <a href="images/card-slider-img_01.jpg" data-fancybox="slider" class="card__slide-small"><img class="lazy" data-original="images/card-slider-img_01.jpg" alt=""></a>
                                <a href="images/card-slider-img_01.jpg" data-fancybox="slider" class="card__slide-small"><img class="lazy" data-original="images/card-slider-img_01.jpg" alt=""></a>
                            </div>
                            <div class="card__slider-desc">
                                Приятно, граждане, наблюдать, как тщательные исследования конкурентов освещают чрезвычайно интересные особенности картины в целом, однако конкретные выводы, разумеется, объявлены нарушающими общечеловеческие нормы этики и морали. Прежде всего, курс на социально-ориентированный национальный проект предопределяет высокую востребованность прогресса профессионального сообщества.
                            </div>
                        </div>
                    </div>
                    <div class="card__aside">
                        <div class="catalog__request">
                            <form class="poster__form catalog__form">
                                <div class="poster__form-title">Оставить заявку для
                                    отдела продаж</div>
                                <div class="poster__form-number">
                                    <input type="text" required placeholder="Номер телефона" class="tel-mask">
                                </div>
                                <div class="poster__form-desc">
                                    Наши менеджеры свяжутся с вами в ближайшее время
                                </div>
                                <div class="poster__form-btn">
                                    <button type="submit" class="btn">отправить</button>
                                </div>
                            </form>
                        </div>
                        <div class="card__slider-desc">
                            Приятно, граждане, наблюдать, как тщательные исследования конкурентов освещают чрезвычайно интересные особенности картины в целом, однако конкретные выводы, разумеется, объявлены нарушающими общечеловеческие нормы этики и морали. Прежде всего, курс на социально-ориентированный национальный проект предопределяет высокую востребованность прогресса профессионального сообщества.
                        </div>
                        <div class="card__place-contacts-col">
                            <div class="card__place-contacts-title">
                                Контакты отдела продаж <br> Swiss hotel
                            </div>
                            <a href="tel:+8 (495) 12123123" class="card__place-phone">
                                <svg><use xlink:href="#phone-ico"></use></svg>
                                8 (495) 12123123</a>
                            <a href="mailto:sale.conf@gmail.com" class="card__place-phone">
                                <svg><use xlink:href="#mail-ico"></use></svg>
                                sale.conf@gmail.com
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="halls">
                <div class="halls__all">
                    <div>Залов на площадке: <span>10</span></div>
                    <div class="halls__more">Раскрыть все площадки</div>
                </div>
                <div class="halls__collapse">
                    <div class="halls__wrap">
                        <div class="halls__list">
                            <div class="halls__item">
                                <div class="halls__name">
                                    <div class="halls__title">Зал Ленинград (<span>5 м2</span>)</div>
                                    <div class="halls__avatar">
                                        <img class="lazy" data-original="images/halls-img_01.jpg" alt="">
                                    </div>
                                </div>
                                <div class="halls__price">
                                    <div class="halls__price-title">Цена</div>
                                    <div class="halls__price-row">
                                        <span>20.000</span><span>руб/день</span>
                                    </div>
                                    <div class="halls__price-row">
                                        <span>10.000</span><span>руб/полдня</span>
                                    </div>
                                    <div class="halls__price-row">
                                        <span>3.000</span><span>руб/час</span>
                                    </div>
                                </div>
                                <div class="halls__size">
                                    <div class="halls__size-title">Вместимость</div>
                                    <div class="halls__size-row">
                                        <div class="halls__size-number">
                                            Театр
                                            <span>1000</span>
                                        </div>
                                        <div class="halls__size-number">
                                            Класс
                                            <span>500</span>
                                        </div>
                                        <div class="halls__size-number">
                                            Банкет
                                            <span>300</span>
                                        </div>
                                        <div class="halls__size-number">
                                            По периметру
                                            <span>250</span>
                                        </div>
                                        <div class="halls__size-number">
                                            Фуршет
                                            <span>260</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="halls__callback">
                                <a href="#" class="btn btn-default">Оставить заявку</a>
                            </div>
                        </div>
                        <div class="halls__slider-wrap">
                            <div class="halls__slider">
                                <a href="images/halls-slider_01.jpg" data-fancybox="halls-slider" class="halls__slide"><img class="lazy" data-original="images/halls-slider_01.jpg" alt=""></a>
                                <a href="images/halls-slider_02.jpg" data-fancybox="halls-slider" class="halls__slide"><img class="lazy" data-original="images/halls-slider_02.jpg" alt=""></a>
                                <a href="images/halls-slider_03.jpg" data-fancybox="halls-slider" class="halls__slide"><img class="lazy" data-original="images/halls-slider_03.jpg" alt=""></a>
                                <a href="images/halls-slider_04.jpg" data-fancybox="halls-slider" class="halls__slide"><img class="lazy" data-original="images/halls-slider_04.jpg" alt=""></a>
                                <a href="images/halls-slider_05.jpg" data-fancybox="halls-slider" class="halls__slide"><img class="lazy" data-original="images/halls-slider_05.jpg" alt=""></a>
                                <a href="images/halls-slider_06.jpg" data-fancybox="halls-slider" class="halls__slide"><img class="lazy" data-original="images/halls-slider_06.jpg" alt=""></a>
                                <a href="images/halls-slider_01.jpg" data-fancybox="halls-slider" class="halls__slide"><img class="lazy" data-original="images/halls-slider_01.jpg" alt=""></a>
                            </div>
                        </div>
                        <div class="halls__desc">
                            <div class="halls__desc-title">
                                <b>Бальный зал ЧАЙКОВСКИЙ  (530 кв.м.)</b> рассчитан на <b>600 человек.</b>
                            </div>
                            <div class="halls__desc-position">
                                Зал расположен на <b>3 этаже</b> гостиницы.
                            </div>
                            <div class="halls__desc-info">
                                Просторный красивый зал поражает гостей своим великолепием. Большие окна, роскошный интерьер, оборудование высочайшего класса, шикарная акустика. Перед большим залом расположена <b>приветственная зона площадью 202 кв.м./на 200 человек.</b> В ней можно устроить приветственный коктейль, регистрацию гостей или выставку.
                            </div>
                            <div class="card__place-contacts-row">
                                <div class="card__place-contacts-title">
                                    Контакты отдела продаж
                                </div>
                                <a href="tel:+7 (495) 133-89-97" class="card__place-phone">
                                    <svg><use xlink:href="#phone-ico"></use></svg>
                                    +7 (495) 133-89-97</a>
                                <a href="mailto:sale.conf@gmail.com" class="card__place-phone">
                                    <svg><use xlink:href="#mail-ico"></use></svg>
                                    sale.conf@gmail.com
                                </a>
                            </div>
                        </div>
                        <div class="halls__mob-btn">
                            <a href="#" class="btn btn-default">Оставить заявку</a>
                        </div>
                    </div>
                    <div class="halls__collapse-btn"></div>
                </div>
                <div class="halls__collapse">
                    <div class="halls__wrap">
                        <div class="halls__list">
                            <div class="halls__item">
                                <div class="halls__name">
                                    <div class="halls__title">Зал Ленинград (<span>5 м2</span>)</div>
                                    <div class="halls__avatar">
                                        <img class="lazy" data-original="images/halls-img_02.jpg" alt="">
                                    </div>
                                </div>
                                <div class="halls__price">
                                    <div class="halls__price-title">Цена</div>
                                    <div class="halls__price-row">
                                        <span>20.000</span><span>руб/день</span>
                                    </div>
                                    <div class="halls__price-row">
                                        <span>10.000</span><span>руб/полдня</span>
                                    </div>
                                    <div class="halls__price-row">
                                        <span>3.000</span><span>руб/час</span>
                                    </div>
                                </div>
                                <div class="halls__size">
                                    <div class="halls__size-title">Вместимость</div>
                                    <div class="halls__size-row">
                                        <div class="halls__size-number">
                                            Театр
                                            <span>1000</span>
                                        </div>
                                        <div class="halls__size-number">
                                            Класс
                                            <span>500</span>
                                        </div>
                                        <div class="halls__size-number">
                                            Банкет
                                            <span>300</span>
                                        </div>
                                        <div class="halls__size-number">
                                            По периметру
                                            <span>250</span>
                                        </div>
                                        <div class="halls__size-number">
                                            Фуршет
                                            <span>260</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="halls__callback">
                                <a href="#" class="btn btn-default">Оставить заявку</a>
                            </div>
                        </div>
                        <div class="halls__slider-wrap">
                            <div class="halls__slider">
                                <a href="images/halls-slider_01.jpg" data-fancybox="halls-slider" class="halls__slide"><img class="lazy" data-original="images/halls-slider_01.jpg" alt=""></a>
                                <a href="images/halls-slider_02.jpg" data-fancybox="halls-slider" class="halls__slide"><img class="lazy" data-original="images/halls-slider_02.jpg" alt=""></a>
                                <a href="images/halls-slider_03.jpg" data-fancybox="halls-slider" class="halls__slide"><img class="lazy" data-original="images/halls-slider_03.jpg" alt=""></a>
                                <a href="images/halls-slider_04.jpg" data-fancybox="halls-slider" class="halls__slide"><img class="lazy" data-original="images/halls-slider_04.jpg" alt=""></a>
                                <a href="images/halls-slider_05.jpg" data-fancybox="halls-slider" class="halls__slide"><img class="lazy" data-original="images/halls-slider_05.jpg" alt=""></a>
                                <a href="images/halls-slider_06.jpg" data-fancybox="halls-slider" class="halls__slide"><img class="lazy" data-original="images/halls-slider_06.jpg" alt=""></a>
                                <a href="images/halls-slider_01.jpg" data-fancybox="halls-slider" class="halls__slide"><img class="lazy" data-original="images/halls-slider_01.jpg" alt=""></a>
                            </div>
                        </div>
                        <div class="halls__desc">
                            <div class="halls__desc-title">
                                <b>Бальный зал ЧАЙКОВСКИЙ  (530 кв.м.)</b> рассчитан на <b>600 человек.</b>
                            </div>
                            <div class="halls__desc-position">
                                Зал расположен на <b>3 этаже</b> гостиницы.
                            </div>
                            <div class="halls__desc-info">
                                Просторный красивый зал поражает гостей своим великолепием. Большие окна, роскошный интерьер, оборудование высочайшего класса, шикарная акустика. Перед большим залом расположена <b>приветственная зона площадью 202 кв.м./на 200 человек.</b> В ней можно устроить приветственный коктейль, регистрацию гостей или выставку.
                            </div>
                            <div class="card__place-contacts-row">
                                <div class="card__place-contacts-title">
                                    Контакты отдела продаж
                                </div>
                                <a href="tel:+7 (495) 133-89-97" class="card__place-phone">
                                    <svg><use xlink:href="#phone-ico"></use></svg>
                                    +7 (495) 133-89-97</a>
                                <a href="mailto:sale.conf@gmail.com" class="card__place-phone">
                                    <svg><use xlink:href="#mail-ico"></use></svg>
                                    sale.conf@gmail.com
                                </a>
                            </div>
                        </div>
                        <div class="halls__mob-btn">
                            <a href="#" class="btn btn-default">Оставить заявку</a>
                        </div>
                    </div>
                    <div class="halls__collapse-btn"></div>
                </div>
                <div class="halls__collapse">
                    <div class="halls__wrap">
                        <div class="halls__list">
                            <div class="halls__item">
                                <div class="halls__name">
                                    <div class="halls__title">Зал Ленинград (<span>5 м2</span>)</div>
                                    <div class="halls__avatar">
                                        <img class="lazy" data-original="images/halls-img_03.jpg" alt="">
                                    </div>
                                </div>
                                <div class="halls__price">
                                    <div class="halls__price-title">Цена</div>
                                    <div class="halls__price-row">
                                        <span>20.000</span><span>руб/день</span>
                                    </div>
                                    <div class="halls__price-row">
                                        <span>10.000</span><span>руб/полдня</span>
                                    </div>
                                    <div class="halls__price-row">
                                        <span>3.000</span><span>руб/час</span>
                                    </div>
                                </div>
                                <div class="halls__size">
                                    <div class="halls__size-title">Вместимость</div>
                                    <div class="halls__size-row">
                                        <div class="halls__size-number">
                                            Театр
                                            <span>1000</span>
                                        </div>
                                        <div class="halls__size-number">
                                            Класс
                                            <span>500</span>
                                        </div>
                                        <div class="halls__size-number">
                                            Банкет
                                            <span>300</span>
                                        </div>
                                        <div class="halls__size-number">
                                            По периметру
                                            <span>250</span>
                                        </div>
                                        <div class="halls__size-number">
                                            Фуршет
                                            <span>260</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="halls__callback">
                                <a href="#" class="btn btn-default">Оставить заявку</a>
                            </div>
                        </div>
                        <div class="halls__slider-wrap">
                            <div class="halls__slider">
                                <a href="images/halls-slider_01.jpg" data-fancybox="halls-slider" class="halls__slide"><img class="lazy" data-original="images/halls-slider_01.jpg" alt=""></a>
                                <a href="images/halls-slider_02.jpg" data-fancybox="halls-slider" class="halls__slide"><img class="lazy" data-original="images/halls-slider_02.jpg" alt=""></a>
                                <a href="images/halls-slider_03.jpg" data-fancybox="halls-slider" class="halls__slide"><img class="lazy" data-original="images/halls-slider_03.jpg" alt=""></a>
                                <a href="images/halls-slider_04.jpg" data-fancybox="halls-slider" class="halls__slide"><img class="lazy" data-original="images/halls-slider_04.jpg" alt=""></a>
                                <a href="images/halls-slider_05.jpg" data-fancybox="halls-slider" class="halls__slide"><img class="lazy" data-original="images/halls-slider_05.jpg" alt=""></a>
                                <a href="images/halls-slider_06.jpg" data-fancybox="halls-slider" class="halls__slide"><img class="lazy" data-original="images/halls-slider_06.jpg" alt=""></a>
                                <a href="images/halls-slider_01.jpg" data-fancybox="halls-slider" class="halls__slide"><img class="lazy" data-original="images/halls-slider_01.jpg" alt=""></a>
                            </div>
                        </div>
                        <div class="halls__desc">
                            <div class="halls__desc-title">
                                <b>Бальный зал ЧАЙКОВСКИЙ  (530 кв.м.)</b> рассчитан на <b>600 человек.</b>
                            </div>
                            <div class="halls__desc-position">
                                Зал расположен на <b>3 этаже</b> гостиницы.
                            </div>
                            <div class="halls__desc-info">
                                Просторный красивый зал поражает гостей своим великолепием. Большие окна, роскошный интерьер, оборудование высочайшего класса, шикарная акустика. Перед большим залом расположена <b>приветственная зона площадью 202 кв.м./на 200 человек.</b> В ней можно устроить приветственный коктейль, регистрацию гостей или выставку.
                            </div>
                            <div class="card__place-contacts-row">
                                <div class="card__place-contacts-title">
                                    Контакты отдела продаж
                                </div>
                                <a href="tel:+7 (495) 133-89-97" class="card__place-phone">
                                    <svg><use xlink:href="#phone-ico"></use></svg>
                                    +7 (495) 133-89-97</a>
                                <a href="mailto:sale.conf@gmail.com" class="card__place-phone">
                                    <svg><use xlink:href="#mail-ico"></use></svg>
                                    sale.conf@gmail.com
                                </a>
                            </div>
                        </div>
                        <div class="halls__mob-btn">
                            <a href="#" class="btn btn-default">Оставить заявку</a>
                        </div>
                    </div>
                    <div class="halls__collapse-btn"></div>
                </div>
                <div class="halls__collapse">
                    <div class="halls__wrap">
                        <div class="halls__list">
                            <div class="halls__item">
                                <div class="halls__name">
                                    <div class="halls__title">Зал Ленинград (<span>5 м2</span>)</div>
                                    <div class="halls__avatar">
                                        <img class="lazy" data-original="images/halls-img_04.jpg" alt="">
                                    </div>
                                </div>
                                <div class="halls__price">
                                    <div class="halls__price-title">Цена</div>
                                    <div class="halls__price-row">
                                        <span>20.000</span><span>руб/день</span>
                                    </div>
                                    <div class="halls__price-row">
                                        <span>10.000</span><span>руб/полдня</span>
                                    </div>
                                    <div class="halls__price-row">
                                        <span>3.000</span><span>руб/час</span>
                                    </div>
                                </div>
                                <div class="halls__size">
                                    <div class="halls__size-title">Вместимость</div>
                                    <div class="halls__size-row">
                                        <div class="halls__size-number">
                                            Театр
                                            <span>1000</span>
                                        </div>
                                        <div class="halls__size-number">
                                            Класс
                                            <span>500</span>
                                        </div>
                                        <div class="halls__size-number">
                                            Банкет
                                            <span>300</span>
                                        </div>
                                        <div class="halls__size-number">
                                            По периметру
                                            <span>250</span>
                                        </div>
                                        <div class="halls__size-number">
                                            Фуршет
                                            <span>260</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="halls__callback">
                                <a href="#" class="btn btn-default">Оставить заявку</a>
                            </div>
                        </div>
                        <div class="halls__slider-wrap">
                            <div class="halls__slider">
                                <a href="images/halls-slider_01.jpg" data-fancybox="halls-slider" class="halls__slide"><img class="lazy" data-original="images/halls-slider_01.jpg" alt=""></a>
                                <a href="images/halls-slider_02.jpg" data-fancybox="halls-slider" class="halls__slide"><img class="lazy" data-original="images/halls-slider_02.jpg" alt=""></a>
                                <a href="images/halls-slider_03.jpg" data-fancybox="halls-slider" class="halls__slide"><img class="lazy" data-original="images/halls-slider_03.jpg" alt=""></a>
                                <a href="images/halls-slider_04.jpg" data-fancybox="halls-slider" class="halls__slide"><img class="lazy" data-original="images/halls-slider_04.jpg" alt=""></a>
                                <a href="images/halls-slider_05.jpg" data-fancybox="halls-slider" class="halls__slide"><img class="lazy" data-original="images/halls-slider_05.jpg" alt=""></a>
                                <a href="images/halls-slider_06.jpg" data-fancybox="halls-slider" class="halls__slide"><img class="lazy" data-original="images/halls-slider_06.jpg" alt=""></a>
                                <a href="images/halls-slider_01.jpg" data-fancybox="halls-slider" class="halls__slide"><img class="lazy" data-original="images/halls-slider_01.jpg" alt=""></a>
                            </div>
                        </div>
                        <div class="halls__desc">
                            <div class="halls__desc-title">
                                <b>Бальный зал ЧАЙКОВСКИЙ  (530 кв.м.)</b> рассчитан на <b>600 человек.</b>
                            </div>
                            <div class="halls__desc-position">
                                Зал расположен на <b>3 этаже</b> гостиницы.
                            </div>
                            <div class="halls__desc-info">
                                Просторный красивый зал поражает гостей своим великолепием. Большие окна, роскошный интерьер, оборудование высочайшего класса, шикарная акустика. Перед большим залом расположена <b>приветственная зона площадью 202 кв.м./на 200 человек.</b> В ней можно устроить приветственный коктейль, регистрацию гостей или выставку.
                            </div>
                            <div class="card__place-contacts-row">
                                <div class="card__place-contacts-title">
                                    Контакты отдела продаж
                                </div>
                                <a href="tel:+7 (495) 133-89-97" class="card__place-phone">
                                    <svg><use xlink:href="#phone-ico"></use></svg>
                                    +7 (495) 133-89-97</a>
                                <a href="mailto:sale.conf@gmail.com" class="card__place-phone">
                                    <svg><use xlink:href="#mail-ico"></use></svg>
                                    sale.conf@gmail.com
                                </a>
                            </div>
                        </div>
                        <div class="halls__mob-btn">
                            <a href="#" class="btn btn-default">Оставить заявку</a>
                        </div>
                    </div>
                    <div class="halls__collapse-btn"></div>
                </div>
            </div>
        </div>
        <div class="card__desc">
            <div class="mbox">
                <div class="card__desc-title">Общая информация по площадке</div>
                <div class="card__desc-info">
                    <p>
                        <b>ELYSIUM (1800 кв.м.)</b> вмещает до <b>2 000 человек.</b> Новое имя банкетного зала комплекса ICON, расположенного на Красном Октябре. Это эксклюзивная event-площадка, предназначенная для качественного проведения корпоративных мероприятий, концертов, светских событий и частных праздников. Геометрия зала универсальна, она адаптирована для проведения банкетов, фуршетов.
                    </p>
                    <p>
                        Площадка располагает собственным масштабным техническим райдером (экраны, звук, свет), банкетной службой и штатом высококвалифицированных сотрудников, что позволяет проводить любые события на самом высоком уровне, определять оптимальные и гибкие варианты их формирования.
                    </p>
                    <p>
                        <b>Банкетный зал Elysium</b> представляет собой трехуровневое пространство общей площадью <b>1 200 м²</b>, что дает возможность разместить до <b>450 гостей</b> при банкетной рассадке (250 человек — в партере и 200 человек — на двух балконах).<br>
                    </p>
                    <ul>
                        <li>
                            Концертный зал Elysium (1200 кв.м. /на 2000 человек).
                        </li>
                        <li>
                            Icon Bar welcome-зона (600 кв.м. /на 500 человек).
                        </li>
                    </ul>
                    <p>
                        Контактная барная стойка, стойка для диджея, высококлассное звуковое и световое оборудование. На стенах Icon Bar - <b>25 плазменных панелей,</b> специальные поверхности для размещения рекламных и информационных материалов.
                    </p>
                    <p>
                        <b>Аренда зала в центре Elysium (Icon)</b> - это прекрасная возможность для светских, развлекательных и корпоративных событий. Ваши гости оценят прекрасный выбор места встречи и надолго запомнят Ваше мероприятие.
                    </p>
                    <p>
                        <b>Для постоянных клиентов и при повторном заказе скидка <span class="red">5 %</span>!</b>
                    </p>
                    <p>
                        Стоимость аренды зала - от <b>400 000 рублей за сутки</b>
                    </p>
                </div>
            </div>
        </div>
        <div class="card__map-wrap">
            <div class="mbox">
                <div class="card__map-row">
                    <div class="card__map-contacts card__place-contacts-col">
                        <div class="card__place-contacts-title card__map-contacts-title">
                            Как добраться
                        </div>
                        <a href="#" class="card__place-phone card__map-pointer">
                            <svg><use xlink:href="#pointer-ico"></use></svg>
                            Москва, Болотная набережная, д.9, стр.1,<br>
                            банкетный зал Elysium (Icon)</a>
                        <a href="#" class="card__place-phone card__map-metro">
                            <svg><use xlink:href="#metro-ico"></use></svg>
                            <span class="metro-blue">м</span> КРОПОТКИНСКАЯ (12 мин. пешком)
                        </a>
                    </div>
                    <div id="card-map" class="card__map main__form"></div>
                </div>
            </div>
        </div>
        <div class="card__feedback-wrap">
            <div class="mbox">
                <div class="card__rating">
                    <div class="card__rating-box main__form">
                        <div class="card__rating-title">Превосходно</div>
                        <div class="card__rating-number">
                            <span>9</span>
                            ,
                            <span>1</span>
                        </div>
                    </div>
                    <div class="card__options">
                        <div class="card__option">
                            <div class="card__option-title">
                                Соотношение Цена/Качество
                                <span>8.6</span>
                            </div>
                            <progress value="8.6" max="10"></progress>
                        </div>
                        <div class="card__option">
                            <div class="card__option-title">
                                Услуги
                                <span>8.6</span>
                            </div>
                            <progress value="8.6" max="10"></progress>
                        </div>
                        <div class="card__option">
                            <div class="card__option-title">
                                Местоположение
                                <span>8.6</span>
                            </div>
                            <progress value="8.6" max="10"></progress>
                        </div>
                        <div class="card__option">
                            <div class="card__option-title">
                                Персонал
                                <span>8.6</span>
                            </div>
                            <progress value="8.6" max="10"></progress>
                        </div>
                    </div>
                    <div class="card__feedback">
                        <div class="card__feedback-title">Вы можете оставить свой <br> отзыв о площадке</div>
                        <div class="card__feedback-btn">
                            <a href="#feedback-popup" data-fancybox class="btn btn-default">Оставить отзыв</a>
                        </div>
                    </div>
                </div>
                <div class="card__review-wrap">
                    <div class="card__review">
                        <div class="card__review-name">Олексюк Евгений</div>
                        <div class="card__review-row">
                            <div class="card__review-company">ПАО "ЛУКойл"</div>
                            <div class="card__review-date"><span>09.08.2019</span>   <span>10.15</span></div>
                        </div>
                        <div class="card__review-desc">
                            Очень крутой зал! Все понравилось: хорошее обслуживание, вкусная кухня, очень приветливый персонал. Отдельно отмечу менеджера по подбору зала -
                            Анну. Она очень постаралась минимизировать все проблемные вопросы. Очень классно справилась с обеспечением гостей парковочными местами.
                            <br>
                            Очень рекоммендую площадку.
                        </div>
                        <div class="card__review-benefits card__review-positive">
                            <svg><use xlink:href="#smile1-ico"></use></svg>
                            <span>Расположение отличное, пероснал отличный.</span>
                        </div>
                        <div class="card__review-benefits card__review-negative">
                            <svg><use xlink:href="#smile2-ico"></use></svg>
                            <span>Медленный WI-FI</span>
                        </div>
                    </div>
                    <div class="card__review">
                        <div class="card__review-name">Олексюк Евгений</div>
                        <div class="card__review-row">
                            <div class="card__review-company">ПАО "ЛУКойл"</div>
                            <div class="card__review-date"><span>09.08.2019</span>   <span>10.15</span></div>
                        </div>
                        <div class="card__review-desc">
                            Очень крутой зал! Все понравилось: хорошее обслуживание, вкусная кухня, очень приветливый персонал. Отдельно отмечу менеджера по подбору зала -
                            Анну. Она очень постаралась минимизировать все проблемные вопросы. Очень классно справилась с обеспечением гостей парковочными местами.
                            <br>
                            Очень рекоммендую площадку.
                        </div>
                        <div class="card__review-benefits card__review-positive">
                            <svg><use xlink:href="#smile1-ico"></use></svg>
                            <span>Расположение отличное, пероснал отличный.</span>
                        </div>
                        <div class="card__review-benefits card__review-negative">
                            <svg><use xlink:href="#smile2-ico"></use></svg>
                            <span>Медленный WI-FI</span>
                        </div>
                    </div>
                    <div class="card__review">
                        <div class="card__review-name">Олексюк Евгений</div>
                        <div class="card__review-row">
                            <div class="card__review-company">ПАО "ЛУКойл"</div>
                            <div class="card__review-date"><span>09.08.2019</span>   <span>10.15</span></div>
                        </div>
                        <div class="card__review-desc">
                            Очень крутой зал! Все понравилось: хорошее обслуживание, вкусная кухня, очень приветливый персонал. Отдельно отмечу менеджера по подбору зала -
                            Анну. Она очень постаралась минимизировать все проблемные вопросы. Очень классно справилась с обеспечением гостей парковочными местами.
                            <br>
                            Очень рекоммендую площадку.
                        </div>
                        <div class="card__review-benefits card__review-positive">
                            <svg><use xlink:href="#smile1-ico"></use></svg>
                            <span>Расположение отличное, пероснал отличный.</span>
                        </div>
                        <div class="card__review-benefits card__review-negative">
                            <svg><use xlink:href="#smile2-ico"></use></svg>
                            <span>Медленный WI-FI</span>
                        </div>
                    </div>
                    <div class="card__review">
                        <div class="card__review-name">Олексюк Евгений</div>
                        <div class="card__review-row">
                            <div class="card__review-company">ПАО "ЛУКойл"</div>
                            <div class="card__review-date"><span>09.08.2019</span>   <span>10.15</span></div>
                        </div>
                        <div class="card__review-desc">
                            Очень крутой зал! Все понравилось: хорошее обслуживание, вкусная кухня, очень приветливый персонал. Отдельно отмечу менеджера по подбору зала -
                            Анну. Она очень постаралась минимизировать все проблемные вопросы. Очень классно справилась с обеспечением гостей парковочными местами.
                            <br>
                            Очень рекоммендую площадку.
                        </div>
                        <div class="card__review-benefits card__review-positive">
                            <svg><use xlink:href="#smile1-ico"></use></svg>
                            <span>Расположение отличное, пероснал отличный.</span>
                        </div>
                        <div class="card__review-benefits card__review-negative">
                            <svg><use xlink:href="#smile2-ico"></use></svg>
                            <span>Медленный WI-FI</span>
                        </div>
                    </div>
                    <div class="card__review">
                        <div class="card__review-name">Олексюк Евгений</div>
                        <div class="card__review-row">
                            <div class="card__review-company">ПАО "ЛУКойл"</div>
                            <div class="card__review-date"><span>09.08.2019</span>   <span>10.15</span></div>
                        </div>
                        <div class="card__review-desc">
                            Очень крутой зал! Все понравилось: хорошее обслуживание, вкусная кухня, очень приветливый персонал. Отдельно отмечу менеджера по подбору зала -
                            Анну. Она очень постаралась минимизировать все проблемные вопросы. Очень классно справилась с обеспечением гостей парковочными местами.
                            <br>
                            Очень рекоммендую площадку.
                        </div>
                        <div class="card__review-benefits card__review-positive">
                            <svg><use xlink:href="#smile1-ico"></use></svg>
                            <span>Расположение отличное, пероснал отличный.</span>
                        </div>
                        <div class="card__review-benefits card__review-negative">
                            <svg><use xlink:href="#smile2-ico"></use></svg>
                            <span>Медленный WI-FI</span>
                        </div>
                    </div>
                    <div class="card__review-btn">
                        <a href="#" class="btn btn-default btn-border">показать все отзывы</a>
                        <a href="#feedback-popup" data-fancybox class="btn btn-default">Оставить отзыв</a>
                    </div>
                </div>
            </div>
        </div>
        //= parts/feedback.html
        <script>
            function initMap() {
                var myLatLng = {lat: 55.7447492, lng: 37.6181179};

                var map = new google.maps.Map(document.getElementById('card-map'), {
                    zoom: 15,
                    disableDefaultUI: true,
                    center: myLatLng
                });

                var marker = new google.maps.Marker({
                    position: myLatLng,
                    map: map,
                    title: 'Hello World!'
                });
            }
        </script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBPVi3MrjI8ZSP9iysLqZi5spMixYN_HVI&callback=initMap"
                async defer></script>
    </div>
    //= parts/footer.html
    //= parts/footer-links.html
</div>
</body>
</html>