//= parts/head.html
<div class="global-wrapper">
    //= parts/header.html
    <div class="page">
        <div class="catalog-wrap">
            <div class="mbox">
                <div class="filter-btn"><div class="btn btn-default">поиск по параметрам</div></div>
                <div class="catalog">
                    <div class="catalog__aside">
                        <form class="main__form">
                            <div class="main__form-input-wrap">
                                <div class="main__form-input">
                                    <input type="text" required placeholder="Город, метро, площадка">
                                </div>
                                <div class="main__form-input">
                                    <select data-placeholder="Вместимость">
                                        <option></option>
                                        <option value="Любая">Любая</option>
                                        <option value="До 50 человек">до 50 человек</option>
                                        <option value="До 100 человек">от 50 до 100 человек</option>
                                        <option value="До 300 человек">от 100 до 300 человек</option>
                                        <option value="До 500 человек">от 300 до 500 человек</option>
                                        <option value="До 1000 человек">от 500 до 1000 человек</option>
                                        <option value="1000+ человек">свыше 1000 человек</option>
                                    </select>
                                </div>
                                <div class="main__form-input">
                                    <select data-placeholder="Тип площадки">
                                        <option></option>
                                        <option value="Театр">Любая</option>
                                        <option value="Класс">Конференц залы</option>
                                        <option value="Банкет">Банкетные залы</option>
                                        <option value="По периметру">Концертные залы</option>
                                        <option value="Фуршет">Выставочные залы</option>
                                        <option value="Лофты">Лофты</option>
                                        <option value="Усадьбы и особняки">Усадьбы и особняки</option>
                                        <option value="Загородные площадки">Загородные площадки</option>
                                        <option value="Особые площадки">Особые площадки</option>
                                    </select>
                                </div>
                                <div class="main__form-input">
                                    <select data-placeholder="Рассадка">
                                        <option></option>
                                        <option class="select-ico select-theater" value="Театр">Театр</option>
                                        <option class="select-ico select-class" value="Класс">Класс</option>
                                        <option class="select-ico select-banquet" value="Банкет">Банкет</option>
                                        <option class="select-ico select-perimeter" value="По периметру">По периметру</option>
                                        <option class="select-ico select-buffet" value="Фуршет">Фуршет</option>
                                        <option class="select-ico select-p" value="Фуршет">Буквой П</option>
                                    </select>
                                </div>
                            </div>
                            <div class="main__form-btn">
                                <button type="submit" class="btn btn-default">Найти</button>
                            </div>
                            <div class="catalog__filter">
                                <div class="catalog__filter-title">Фильтр результатов:</div>
                                <div class="catalog__filter-section">
                                    <div class="catalog__filter-section-title">Категория</div>
                                    <div class="catalog__filter-value">
                                        <div class="catalog__filter-input">
                                            <label>
                                                <input type="checkbox"> 3 звезды
                                            </label>
                                        </div>
                                        <div class="catalog__filter-input">
                                            <label>
                                                <input type="checkbox"> 4 звезды
                                            </label>
                                        </div>
                                        <div class="catalog__filter-input">
                                            <label>
                                                <input type="checkbox"> 5 звезды
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="catalog__filter-section">
                                    <div class="catalog__filter-section-title">Дополнительный фильтр</div>
                                    <div class="catalog__filter-value">
                                        <div class="catalog__filter-input">
                                            <label>
                                                <input type="checkbox"> Центр города
                                            </label>
                                        </div>
                                        <div class="catalog__filter-input">
                                            <label>
                                                <input type="checkbox"> Проживание участников
                                            </label>
                                        </div>
                                        <div class="catalog__filter-input">
                                            <label>
                                                <input type="checkbox"> Установка авто
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="catalog__filter-section">
                                    <div class="catalog__filter-section-title">Цена руб./ день:</div>
                                    <div class="catalog__filter-value">
                                        <div class="catalog__filter-btn-wrap">
                                            <label class="catalog__filter-btn">
                                                <input type="text" class="catalog__filter-range-dots catalog__filter-range-left "/>
                                            </label>
                                            <div class="catalog__filter-line"></div>
                                            <label class="catalog__filter-btn">
                                                <input type="text" class="catalog__filter-range-dots catalog__filter-range-right "/>
                                            </label>

                                        </div>
                                        <div class="catalog__filter-range">
                                            <label>
                                                <span>От</span>
                                                <input type="text" class="catalog__filter-range-dots catalog__filter-range-left"/>
                                            </label>
                                            <label>
                                                <span>До</span>
                                                <input type="text" class="catalog__filter-range-dots catalog__filter-range-right"/>
                                            </label>
                                            <div class="catalog__filter-range-line"></div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="aside__close"></div>
                    </div>
                    <div class="catalog__content">
                        //= parts/breadcrumbs.html
                        <div class="places__title">Площадки города Москва</div>
                        <div class="places__desc">Приятно, граждане, наблюдать, как тщательные исследования конкурентов освещают чрезвычайно интересные особенности картины в целом, однако конкретные выводы, разумеется, объявлены нарушающими нормы этики.</div>
                        <div class="catalog__express">
                            <a href="#" class="catalog__map">
                                <img src="images/catalog-map.jpg" alt="">
                                <span>Все площадки Москвы <br> на карте</span>
                            </a>
                            <div class="catalog__request">
                                <form class="poster__form catalog__form">
                                    <div class="poster__form-title">Экспресс-запрос</div>
                                    <div class="poster__form-number">
                                        <input type="text" required placeholder="Ваше имя">
                                    </div>
                                    <div class="poster__form-number">
                                        <input type="text" required placeholder="Контактный телефон" class="tel-mask">
                                    </div>
                                    <div class="poster__form-number">
                                        <textarea class="catalog__textarea" placeholder="Пожелания к мероприятию: дата, время, количество человек и т.д."></textarea>
                                    </div>
                                    <div class="poster__form-btn">
                                        <button type="submit" class="btn btn-default">отправить</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="places">
                            <div class="city">
                                <div class="city__item">
                                    <div class="city__img">
                                        <img src="./images/places-img_01.jpg" alt="">
                                    </div>
                                    <a href="#" class="places__name">Бизнес <br> площадки</a>
                                </div>
                                <div class="city__item">
                                    <div class="city__img">
                                        <img src="./images/places-img_02.jpg" alt="">
                                    </div>
                                    <a href="#" class="places__name">Лофты</a>
                                </div>
                                <div class="city__item">
                                    <div class="city__img">
                                        <img src="./images/places-img_03.jpg" alt="">
                                    </div>
                                    <a href="#" class="places__name">Банкетные <br> площадки</a>
                                </div>
                                <div class="city__item">
                                    <div class="city__img">
                                        <img src="./images/places-img_04.jpg" alt="">
                                    </div>
                                    <a href="#" class="places__name">Концертные <br> площадки</a>
                                </div>
                                <div class="city__item">
                                    <div class="city__img">
                                        <img src="./images/places-img_05.jpg" alt="">
                                    </div>
                                    <a href="#" class="places__name">Загородные <br> площадки</a>
                                </div>
                                <div class="city__item">
                                    <div class="city__img">
                                        <img src="./images/places-img_06.jpg" alt="">
                                    </div>
                                    <a href="#" class="places__name">Особые <br> площадки</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="overlay" style="display: none;"></div>
            </div>
        </div>
    </div>
    //= parts/footer.html
    //= parts/footer-links.html
</div>
</body>
</html>