//= parts/head.html
<div class="global-wrapper">
    //= parts/header.html
    <div class="page">
        <div class="events">
            <div class="portfolio">
                <div class="mbox">
                    <div class="portfolio__head">
                        <h1>Портфолио</h1>
                    </div>
                    //= parts/breadcrumbs.html
                    <div class="city__tabs">
                        <div class="city__tab js-tab">Москва</div>
                        <div class="city__tab js-tab">Санкт-Петербург</div>
                        <div class="city__tab js-tab">Казань</div>
                        <div class="city__tab js-tab">Екатеринбург</div>
                        <div class="city__tab js-tab">Новосибирск</div>
                        <div class="city__tab js-tab">Сочи</div>
                    </div>
                    <div class="city">
                        <div class="city__item js-content">
                            <div class="city__img">
                                <img src="./images/city-img_01.jpg" alt="">
                            </div>
                            <div class="city__title">Москва</div>
                            <div class="city__desc">
                                <a href="#" class="city__desc-list">Бизнес площадки</a>
                                <a href="#" class="city__desc-list">Лофты</a>
                                <a href="#" class="city__desc-list">Банкетные площадки</a>
                                <a href="#" class="city__desc-list">Концертные площадки</a>
                                <a href="#" class="city__desc-list">Загородные площадки</a>
                                <a href="#" class="city__desc-list">Особые площадки</a>
                            </div>
                        </div>
                        <div class="city__item js-content">
                            <div class="city__img">
                                <img src="./images/city-img_02.jpg" alt="">
                            </div>
                            <div class="city__title">Санкт-Петербург</div>
                            <div class="city__desc">
                                <a href="#" class="city__desc-list">Бизнес площадки</a>
                                <a href="#" class="city__desc-list">Лофты</a>
                                <a href="#" class="city__desc-list">Банкетные площадки</a>
                                <a href="#" class="city__desc-list">Концертные площадки</a>
                                <a href="#" class="city__desc-list">Загородные площадки</a>
                                <a href="#" class="city__desc-list">Особые площадки</a>
                            </div>
                        </div>
                        <div class="city__item js-content">
                            <div class="city__img">
                                <img src="./images/city-img_03.jpg" alt="">
                            </div>
                            <div class="city__title">Казань</div>
                            <div class="city__desc">
                                <a href="#" class="city__desc-list">Бизнес площадки</a>
                                <a href="#" class="city__desc-list">Лофты</a>
                                <a href="#" class="city__desc-list">Банкетные площадки</a>
                                <a href="#" class="city__desc-list">Концертные площадки</a>
                                <a href="#" class="city__desc-list">Загородные площадки</a>
                                <a href="#" class="city__desc-list">Особые площадки</a>
                            </div>
                        </div>
                        <div class="city__item js-content">
                            <div class="city__img">
                                <img src="./images/city-img_02.jpg" alt="">
                            </div>
                            <div class="city__title">Екатеринбург</div>
                            <div class="city__desc">
                                <a href="#" class="city__desc-list">Бизнес площадки</a>
                                <a href="#" class="city__desc-list">Лофты</a>
                                <a href="#" class="city__desc-list">Банкетные площадки</a>
                                <a href="#" class="city__desc-list">Концертные площадки</a>
                                <a href="#" class="city__desc-list">Загородные площадки</a>
                                <a href="#" class="city__desc-list">Особые площадки</a>
                            </div>
                        </div>
                        <div class="city__item js-content">
                            <div class="city__img">
                                <img src="./images/city-img_05.jpg" alt="">
                            </div>
                            <div class="city__title">Новосибирск</div>
                            <div class="city__desc">
                                <a href="#" class="city__desc-list">Бизнес площадки</a>
                                <a href="#" class="city__desc-list">Лофты</a>
                                <a href="#" class="city__desc-list">Банкетные площадки</a>
                                <a href="#" class="city__desc-list">Концертные площадки</a>
                                <a href="#" class="city__desc-list">Загородные площадки</a>
                                <a href="#" class="city__desc-list">Особые площадки</a>
                            </div>
                        </div>
                        <div class="city__item js-content">
                            <div class="city__img">
                                <img src="./images/city-img_06.jpg" alt="">
                            </div>
                            <div class="city__title">Сочи</div>
                            <div class="city__desc">
                                <a href="#" class="city__desc-list">Бизнес площадки</a>
                                <a href="#" class="city__desc-list">Лофты</a>
                                <a href="#" class="city__desc-list">Банкетные площадки</a>
                                <a href="#" class="city__desc-list">Концертные площадки</a>
                                <a href="#" class="city__desc-list">Загородные площадки</a>
                                <a href="#" class="city__desc-list">Особые площадки</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="disclaimer">
            <div class="mbox">
                <p>
                    Приятно, граждане, наблюдать, как тщательные исследования конкурентов освещают чрезвычайно интересные особенности картины в целом, однако конкретные выводы, разумеется, объявлены нарушающими общечеловеческие нормы этики и морали. Прежде всего, курс на социально-ориентированный национальный проект предопределяет высокую востребованность прогресса профессионального сообщества. Современные технологии достигли такого уровня, что начало повседневной работы по формированию позиции требует от нас анализа вывода текущих активов. А еще диаграммы связей будут своевременно верифицированы. Высокий уровень вовлечения представителей целевой аудитории является четким доказательством простого факта: начало повседневной работы по формированию позиции способствует подготовке и реализации экономической целесообразности принимаемых решений. Также как повышение уровня гражданского сознания требует определения и уточнения форм воздействия. Но глубокий уровень погружения способствует подготовке и реализации вывода текущих активов.
                </p>
            </div>
        </div>
    </div>
    //= parts/footer.html
    //= parts/footer-links.html
</div>
</body>
</html>