//= parts/head.html
<div class="global-wrapper">
    //= parts/header.html
    <div class="page">
            <div class="contacts">
                <div class="mbox">
                    <div class="portfolio__head">
                        <h2>Контакты</h2>
                    </div>
                    //= parts/breadcrumbs.html
                </div>
                <div class="card__map-wrap">
                    <div class="mbox">
                        <div class="card__map-row">
                            <div class="card__map-contacts card__place-contacts-col contacts__info">
                                <div class="contacts__info-on-map">
                                    <svg><use xlink:href="#pointer-ico"></use></svg>
                                    г. Москва, Измайловское шоссе, 71,
                                    гостиница Измайлово, Гамма,
                                    офис 14 <span class="metro metro-red">м.</span>Партизанская
                                </div>
                                <a href="tel:+8 (800) 111 11 11" class="contacts__info-phone">
                                    <svg><use xlink:href="#phone-ico"></use></svg>
                                    8 (800) 111 11 11
                                </a>
                                <span>(Бесплатная линия)</span>
                                <a href="tel:+8 (495) 737 47 55" class="contacts__info-phone">8 (495) 737 47 55</a>
                                <a href="mailto:info@pogostite.ru" class="contacts__info-mail">
                                    <svg><use xlink:href="#mail-ico"></use></svg>
                                    info@pogostite.ru
                                </a>
                                <a href="#" class="contacts__info-download">
                                    <svg><use xlink:href="#download-ico"></use></svg>
                                    Скачать презентацию агентства
                                </a>
                                <a href="#" class="contacts__info-download">
                                    Скачать полные юридические данные
                                    агентства
                                </a>
                            </div>
                            <div id="card-map" class="card__map main__form contacts__map"></div>
                        </div>
                    </div>
                </div>
                <script>
                    function initMap() {
                        var myLatLng = {lat: 55.7447492, lng: 37.6181179};

                        var map = new google.maps.Map(document.getElementById('card-map'), {
                            zoom: 15,
                            disableDefaultUI: true,
                            center: myLatLng
                        });

                        var marker = new google.maps.Marker({
                            position: myLatLng,
                            map: map,
                            title: 'Hello World!'
                        });
                    }
                </script>
                <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBPVi3MrjI8ZSP9iysLqZi5spMixYN_HVI&callback=initMap"
                        async defer></script>
            </div>
    </div>
    //= parts/footer.html
    //= parts/footer-links.html
</div>
</body>
</html>