//= parts/head.html
<div class="global-wrapper">
    //= parts/header.html
    <div class="page">
        <div class="events">
            <div class="events__banner">
                <div class="main__slide"><img src="images/main-slider_2.jpg" alt=""></div>
                <div class="event__title">
                    Второй российский съезд граждан DECENTURION <br>
                    с участием лидеров блокчейн-сообществ
                </div>
            </div>
            <div class="mbox">
                <div class="event__detail">
                    <div class="event__list">
                        <div class="event__list-title">Задача</div>
                        <ul class="list list__lined">
                            <li><span>Организация мероприятия 360: подбор площадки, кейтеринг, полное техническое оснащение, работа со спикерами, проживание
участников, работа с подрядчиками (фото- и видеосьемка, промо-персонал, хостесс) и подготовка материалов
для мероприятия под ключ.</span></li>
                        </ul>
                    </div>
                    <div class="event__list">
                        <div class="event__list-title">Количество гостей</div>
                        <ul class="list list__lined">
                            <li><span>3000</span></li>
                        </ul>
                    </div>
                    <div class="event__list">
                        <div class="event__list-title">Локация</div>
                        <ul class="list list__lined">
                            <li><span>Крокус Сити Холл</span></li>
                        </ul>
                    </div>
                    <div class="event__list">
                        <div class="event__list-title">Результат</div>
                        <ul class="list list__lined">
                            <li><span>Это супермасштабное блокчейн-мероприятие состоялось в Крокус Сити Холл и собрало более трех тысяч человек. Мы разработали
и надежно обеспечили проведение обширной деловой программы целого дня: выступления основателей и соучредителей 6 компаний,
нескольких представителей крупнейших ICO-проектов и ключевых специалистов в области блокчейна. В поддержку бизнеса выступил
</span></li>
                        </ul>
                    </div>

                </div>
                <div class="event__photo">
                    <img src="images/event-img_01.jpg" alt="">
                </div>
                <div class="event__detail">
                    <div class="event__text">
                        Это супермасштабное блокчейн-мероприятие состоялось в <b>Крокус Сити Холл</b> и собрало <b>более трех тысяч человек</b>. Мы разработали
                        и надежно обеспечили проведение обширной деловой программы целого дня: выступления основателей и соучредителей 6 компаний,
                        нескольких представителей крупнейших ICO-проектов и ключевых специалистов в области блокчейна.
                    </div>
                    <div class="event__text">
                        В поддержку бизнеса выступил обширный дипкорпус: чрезвычайные и полномочные послы в Российской Федерации республик Гана,
                        Нигерия, Гвинея-Бисау; делегации Эфиопии, Йемена и Камеруна. Администрирование мероприятия обеспечивали десятки наших
                        технических специалистов и 50 единиц высококвалифицированного полевого персонала, чья оперативная работа получила высокую
                        оценку организаторов, спикеров и гостей.
                    </div>
                </div>
                <div class="event__slider">
                    <a href="images/event-slider_01.jpg" data-fancybox="event-gallery" class="event__slide"><img src="images/event-slider_01.jpg" alt=""></a>
                    <a href="images/event-slider_01.jpg" data-fancybox="event-gallery" class="event__slide"><img src="images/event-slider_01.jpg" alt=""></a>
                    <a href="images/event-slider_01.jpg" data-fancybox="event-gallery" class="event__slide"><img src="images/event-slider_01.jpg" alt=""></a>
                </div>
            </div>
        </div>
    </div>
    //= parts/footer.html
    //= parts/footer-links.html
</div>
</body>
</html>