//= parts/head.html
<div class="global-wrapper">
    //= parts/header.html
    <div class="page">
        <div class="events">
            <div class="events__banner">
                <div class="events__picture">
                    <div class="main__slide"><img src="images/events-banner.jpg" alt=""></div>
                </div>
                <div class="main__search main__search--events">
                    <div class="events__information">
                        <div class="events__about">
                            <h1 class="main__search-title">Eventix - агентство мероприятий</h1>
                            <div>
                                <ul class="list list--white list__lined">
                                    <li><span>Организация любых мероприятий</span></li>
                                    <li><span>Креативные концеции</span></li>
                                    <li><span>Техническое продюсирование</span></li>
                                </ul>
                            </div>
                        </div>
                        <div class="nominations">
                            <div class="nominations__item">
                                <div class="nominations__img nominations__img--left">
                                    <svg><use xlink:href="#plant-ico"></use></svg>
                                </div>
                                <div class="nominations__dec">9</div>
                                <div class="nominations__text">Лет опыта<br>в бизнесе</div>
                                <div class="nominations__img">
                                    <svg><use xlink:href="#plant-ico"></use></svg>
                                </div>
                            </div>
                            <div class="nominations__item">
                                <div class="nominations__img nominations__img--left">
                                    <svg><use xlink:href="#plant-ico"></use></svg>
                                </div>
                                <div class="nominations__dec">300</div>
                                <div class="nominations__text">Мероприятий<br>организовано</div>
                                <div class="nominations__img">
                                    <svg><use xlink:href="#plant-ico"></use></svg>
                                </div>
                            </div>
                            <div class="nominations__item">
                                <div class="nominations__img nominations__img--left">
                                    <svg><use xlink:href="#plant-ico"></use></svg>
                                </div>
                                <div class="nominations__dec">55</div>
                                <div class="nominations__text">Постоянных<br>клиентов</div>
                                <div class="nominations__img">
                                    <svg><use xlink:href="#plant-ico"></use></svg>
                                </div>
                            </div>
                            <div class="nominations__item">
                                <div class="nominations__img nominations__img--left">
                                    <svg><use xlink:href="#plant-ico"></use></svg>
                                </div>
                                <div class="nominations__dec">24</div>
                                <div class="nominations__text">Проведенных мероприятий<br>в городах России</div>
                                <div class="nominations__img">
                                    <svg><use xlink:href="#plant-ico"></use></svg>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="catalog__request">
                        <form class="poster__form catalog__form catalog__form--events">
                            <div class="poster__form-title">Получите 3 концепции вашего мероприятия</div>
                            <div class="poster__form-number">
                                <input type="text" required placeholder="Номер телефона" class="tel-mask">
                            </div>
                            <div class="poster__form-desc">
                                Наши специалисты подготовят
                                3 уникальных индивидуальных
                                концепции для вас
                            </div>
                            <div class="poster__form-btn">
                                <button type="submit" class="btn btn-default">Получить концепции</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
           <div class="events__organisation">
               <div class="mbox">
                   <div class="organisation">
                       <div class="organisation__head">
                           <h2>Организация мероприятий</h2>
                       </div>
                       <div class="organisation__table">
                           <div class="organisation__images">
                                <div class="organisation__img">
                                    <img src="images/ev-1.jpg" alt="">
                                </div>
                               <div class="organisation__img">
                                    <img src="images/ev-2.jpg" alt="">
                                </div>
                           </div>
                           <div class="organisation__list">
                               <div class="organisation__subhead">
                                   <span>Мы делаем:</span>
                               </div>
                               <ol class="list list__decimals list--red list--bold">
                                   <li> <span>Комплексную организацию мероприятий:</span>
                                       <ul class="list list--simple list--red">
                                           <li><span>Подбор и бронирование площадок (для деловой программы, гала-ужина, корпоративного события компании)</span></li>
                                           <li><span>Профессиональную координацию мероприятия</span></li>
                                           <li><span>Организацию кейтеринга, экскурсионного обслуживания</span></li>
                                           <li><span>Техническое продюсирование</span></li>
                                           <li><span>Оформление/декор мероприятия</span></li>
                                           <li><span>Производство полиграфической и сувенирной продукции</span></li>
                                       </ul>
                                   </li>
                                   <li><span>Креатив и продакшн</span>
                                        <ul class="list list--simple list--red">
                                            <li><span>Создание концепций, сценариев, текстов</span></li>
                                            <li><span>Полная визуализация проекта</span></li>
                                            <li><span>Съемка фото и видеоматериалов</span></li>
                                            <li><span>Букинг и последующая работа с артистами, группами, костюмами</span></li>
                                        </ul>
                                   </li>
                                   <li><span>Подбор и бронирование гостиниц</span></li>
                                   <li><span>Организацию трансфера</span></li>
                               </ol>
                               <div class="list__subhead">
                                   <span>Специальные возможности для корпоративных клиентов</span>
                               </div>
                               <ol class="list list__decimals list__decimals--thin list--red list--bold">
                                   <li><span>Кредитная линия</span></li>
                                   <li><span>Планирование мероприятий</span></li>
                                   <li><span>Работа по депозиту</span></li>
                                   <li><span>Персональный event-менеджер 24/7</span></li>
                                   <li><span>Выделенный event-менеджер на территории клиента</span></li>
                               </ol>
                           </div>
                       </div>
                   </div>
               </div>
           </div>
            <div class="events__spend greybg">
                <div class="mbox">
                    <div class="spend">
                        <div class="spend__head">
                            <h2>Мы проводим мероприятия</h2>
                        </div>
                        <div class="spend__items">
                            <div class="box__tabs">
                                <div class="box__tab js-box-tab active">Корпоративные</div>
                                <div class="box__tab js-box-tab">Деловые</div>
                                <div class="box__tab js-box-tab">Спортивные</div>
                                <div class="box__tab js-box-tab">Тимбилдинги</div>
                                <div class="box__tab js-box-tab">Маркетинговые</div>
                                <div class="box__tab js-box-tab">Выездные</div>
                            </div>
                            <div class="box__container">
                                <a href="#" class="box active">
                                    <div class="box__image">
                                        <img src="images/spend_1.jpg" alt="">
                                    </div>
                                    <div class="box__text">
                                        <span>Корпоративные<br>мероприятия</span>
                                    </div>
                                </a>
                                <a href="#" class="box box--large">
                                    <div class="box__image">
                                        <img src="images/spend_5.jpg" alt="">
                                    </div>
                                    <div class="box__text">
                                        <span>Деловые мероприятия</span>
                                    </div>
                                </a>
                                <a href="#" class="box">
                                    <div class="box__image">
                                        <img src="images/spend_3.jpg" alt="">
                                    </div>
                                    <div class="box__text">
                                        <span>Спортивные<br>мероприятия</span>
                                    </div>
                                </a>
                                <a href="#" class="box">
                                    <div class="box__image">
                                        <img src="images/spend_2.jpg" alt="">
                                    </div>
                                    <div class="box__text">
                                        <span>Тимбилдинги</span>
                                    </div>
                                </a>
                                <a href="#" class="box box--large">
                                    <div class="box__image">
                                        <img src="images/spend_6.jpg" alt="">
                                    </div>
                                    <div class="box__text">
                                        <span>Маркетинговые мероприятия</span>
                                    </div>
                                </a>
                                <a href="#" class="box">
                                    <div class="box__image">
                                        <img src="images/spend_4.jpg" alt="">
                                    </div>
                                    <div class="box__text">
                                        <span>Выездные<br>мероприятия</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="events__portfolio">
                <div class="mbox">
                    <div class="portfolio">
                        <div class="portfolio__head">
                            <h2>Портфолио</h2>
                        </div>
                        <div class="portfolio__text">
                            <p>С 2000 г. <b>EVENTIX</b> помогает своим клиентам — ведущим международным брендам и крупным российским компаниям — завоевывать новые аудитории, быть на шаг впереди конкурентов, реализовывать захватывающие проекты. Эффективность и значимость своей работы мы каждый день доказываем в четырех основных направлениях: Creativе, Event, PR, Video Production.</p>
                              <p>Наш стандарт — мероприятия мирового уровня. И лучшие из них собраны здесь: маркетинговые презентации, деловые, корпоративные и PR-мероприятия. Проекты DEPARTÁMENT становятся знаковыми для индустрии и отмечаются множеством наград.</p>
                        </div>
                        <div class="box__container">
                            <a href="#" class="box">
                                <div class="box__image">
                                    <img src="images/port_1.jpg" alt="">
                                </div>
                                <div class="box__text">
                                    <span>Корпоративные<br>мероприятия</span>
                                </div>
                            </a>
                            <a href="#" class="box box--large">
                                <div class="box__image">
                                    <img src="images/port_4.jpg" alt="">
                                </div>
                                <div class="box__text">
                                    <span>Открытие Сезона Гольф-клуба "СКОЛКОВО"</span>
                                </div>
                            </a>
                            <a href="#" class="box">
                                <div class="box__image">
                                    <img src="images/port_3.jpg" alt="">
                                </div>
                                <div class="box__text">
                                    <span>Спортивные<br>мероприятия</span>
                                </div>
                            </a>
                            <a href="#" class="box">
                                <div class="box__image">
                                    <img src="images/port_4.jpg" alt="">
                                </div>
                                <div class="box__text">
                                    <span>Тимбилдинги</span>
                                </div>
                            </a>
                            <a href="#" class="box box--large">
                                <div class="box__image">
                                    <img src="images/port_5.jpg" alt="">
                                </div>
                                <div class="box__text">
                                    <span>Маркетинговые мероприятия</span>
                                </div>
                            </a>
                            <a href="#" class="box">
                                <div class="box__image">
                                    <img src="images/port_6.jpg" alt="">
                                </div>
                                <div class="box__text">
                                    <span>Выездные<br>мероприятия</span>
                                </div>
                            </a>
                        </div>
                        <div class="card__review-btn">
                            <a href="#" class="btn btn-default">Посмотреть все проекты</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="events__trust greybg">
                <div class="mbox">
                    <div class="trust">
                        <div class="trust__head">
                            <h2>Нам доверяют</h2>
                        </div>
                        <div class="trust__items">
                            <div class="forslide"><div class="client">
                                <div class="client__image">
                                    <img src="images/logos/audi.png" alt="">
                                </div>
                                <div class="client__whitebox">
                                    <div class="client__image">
                                        <img src="images/logos/audi.png" alt="">
                                    </div>
                                    <div class="client__about">
                                        Тут будет короткое описание кейса. Что делали клиенту и <a href="#">ссылка</a> на кейс ивента.
                                    </div>

                                </div>
                            </div></div>
                            <div class="forslide"><div class="client">
                                <div class="client__image">
                                    <img src="images/logos/biline_c.png" alt="">
                                </div>
                                <div class="client__whitebox">
                                    <div class="client__image"></div>
                                    <div class="client__about">
                                        Тут будет короткое описание кейса. Что делали клиенту и <a href="#">ссылка</a> на кейс ивента.
                                    </div>

                                </div>
                            </div></div>
                            <div class="forslide"><div class="client">
                                <div class="client__image">
                                    <img src="images/logos/samsung.png" alt="">
                                </div>
                                <div class="client__whitebox">
                                    <div class="client__image"></div>
                                    <div class="client__about">
                                        Тут будет короткое описание кейса. Что делали клиенту и <a href="#">ссылка</a> на кейс ивента.
                                    </div>

                                </div>
                            </div></div>
                            <div class="forslide"><div class="client">
                                <div class="client__image">
                                    <img src="images/logos/garage.png" alt="">
                                </div>
                                <div class="client__whitebox">
                                    <div class="client__image"></div>
                                    <div class="client__about">
                                        Тут будет короткое описание кейса. Что делали клиенту и <a href="#">ссылка</a> на кейс ивента.
                                    </div>

                                </div>
                            </div></div>
                            <div class="forslide"><div class="client">
                                <div class="client__image">
                                    <img src="images/logos/ya.png" alt="">
                                </div>
                                <div class="client__whitebox">
                                    <div class="client__image"></div>
                                    <div class="client__about">
                                        Тут будет короткое описание кейса. Что делали клиенту и <a href="#">ссылка</a> на кейс ивента.
                                    </div>

                                </div>
                            </div></div>
                            <div class="forslide"><div class="client">
                                <div class="client__image">
                                    <img src="images/logos/wv.png" alt="">
                                </div>
                                <div class="client__whitebox">
                                    <div class="client__image"></div>
                                    <div class="client__about">
                                        Тут будет короткое описание кейса. Что делали клиенту и <a href="#">ссылка</a> на кейс ивента.
                                    </div>
                                </div>
                            </div></div>
                            <div class="forslide"><div class="client">
                                <div class="client__image">
                                    <img src="images/logos/bentley.png" alt="">
                                </div>
                                <div class="client__whitebox">
                                    <div class="client__image"></div>
                                    <div class="client__about">
                                        Тут будет короткое описание кейса. Что делали клиенту и <a href="#">ссылка</a> на кейс ивента.
                                    </div>
                                </div>
                            </div></div>
                            <div class="forslide"><div class="client">
                                <div class="client__image">
                                    <img src="images/logos/maserati.png" alt="">
                                </div>
                                <div class="client__whitebox">
                                    <div class="client__image"></div>
                                    <div class="client__about">
                                        Тут будет короткое описание кейса. Что делали клиенту и <a href="#">ссылка</a> на кейс ивента.
                                    </div>
                                </div>
                            </div></div>
                            <div class="forslide"><div class="client">
                                <div class="client__image">
                                    <img src="images/logos/mers.png" alt="">
                                </div>
                                <div class="client__whitebox">
                                    <div class="client__image"></div>
                                    <div class="client__about">
                                        Тут будет короткое описание кейса. Что делали клиенту и <a href="#">ссылка</a> на кейс ивента.
                                    </div>
                                </div>
                            </div></div>
                            <div class="forslide"><div class="client">
                                <div class="client__image">
                                    <img src="images/logos/philips.png" alt="">
                                </div>
                                <div class="client__whitebox">
                                    <div class="client__image"></div>
                                    <div class="client__about">
                                        Тут будет короткое описание кейса. Что делали клиенту и <a href="#">ссылка</a> на кейс ивента.
                                    </div>
                                </div>
                            </div></div>
                            <div class="forslide"><div class="client">
                                <div class="client__image">
                                    <img src="images/logos/ved.png" alt="">
                                </div>
                                <div class="client__whitebox">
                                    <div class="client__image"></div>
                                    <div class="client__about">
                                        Тут будет короткое описание кейса. Что делали клиенту и <a href="#">ссылка</a> на кейс ивента.
                                    </div>
                                </div>
                            </div></div>
                            <div class="forslide"><div class="client">
                                <div class="client__image">
                                    <img src="images/logos/jaguar.png" alt="">
                                </div>
                                <div class="client__whitebox">
                                    <div class="client__image"></div>
                                    <div class="client__about">
                                        Тут будет короткое описание кейса. Что делали клиенту и <a href="#">ссылка</a> на кейс ивента.
                                    </div>
                                </div>
                            </div></div>
                            <div class="forslide"><div class="client">
                                <div class="client__image">
                                    <img src="images/logos/four.png" alt="">
                                </div>
                                <div class="client__whitebox">
                                    <div class="client__image"></div>
                                    <div class="client__about">
                                        Тут будет короткое описание кейса. Что делали клиенту и <a href="#">ссылка</a> на кейс ивента.
                                    </div>
                                </div>
                            </div></div>
                            <div class="forslide"><div class="client">
                                <div class="client__image">
                                    <img src="images/logos/lenovo.png" alt="">
                                </div>
                                <div class="client__whitebox">
                                    <div class="client__image"></div>
                                    <div class="client__about">
                                        Тут будет короткое описание кейса. Что делали клиенту и <a href="#">ссылка</a> на кейс ивента.
                                    </div>
                                </div>
                            </div></div>
                            <div class="forslide"><div class="client">
                                <div class="client__image">
                                    <img src="images/logos/2x2.png" alt="">
                                </div>
                                <div class="client__whitebox">
                                    <div class="client__image"></div>
                                    <div class="client__about">
                                        Тут будет короткое описание кейса. Что делали клиенту и <a href="#">ссылка</a> на кейс ивента.
                                    </div>
                                </div>
                            </div></div>
                            <div class="forslide"><div class="client">
                                <div class="client__image">
                                    <img src="images/logos/vtb.png" alt="">
                                </div>
                                <div class="client__whitebox">
                                    <div class="client__image"></div>
                                    <div class="client__about">
                                        Тут будет короткое описание кейса. Что делали клиенту и <a href="#">ссылка</a> на кейс ивента.
                                    </div>
                                </div>
                            </div></div>
                        </div>
                        <div class="trust__text">
                            <p>Приятно, граждане, наблюдать, как тщательные исследования конкурентов освещают чрезвычайно интересные особенности картины в целом, однако конкретные выводы, разумеется, объявлены нарушающими общечеловеческие нормы этики и морали. Прежде всего, курс на социально-ориентированный национальный проект предопределяет высокую востребованность прогресса профессионального сообщества. Современные технологии достигли такого уровня, что начало повседневной работы по формированию позиции требует от нас анализа вывода текущих активов. А еще диаграммы связей будут своевременно верифицированы. Высокий уровень вовлечения представителей целевой аудитории является четким доказательством простого факта: начало повседневной работы по формированию позиции способствует подготовке и реализации экономической целесообразности принимаемых решений. Также как повышение уровня гражданского сознания требует определения и уточнения форм воздействия. Но глубокий уровень погружения способствует подготовке и реализации вывода текущих активов.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="events__request">
                <div class="events__bg">
                    <img src="images/request_bg.jpg" alt="">
                </div>
                <div class="request">
                    <div class="request__body">
                        <div class="request__head">
                            <h2>Запрос на организацию мероприятия:</h2>
                        </div>
                        <div class="request__form">
                            <form action="">
                                <div class="request__info">
                                    <div class="request__fields">
                                        <div class="request__input">
                                            <input type="text" required placeholder="Ваше имя">
                                        </div>
                                        <div class="request__input">
                                            <input type="text" required placeholder="Номер телефона" class="tel-mask">
                                        </div>
                                        <div class="request__input">
                                            <input type="text" placeholder="Ваш E-mail">
                                        </div>
                                    </div>
                                    <div class="request__text">
                                        <textarea name="" id=""  placeholder="Пожелания к мероприятию: дата, место, количество человек и т.д."></textarea>
                                    </div>
                                </div>
                                <div class="card__review-btn">
                                    <button class="btn btn-default"><span>Отправить</span></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    //= parts/footer.html
    //= parts/footer-links.html
</div>
</body>
</html>