//= parts/head.html
<div class="global-wrapper">
    //= parts/header-en.html
    <div class="page">
        <div class="events">
            <div class="events__banner">
                <div class="events__picture">
                    <div class="main__slide"><img src="images/events-banner.jpg" alt=""></div>
                </div>
                <div class="main__search main__search--events">
                    <div class="events__information">
                        <div class="events__about">
                            <h1 class="main__search-title">Eventix - агентство мероприятий</h1>
                            <div>
                                <ul class="list list--white list__lined">
                                    <li><span>Организация корпоративных мероприятий</span></li>
                                </ul>
                            </div>
                        </div>
                        <div class="nominations">
                            <div class="nominations__item">
                                <div class="nominations__img nominations__img--left">
                                    <svg><use xlink:href="#plant-ico"></use></svg>
                                </div>
                                <div class="nominations__dec">9</div>
                                <div class="nominations__text">Лет опыта<br>в бизнесе</div>
                                <div class="nominations__img">
                                    <svg><use xlink:href="#plant-ico"></use></svg>
                                </div>
                            </div>
                            <div class="nominations__item">
                                <div class="nominations__img nominations__img--left">
                                    <svg><use xlink:href="#plant-ico"></use></svg>
                                </div>
                                <div class="nominations__dec">300</div>
                                <div class="nominations__text">Мероприятий<br>организовано</div>
                                <div class="nominations__img">
                                    <svg><use xlink:href="#plant-ico"></use></svg>
                                </div>
                            </div>
                            <div class="nominations__item">
                                <div class="nominations__img nominations__img--left">
                                    <svg><use xlink:href="#plant-ico"></use></svg>
                                </div>
                                <div class="nominations__dec">55</div>
                                <div class="nominations__text">Постоянных<br>клиентов</div>
                                <div class="nominations__img">
                                    <svg><use xlink:href="#plant-ico"></use></svg>
                                </div>
                            </div>
                            <div class="nominations__item">
                                <div class="nominations__img nominations__img--left">
                                    <svg><use xlink:href="#plant-ico"></use></svg>
                                </div>
                                <div class="nominations__dec">24</div>
                                <div class="nominations__text">Проведенных мероприятий<br>в городах России</div>
                                <div class="nominations__img">
                                    <svg><use xlink:href="#plant-ico"></use></svg>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="catalog__request">
                        <form class="poster__form catalog__form catalog__form--events">
                            <div class="poster__form-title">Получите 3 концепции вашего мероприятия</div>
                            <div class="poster__form-number">
                                <input type="text" required placeholder="Номер телефона" class="tel-mask">
                            </div>
                            <div class="poster__form-desc">
                                Наши специалисты подготовят
                                3 уникальных индивидуальных
                                концепции для вас
                            </div>
                            <div class="poster__form-btn">
                                <button type="submit" class="btn btn-default">Получить концепции</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
           <div class="events__corporate">
               <div class="mbox">
                   <div class="corporate">
                       <div class="corporate__slider">
                           <div class="corporate__tabs">
                               <div class="corporate__tab active" data-tab="tab-1">
                                   <span>День рождение компании</span>
                                   <div class="corporate__tab-img">
                                       <img src="images/corporate_tab.jpg" alt="">
                                   </div>
                               </div>
                               <div class="corporate__tab" data-tab="tab-2">
                                   <span>Новогодний корпоратив</span>
                                   <div class="corporate__tab-img">
                                       <img src="images/corporate_tab.jpg" alt="">
                                   </div>
                               </div>
                               <div class="corporate__tab" data-tab="tab-3">
                                   <span>Профессиональный день</span>
                                   <div class="corporate__tab-img">
                                       <img src="images/corporate_tab.jpg" alt="">
                                   </div>
                               </div>
                               <div class="corporate__tab" data-tab="tab-4">
                                   <span>Профессиональный отраслевой праздник</span>
                                   <div class="corporate__tab-img">
                                       <img src="images/corporate_tab.jpg" alt="">
                                   </div>
                               </div>
                               <div class="corporate__tab" data-tab="tab-5">
                                   <span>День рождение компании</span>
                                   <div class="corporate__tab-img">
                                       <img src="images/corporate_tab.jpg" alt="">
                                   </div>
                               </div>
                           </div>
                       </div>
                       <div class="corporate__content active" data-tab-content="tab-1">
                           <div class="corporate__content-desc">
                               С 2007 г. <b>EVENTIX</b> помогает своим клиентам — ведущим международным брендам и крупным российским компаниям — завоевывать новые аудитории, быть на шаг впереди конкурентов, реализовывать захватывающие проекты. Эффективность и значимость своей работы мы каждый день доказываем в четырех основных направлениях: Creativе, Event, PR, Video Production.
                           </div>
                           <div class="corporate__gallery">
                               <a href="images/corporate-img_01.jpg" data-fancybox="corporate-gallery" class="corporate__img"><img src="images/corporate-img_01.jpg" alt=""></a>
                               <a href="images/corporate-img_02.jpg" data-fancybox="corporate-gallery" class="corporate__img"><img src="images/corporate-img_02.jpg" alt=""></a>
                               <a href="images/corporate-img_03.jpg" data-fancybox="corporate-gallery" class="corporate__img"><img src="images/corporate-img_03.jpg" alt=""></a>
                           </div>
                       </div>
                       <div class="corporate__content" data-tab-content="tab-2">
                           <div class="corporate__content-desc">
                               С 2007 г. <b>EVENTIX</b> помогает своим клиентам — ведущим международным брендам и крупным российским компаниям — завоевывать новые аудитории, быть на шаг впереди конкурентов, реализовывать захватывающие проекты. Эффективность и значимость своей работы мы каждый день доказываем в четырех основных направлениях: Creativе, Event, PR, Video Production.
                           </div>
                           <div class="corporate__gallery">
                               <a href="images/corporate-img_03.jpg" data-fancybox="corporate-gallery" class="corporate__img"><img src="images/corporate-img_03.jpg" alt=""></a>
                               <a href="images/corporate-img_02.jpg" data-fancybox="corporate-gallery" class="corporate__img"><img src="images/corporate-img_02.jpg" alt=""></a>
                               <a href="images/corporate-img_01.jpg" data-fancybox="corporate-gallery" class="corporate__img"><img src="images/corporate-img_01.jpg" alt=""></a>
                           </div>
                       </div>
                       <div class="corporate__content" data-tab-content="tab-3">
                           <div class="corporate__content-desc">
                               С 2007 г. <b>EVENTIX</b> помогает своим клиентам — ведущим международным брендам и крупным российским компаниям — завоевывать новые аудитории, быть на шаг впереди конкурентов, реализовывать захватывающие проекты. Эффективность и значимость своей работы мы каждый день доказываем в четырех основных направлениях: Creativе, Event, PR, Video Production.
                           </div>
                           <div class="corporate__gallery">
                               <a href="images/corporate-img_02.jpg" data-fancybox="corporate-gallery" class="corporate__img"><img src="images/corporate-img_02.jpg" alt=""></a>
                               <a href="images/corporate-img_01.jpg" data-fancybox="corporate-gallery" class="corporate__img"><img src="images/corporate-img_01.jpg" alt=""></a>
                               <a href="images/corporate-img_03.jpg" data-fancybox="corporate-gallery" class="corporate__img"><img src="images/corporate-img_03.jpg" alt=""></a>
                           </div>
                       </div>
                       <div class="corporate__content" data-tab-content="tab-4">
                           <div class="corporate__content-desc">
                               С 2007 г. <b>EVENTIX</b> помогает своим клиентам — ведущим международным брендам и крупным российским компаниям — завоевывать новые аудитории, быть на шаг впереди конкурентов, реализовывать захватывающие проекты. Эффективность и значимость своей работы мы каждый день доказываем в четырех основных направлениях: Creativе, Event, PR, Video Production.
                           </div>
                           <div class="corporate__gallery">
                               <a href="images/corporate-img_01.jpg" data-fancybox="corporate-gallery" class="corporate__img"><img src="images/corporate-img_01.jpg" alt=""></a>
                               <a href="images/corporate-img_03.jpg" data-fancybox="corporate-gallery" class="corporate__img"><img src="images/corporate-img_03.jpg" alt=""></a>
                               <a href="images/corporate-img_02.jpg" data-fancybox="corporate-gallery" class="corporate__img"><img src="images/corporate-img_02.jpg" alt=""></a>
                           </div>
                       </div>
                       <div class="corporate__content" data-tab-content="tab-5">
                           <div class="corporate__content-desc">
                               С 2007 г. <b>EVENTIX</b> помогает своим клиентам — ведущим международным брендам и крупным российским компаниям — завоевывать новые аудитории, быть на шаг впереди конкурентов, реализовывать захватывающие проекты. Эффективность и значимость своей работы мы каждый день доказываем в четырех основных направлениях: Creativе, Event, PR, Video Production.
                           </div>
                           <div class="corporate__gallery">
                               <a href="images/corporate-img_01.jpg" data-fancybox="corporate-gallery" class="corporate__img"><img src="images/corporate-img_01.jpg" alt=""></a>
                               <a href="images/corporate-img_03.jpg" data-fancybox="corporate-gallery" class="corporate__img"><img src="images/corporate-img_03.jpg" alt=""></a>
                               <a href="images/corporate-img_02.jpg" data-fancybox="corporate-gallery" class="corporate__img"><img src="images/corporate-img_02.jpg" alt=""></a>
                           </div>
                       </div>
                   </div>
               </div>
           </div>
            <div class="events__description greybg">
                <div class="mbox">
                    <div class="description">
                        <div class="description__col">
                            <div class="description__text">
                                Наша философия умещается в двух словах, потому что на деле все просто: нам интересно находить новые решения и воплощать задуманное так, чтобы дух захватывало. Просто хорошо делать свою работу уже недостаточно — мы ставим себе сверхзадачи, испытываем возможности компании по максимуму, становимся суперсобой. Нам важно заразить своим примером других и оставить после себя что-то действительно красивое, умное, вдохновляющее.
                            </div>
                            <div class="description__strong">
                                Да, мы всерьез полны решимости изменить этот мир.
                            </div>
                        </div>
                        <div class="description__col">
                            <div class="list__subhead">
                                <span>Специальные возможности для корпоративных клиентов</span>
                            </div>
                            <ol class="list list__decimals list__decimals--thin list--red list--bold">
                                <li><span>Кредитная линия</span></li>
                                <li><span>Планирование мероприятий</span></li>
                                <li><span>Работа по депозиту</span></li>
                                <li><span>Персональный event-менеджер 24/7</span></li>
                                <li><span>Выделенный event-менеджер на территории клиента</span></li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <div class="events__portfolio events__padding">
                <div class="mbox">
                    <div class="portfolio">
                        <div class="portfolio__head">
                            <h2>Портфолио</h2>
                        </div>
                        <div class="portfolio__text">
                            <p>С 2000 г. <b>EVENTIX</b> помогает своим клиентам — ведущим международным брендам и крупным российским компаниям — завоевывать новые аудитории, быть на шаг впереди конкурентов, реализовывать захватывающие проекты. Эффективность и значимость своей работы мы каждый день доказываем в четырех основных направлениях: Creativе, Event, PR, Video Production.</p>
                              <p>Наш стандарт — мероприятия мирового уровня. И лучшие из них собраны здесь: маркетинговые презентации, деловые, корпоративные и PR-мероприятия. Проекты DEPARTÁMENT становятся знаковыми для индустрии и отмечаются множеством наград.</p>
                        </div>
                        <div class="box__container">
                            <a href="#" class="box">
                                <div class="box__image">
                                    <img src="images/port_1.jpg" alt="">
                                </div>
                                <div class="box__text">
                                    <span>Корпоративные<br>мероприятия</span>
                                </div>
                            </a>
                            <a href="#" class="box box--large">
                                <div class="box__image">
                                    <img src="images/port_4.jpg" alt="">
                                </div>
                                <div class="box__text">
                                    <span>Открытие Сезона Гольф-клуба "СКОЛКОВО"</span>
                                </div>
                            </a>
                            <a href="#" class="box">
                                <div class="box__image">
                                    <img src="images/port_3.jpg" alt="">
                                </div>
                                <div class="box__text">
                                    <span>Спортивные<br>мероприятия</span>
                                </div>
                            </a>
                            <a href="#" class="box">
                                <div class="box__image">
                                    <img src="images/port_4.jpg" alt="">
                                </div>
                                <div class="box__text">
                                    <span>Тимбилдинги</span>
                                </div>
                            </a>
                            <a href="#" class="box box--large">
                                <div class="box__image">
                                    <img src="images/port_5.jpg" alt="">
                                </div>
                                <div class="box__text">
                                    <span>Маркетинговые мероприятия</span>
                                </div>
                            </a>
                            <a href="#" class="box">
                                <div class="box__image">
                                    <img src="images/port_6.jpg" alt="">
                                </div>
                                <div class="box__text">
                                    <span>Выездные<br>мероприятия</span>
                                </div>
                            </a>
                        </div>
                        <div class="card__review-btn">
                            <a href="#" class="btn btn-default">Посмотреть все проекты</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="events__request">
                <div class="events__bg">
                    <img src="images/request_bg.jpg" alt="">
                </div>
                <div class="request request--grey">
                    <div class="request__body">
                        <div class="request__head">
                            <h2>Запрос на организацию мероприятия:</h2>
                        </div>
                        <div class="request__form">
                            <form action="">
                                <div class="request__info">
                                    <div class="request__fields">
                                        <div class="request__input">
                                            <input type="text" required placeholder="Ваше имя">
                                        </div>
                                        <div class="request__input">
                                            <input type="text" required placeholder="Номер телефона" class="tel-mask">
                                        </div>
                                        <div class="request__input">
                                            <input type="text" placeholder="Ваш E-mail">
                                        </div>
                                    </div>
                                    <div class="request__text">
                                        <textarea name="" id=""  placeholder="Пожелания к мероприятию: дата, место, количество человек и т.д."></textarea>
                                    </div>
                                </div>
                                <div class="card__review-btn">
                                    <button class="btn btn-default"><span>Отправить</span></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    //= parts/footer.html
    //= parts/footer-links.html
</div>
</body>
</html>