//= parts/head.html
<div class="global-wrapper">
    //= parts/header.html
    <div class="main">
        <div class="mbox">
            <ul class="links-page">
                <li><a href="main.html">main</a></li>
                <li><a href="catalog.html">catalog</a></li>
                <li><a href="card.html">card</a></li>
                <li><a href="events_organisation.html">events organisation</a></li>
                <li><a href="result.html">result</a></li>
                <li><a href="events_corporate.html">events corporate</a></li>
                <li><a href="portfolio.html">portfolio</a></li>
                <li><a href="contacts.html">contacts</a></li>
                <li><a href="event.html">event</a></li>
                <li><a href="catalog_index.html">copy</a></li>
            </ul>
            <br>
            <hr>
            <div class="title">
                <h2>Popups</h2>
            </div>
            <ul class="links-page">
                <li><a data-fancybox href="#thank">Спасибо за заявку</a></li>
            </ul>
            <br>
            <hr>
            <div class="title">
                <h2>содержимое спрайта</h2>
            </div>
            <div class="svg-container"></div>
            <br><br><br>
            //= parts/feedback.html
        </div>
    </div>
    //= parts/footer.html
    //= parts/footer-links.html
    <style>
        .svg-container{display: flex;justify-content: space-between; align-items: flex-start; flex-wrap: wrap;border: 1px solid #0f0f11;}
        .svg-container div{width: 200px; padding: 10px; border: 1px solid #0f0f11; flex-grow: 1;}
        .svg-container svg{width: 100%;}
    </style>
    <script>
        $(document).ready(function(){
            $('body>svg symbol').each(function(){
                var id = $(this).attr('id');
                var div = document.createElement('div');
                $(div).html('<svg><use xlink:href="#'+id+'"></use></svg><p>#'+id+'</p>');
                $('.svg-container').append(div);
            });
        });
    </script>
</div>
</body>
</html>