//= parts/head.html
<div class="global-wrapper">
    //= parts/header.html
    <div class="page">
        <div class="main">
            <div class="main__slider-wrap">
                <div class="main__slider">
                    <div class="main__slide"><img src="images/main-slider_2.jpg" alt=""></div>
                    <div class="main__slide"><img src="images/main-slider_3.jpg" alt=""></div>
                    <div class="main__slide"><img src="images/main-slider_4.jpg" alt=""></div>
                    <div class="main__slide"><img src="images/main-slider_5.jpg" alt=""></div>
                    <div class="main__slide"><img src="images/main-slider_6.jpg" alt=""></div>
                    <div class="main__slide"><img src="images/main-slider_7.jpg" alt=""></div>
                </div>
                <div class="main__search">
                    <div class="main__search-title">Найдите площадку под любое мероприятие</div>
                    <form class="main__form">
                        <div class="main__form-hall">
                            <div class="main__form-hall-item">Конференц залы</div>
                            <div class="main__form-hall-item">Концертные залы</div>
                            <div class="main__form-hall-item">Лофты</div>
                            <div class="main__form-hall-item">Загородные площадки</div>
                            <div class="main__form-hall-item">Банкетные залы</div>
                            <div class="main__form-hall-item">Выставочные залы</div>
                            <div class="main__form-hall-item">Усадьбы и особняки</div>
                            <div class="main__form-hall-item">Особые площадки</div>
                        </div>
                        <div class="main__form-input-wrap">
                            <div class="main__form-input">
                                <input type="text" required placeholder="Город, метро, площадка">
                            </div>
                            <div class="main__form-input">
                                <select data-placeholder="Вместимость">
                                    <option></option>
                                    <option value="Любая">Любая</option>
                                    <option value="До 50 человек">до 50 человек</option>
                                    <option value="До 100 человек">от 50 до 100 человек</option>
                                    <option value="До 300 человек">от 100 до 300 человек</option>
                                    <option value="До 500 человек">от 300 до 500 человек</option>
                                    <option value="До 1000 человек">от 500 до 1000 человек</option>
                                    <option value="1000+ человек">свыше 1000 человек</option>
                                </select>
                            </div>
                            <div class="main__form-input">
                                <select data-placeholder="Тип площадки">
                                    <option></option>
                                    <option value="Театр">Любая</option>
                                    <option value="Класс">Конференц залы</option>
                                    <option value="Банкет">Банкетные залы</option>
                                    <option value="По периметру">Концертные залы</option>
                                    <option value="Фуршет">Выставочные залы</option>
                                    <option value="Лофты">Лофты</option>
                                    <option value="Усадьбы и особняки">Усадьбы и особняки</option>
                                    <option value="Загородные площадки">Загородные площадки</option>
                                    <option value="Особые площадки">Особые площадки</option>
                                </select>
                            </div>
                            <div class="main__form-input">
                                <select data-placeholder="Рассадка">
                                    <option></option>
                                    <option class="select-ico select-theater" value="Театр">Театр</option>
                                    <option class="select-ico select-class" value="Класс">Класс</option>
                                    <option class="select-ico select-banquet" value="Банкет">Банкет</option>
                                    <option class="select-ico select-perimeter" value="По периметру">По периметру</option>
                                    <option class="select-ico select-buffet" value="Фуршет">Фуршет</option>
                                </select>
                            </div>
                        </div>
                        <div class="main__form-btn">
                            <button type="submit" class="btn btn-default">Найти</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="poster-wrap" style="background-image: url('./images/main-poster.jpg')">
                <div class="mbox">
                    <div class="poster">
                        <div class="poster__info">
                            <div class="poster__title">
                                Нет времени на поиск площадки?<br>
                                Боитесь ошибиться в выборе?<br>
                                Нужно уложиться в бюджет?
                            </div>
                            <div class="poster__desc">
                                Наши менеджеры с 10 летним опытом<br>
                                работают над подбором площадок<br>
                                для Вас без комиссии
                            </div>
                        </div>
                        <form class="poster__form">
                            <div class="poster__form-title">Экспресс-подбор площадки</div>
                            <div class="poster__form-number">
                                <input type="text" required placeholder="Номер телефона" class="tel-mask">
                            </div>
                            <div class="poster__form-desc">
                                Наши менеджеры осуществляют бесплатный подбор площадок под ваши нужды
                            </div>
                            <div class="poster__form-btn">
                                <button type="submit" class="btn btn-default">Найти</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="mbox">
                <div class="city__tabs">
                    <div class="city__tab js-tab">Москва</div>
                    <div class="city__tab js-tab">Санкт-Петербург</div>
                    <div class="city__tab js-tab">Казань</div>
                    <div class="city__tab js-tab">Екатеринбург</div>
                    <div class="city__tab js-tab">Новосибирск</div>
                    <div class="city__tab js-tab">Сочи</div>
                </div>
                <div class="city">
                    <div class="city__item js-content">
                        <a href="#" class="city__img">
                            <img src="./images/city-img_01.jpg" alt="">
                        </a>
                        <a href="#" class="city__title">Москва</a>
                        <div class="city__desc">
                            <a href="#" class="city__desc-list">Бизнес площадки</a>
                            <a href="#" class="city__desc-list">Лофты</a>
                            <a href="#" class="city__desc-list">Банкетные площадки</a>
                            <a href="#" class="city__desc-list">Концертные площадки</a>
                            <a href="#" class="city__desc-list">Загородные площадки</a>
                            <a href="#" class="city__desc-list">Особые площадки</a>
                        </div>
                    </div>
                    <div class="city__item js-content">
                        <div class="city__img">
                            <img src="./images/city-img_02.jpg" alt="">
                        </div>
                        <div class="city__title">Санкт-Петербург</div>
                        <div class="city__desc">
                            <a href="#" class="city__desc-list">Бизнес площадки</a>
                            <a href="#" class="city__desc-list">Лофты</a>
                            <a href="#" class="city__desc-list">Банкетные площадки</a>
                            <a href="#" class="city__desc-list">Концертные площадки</a>
                            <a href="#" class="city__desc-list">Загородные площадки</a>
                            <a href="#" class="city__desc-list">Особые площадки</a>
                        </div>
                    </div>
                    <div class="city__item js-content">
                        <div class="city__img">
                            <img src="./images/city-img_03.jpg" alt="">
                        </div>
                        <div class="city__title">Казань</div>
                        <div class="city__desc">
                            <a href="#" class="city__desc-list">Бизнес площадки</a>
                            <a href="#" class="city__desc-list">Лофты</a>
                            <a href="#" class="city__desc-list">Банкетные площадки</a>
                            <a href="#" class="city__desc-list">Концертные площадки</a>
                            <a href="#" class="city__desc-list">Загородные площадки</a>
                            <a href="#" class="city__desc-list">Особые площадки</a>
                        </div>
                    </div>
                    <div class="city__item js-content">
                        <div class="city__img">
                            <img src="./images/city-img_02.jpg" alt="">
                        </div>
                        <div class="city__title">Екатеринбург</div>
                        <div class="city__desc">
                            <a href="#" class="city__desc-list">Бизнес площадки</a>
                            <a href="#" class="city__desc-list">Лофты</a>
                            <a href="#" class="city__desc-list">Банкетные площадки</a>
                            <a href="#" class="city__desc-list">Концертные площадки</a>
                            <a href="#" class="city__desc-list">Загородные площадки</a>
                            <a href="#" class="city__desc-list">Особые площадки</a>
                        </div>
                    </div>
                    <div class="city__item js-content">
                        <div class="city__img">
                            <img src="./images/city-img_05.jpg" alt="">
                        </div>
                        <div class="city__title">Новосибирск</div>
                        <div class="city__desc">
                            <a href="#" class="city__desc-list">Бизнес площадки</a>
                            <a href="#" class="city__desc-list">Лофты</a>
                            <a href="#" class="city__desc-list">Банкетные площадки</a>
                            <a href="#" class="city__desc-list">Концертные площадки</a>
                            <a href="#" class="city__desc-list">Загородные площадки</a>
                            <a href="#" class="city__desc-list">Особые площадки</a>
                        </div>
                    </div>
                    <div class="city__item js-content">
                        <div class="city__img">
                            <img src="./images/city-img_06.jpg" alt="">
                        </div>
                        <div class="city__title">Сочи</div>
                        <div class="city__desc">
                            <a href="#" class="city__desc-list">Бизнес площадки</a>
                            <a href="#" class="city__desc-list">Лофты</a>
                            <a href="#" class="city__desc-list">Банкетные площадки</a>
                            <a href="#" class="city__desc-list">Концертные площадки</a>
                            <a href="#" class="city__desc-list">Загородные площадки</a>
                            <a href="#" class="city__desc-list">Особые площадки</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="disclaimer">
                <div class="mbox">
                    <p>
                        Приятно, граждане, наблюдать, как тщательные исследования конкурентов освещают чрезвычайно интересные особенности картины в целом, однако конкретные выводы, разумеется, объявлены нарушающими общечеловеческие нормы этики и морали. Прежде всего, курс на социально-ориентированный национальный проект предопределяет высокую востребованность прогресса профессионального сообщества. Современные технологии достигли такого уровня, что начало повседневной работы по формированию позиции требует от нас анализа вывода текущих активов. А еще диаграммы связей будут своевременно верифицированы. Высокий уровень вовлечения представителей целевой аудитории является четким доказательством простого факта: начало повседневной работы по формированию позиции способствует подготовке и реализации экономической целесообразности принимаемых решений. Также как повышение уровня гражданского сознания требует определения и уточнения форм воздействия. Но глубокий уровень погружения способствует подготовке и реализации вывода текущих активов.
                    </p>
                </div>
            </div>
        </div>
    </div>
    //= parts/footer.html
    //= parts/footer-links.html
</div>
</body>
</html>