//= parts/head.html
<div class="global-wrapper">
    //= parts/header.html
    <div class="page">
        <div class="events">
            <div class="events__portfolio events__padding">
                <div class="mbox">
                    <div class="portfolio">
                        <div class="portfolio__head">
                            <h1>Портфолио</h1>
                        </div>
                        //= parts/breadcrumbs.html
                        <div class="portfolio__text">
                            <p>С 2000 г. <b>EVENTIX</b> помогает своим клиентам — ведущим международным брендам и крупным российским компаниям — завоевывать новые аудитории, быть на шаг впереди конкурентов, реализовывать захватывающие проекты. Эффективность и значимость своей работы мы каждый день доказываем в четырех основных направлениях: Creativе, Event, PR, Video Production.</p>
                              <p>Наш стандарт — мероприятия мирового уровня. И лучшие из них собраны здесь: маркетинговые презентации, деловые, корпоративные и PR-мероприятия. Проекты DEPARTÁMENT становятся знаковыми для индустрии и отмечаются множеством наград.</p>
                        </div>
                        <div class="box__container">
                            <a href="#" class="box">
                                <div class="box__image">
                                    <img src="images/port_1.jpg" alt="">
                                </div>
                                <div class="box__text">
                                    <span>Корпоративные<br>мероприятия</span>
                                </div>
                            </a>
                            <a href="#" class="box box--large">
                                <div class="box__image">
                                    <img src="images/port_4.jpg" alt="">
                                </div>
                                <div class="box__text">
                                    <span>Открытие Сезона Гольф-клуба "СКОЛКОВО"</span>
                                </div>
                            </a>
                            <a href="#" class="box">
                                <div class="box__image">
                                    <img src="images/port_3.jpg" alt="">
                                </div>
                                <div class="box__text">
                                    <span>Спортивные<br>мероприятия</span>
                                </div>
                            </a>
                            <a href="#" class="box">
                                <div class="box__image">
                                    <img src="images/port_4.jpg" alt="">
                                </div>
                                <div class="box__text">
                                    <span>Тимбилдинги</span>
                                </div>
                            </a>
                            <a href="#" class="box box--large">
                                <div class="box__image">
                                    <img src="images/port_5.jpg" alt="">
                                </div>
                                <div class="box__text">
                                    <span>Маркетинговые мероприятия</span>
                                </div>
                            </a>
                            <a href="#" class="box">
                                <div class="box__image">
                                    <img src="images/port_6.jpg" alt="">
                                </div>
                                <div class="box__text">
                                    <span>Выездные<br>мероприятия</span>
                                </div>
                            </a>
                        </div>
                        <div class="card__review-btn">
                            <a href="#" class="btn btn-default">Посмотреть все проекты</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="events__request">
                <div class="events__bg">
                    <img src="images/request_bg.jpg" alt="">
                </div>
                <div class="request request--grey">
                    <div class="request__body">
                        <div class="request__head">
                            <h2>Запрос на организацию мероприятия:</h2>
                        </div>
                        <div class="request__form">
                            <form action="">
                                <div class="request__info">
                                    <div class="request__fields">
                                        <div class="request__input">
                                            <input type="text" required placeholder="Ваше имя">
                                        </div>
                                        <div class="request__input">
                                            <input type="text" required placeholder="Номер телефона" class="tel-mask">
                                        </div>
                                        <div class="request__input">
                                            <input type="text" placeholder="Ваш E-mail">
                                        </div>
                                    </div>
                                    <div class="request__text">
                                        <textarea name="" id=""  placeholder="Пожелания к мероприятию: дата, место, количество человек и т.д."></textarea>
                                    </div>
                                </div>
                                <div class="card__review-btn">
                                    <button class="btn btn-default"><span>Отправить</span></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    //= parts/footer.html
    //= parts/footer-links.html
</div>
</body>
</html>