//= parts/head.html
<div class="global-wrapper">
    //= parts/header.html
    <div class="page">
        <div class="catalog-wrap">
            <div class="mbox">
                <div class="catalog result">
                    <div class="catalog__aside">
                        <form class="main__form">
                            <div class="main__form-input-wrap">
                                <div class="main__form-input">
                                    <input type="text" required placeholder="Город, метро, площадка">
                                </div>
                                <div class="main__form-input">
                                    <select data-placeholder="Вместимость">
                                        <option></option>
                                        <option value="Любая">Любая</option>
                                        <option value="До 50 человек">до 50 человек</option>
                                        <option value="До 100 человек">от 50 до 100 человек</option>
                                        <option value="До 300 человек">от 100 до 300 человек</option>
                                        <option value="До 500 человек">от 300 до 500 человек</option>
                                        <option value="До 1000 человек">от 500 до 1000 человек</option>
                                        <option value="1000+ человек">свыше 1000 человек</option>
                                    </select>
                                </div>
                                <div class="main__form-input">
                                    <select data-placeholder="Тип площадки">
                                        <option></option>
                                        <option value="Театр">Любая</option>
                                        <option value="Класс">Конференц залы</option>
                                        <option value="Банкет">Банкетные залы</option>
                                        <option value="По периметру">Концертные залы</option>
                                        <option value="Фуршет">Выставочные залы</option>
                                        <option value="Лофты">Лофты</option>
                                        <option value="Усадьбы и особняки">Усадьбы и особняки</option>
                                        <option value="Загородные площадки">Загородные площадки</option>
                                        <option value="Особые площадки">Особые площадки</option>
                                    </select>
                                </div>
                                <div class="main__form-input">
                                    <select data-placeholder="Рассадка">
                                        <option></option>
                                        <option class="select-ico select-theater" value="Театр">Театр</option>
                                        <option class="select-ico select-class" value="Класс">Класс</option>
                                        <option class="select-ico select-banquet" value="Банкет">Банкет</option>
                                        <option class="select-ico select-perimeter" value="По периметру">По периметру</option>
                                        <option class="select-ico select-buffet" value="Фуршет">Фуршет</option>
                                    </select>
                                </div>
                            </div>
                            <div class="main__form-btn">
                                <button type="submit" class="btn btn-default">Найти</button>
                            </div>
                            <div class="catalog__filter">
                                <div class="catalog__filter-title">Фильтр результатов:</div>
                                <div class="catalog__filter-section">
                                    <div class="catalog__filter-section-title">Категория</div>
                                    <div class="catalog__filter-value">
                                        <div class="catalog__filter-input">
                                            <label>
                                                <input type="checkbox"> 3 звезды
                                            </label>
                                        </div>
                                        <div class="catalog__filter-input">
                                            <label>
                                                <input type="checkbox"> 4 звезды
                                            </label>
                                        </div>
                                        <div class="catalog__filter-input">
                                            <label>
                                                <input type="checkbox"> 5 звезды
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="catalog__filter-section">
                                    <div class="catalog__filter-section-title">Дополнительный фильтр</div>
                                    <div class="catalog__filter-value">
                                        <div class="catalog__filter-input">
                                            <label>
                                                <input type="checkbox"> Центр города
                                            </label>
                                        </div>
                                        <div class="catalog__filter-input">
                                            <label>
                                                <input type="checkbox"> Проживание участников
                                            </label>
                                        </div>
                                        <div class="catalog__filter-input">
                                            <label>
                                                <input type="checkbox"> Установка авто
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="catalog__filter-section">
                                    <div class="catalog__filter-section-title">Цена руб./ день:</div>
                                    <div class="catalog__filter-value">
                                        <div class="catalog__filter-btn-wrap">
                                            <label class="catalog__filter-btn">

                                                <input type="text" class="catalog__filter-range-dots catalog__filter-range-left "/>
                                            </label>
                                            <div class="catalog__filter-line"></div>
                                            <label class="catalog__filter-btn">

                                                <input type="text" class="catalog__filter-range-dots catalog__filter-range-right "/>
                                            </label>

                                        </div>
                                        <div class="catalog__filter-range">
                                            <label>
                                                <span>От</span>
                                                <input type="text" class="catalog__filter-range-dots catalog__filter-range-left"/>
                                            </label>
                                            <label>
                                                <span>До</span>
                                                <input type="text" class="catalog__filter-range-dots catalog__filter-range-right"/>
                                            </label>
                                            <div class="catalog__filter-range-line"></div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="aside__close"></div>
                    </div>
                    <div class="result-wrap">
                        //= parts/breadcrumbs.html
                        <div class="result__content">
                            <div class="result__row">
                                <div class="result__search-result">
                                    Найдено <span>125</span> подходящих площадок
                                </div>
                                <div class="result__tabs-wrap">
                                    <div class="result__mob-filter">
                                        <svg><use xlink:href="#search-ico"></use></svg>
                                        Фильтр
                                    </div>
                                    <div class="result__tabs">
                                        <div class="result__tab">
                                            <svg><use xlink:href="#pointer-ico"></use></svg>
                                            На карте
                                        </div>
                                        <div class="result__tab-list result__tab active">
                                            <svg><use xlink:href="#menu-ico"></use></svg>
                                            Список
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="result__box result__box-map">
                                <div id="result-map" class="result__map"></div>
                            </div>
                            <div class="result__box active">
                                <script>
                                    var arCity={
                                        '001':{
                                            name : "test",
                                            assessment : "9.2" + " ",
                                            assessmentText : "Превосходно",
                                            adress : "г. Москва, ул.Измайловская, 41",
                                            tel : "8 (495) 12123123",
                                            price : "От 410 000 руб/день",
                                            lat : 51.7447492,
                                            lng : 37.6181179,
                                            img: "images/halls-img_01.jpg",
                                        },
                                        '002':{
                                            name : "test2",
                                            assessment : "9.2" + " ",
                                            assessmentText : "Превосходно",
                                            adress : "г. Москва, ул.Измайловская, 41",
                                            tel : "8 (495) 12123123",
                                            price : "От 420 000 руб/день",
                                            lat : 52.7447492,
                                            lng : 38.6181179,
                                            img: "images/halls-img_01.jpg",
                                        },
                                        '003':{
                                            name : "test3",
                                            assessment : "9.2" + " ",
                                            assessmentText : "Превосходно",
                                            adress : "г. Москва, ул.Измайловская, 41",
                                            tel : "8 (495) 12123123",
                                            price : "От 430 000 руб/день",
                                            lat : 53.7447492,
                                            lng : 39.6181179,
                                            img: "images/halls-img_01.jpg",
                                        },
                                    }
                                </script>
                                <div class="result__item">
                                    <div class="result__hotel">
                                        <div class="card__place">
                                            <div class="card__info">
                                                <div class="card__title-wrap card__title-rating">
                                                    <a href="#" class="card__title">Swiss Hotel</a>
                                                    <div class="rating">
                                                        <input type="radio" name="rating-star" class="rating__control" id="rc1" disabled>
                                                        <input type="radio" name="rating-star" class="rating__control" id="rc2" disabled>
                                                        <input type="radio" name="rating-star" class="rating__control" id="rc3" disabled>
                                                        <input type="radio" name="rating-star" class="rating__control" id="rc4" disabled>
                                                        <input type="radio" name="rating-star" class="rating__control" id="rc5" disabled checked>
                                                        <label for="rc1" class="rating__item">
                                                            <svg class="rating__star">
                                                                <use xlink:href="#star-ico"></use>
                                                            </svg>
                                                            <span class="rating__label">1</span>
                                                        </label>
                                                        <label for="rc2" class="rating__item">
                                                            <svg class="rating__star">
                                                                <use xlink:href="#star-ico"></use>
                                                            </svg>
                                                            <span class="rating__label">2</span>
                                                        </label>
                                                        <label for="rc3" class="rating__item">
                                                            <svg class="rating__star">
                                                                <use xlink:href="#star-ico"></use>
                                                            </svg>
                                                            <span class="rating__label">3</span>
                                                        </label>
                                                        <label for="rc4" class="rating__item">
                                                            <svg class="rating__star">
                                                                <use xlink:href="#star-ico"></use>
                                                            </svg>
                                                            <span class="rating__label">4</span>
                                                        </label>
                                                        <label for="rc5" class="rating__item">
                                                            <svg class="rating__star">
                                                                <use xlink:href="#star-ico"></use>
                                                            </svg>
                                                            <span class="rating__label">5</span>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="card__title-wrap">
                                                    <div class="card__title">
                                                        9,1 <span class="hotel-rating hotel-rating--green">Превосходно</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card__info">
                                                <div class="card__title-wrap">
                                                    <div class="card__address">
                                                        <svg><use xlink:href="#pointer-ico"></use></svg>
                                                        г. Москва, ул.Измайловская, 41
                                                    </div>
                                                    <a href="#popup-map" data-fancybox data-options='{"touch" : false}' class="card__on-map" onclick="initPopupMap(arCity['001'])" id="001">
                                                        <svg><use xlink:href="#pointer-ico"></use></svg>
                                                        На карте
                                                    </a>
                                                    <div class="card__metro">
                                                        <svg><use xlink:href="#metro-ico"></use></svg>
                                                        <span class="metro-blue">м</span> Владыкино
                                                    </div>
                                                </div>
                                                <div class="card__title-wrap">
                                                    <a href="tel:+8 (495) 12123123" class="card__title-contact">
                                                        <svg><use xlink:href="#phone-ico"></use></svg>
                                                        8 (495) 12123123 (отдел продаж)
                                                    </a>
                                                    <a href="mailto:sale.conf@gmail.com" class="card__title-contact">
                                                        <svg><use xlink:href="#mail-ico"></use></svg>
                                                        sale.conf@gmail.com
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="card__slider-wrap">
                                                <div class="card__slider-small">
                                                    <a href="images/card-slider-img_01.jpg" data-fancybox="slider" class="card__slide-small"><img src="images/card-slider-img_01.jpg" alt=""></a>
                                                    <a href="images/card-slider-img_01.jpg" data-fancybox="slider" class="card__slide-small"><img src="images/card-slider-img_01.jpg" alt=""></a>
                                                    <a href="images/card-slider-img_01.jpg" data-fancybox="slider" class="card__slide-small"><img src="images/card-slider-img_01.jpg" alt=""></a>
                                                    <a href="images/card-slider-img_01.jpg" data-fancybox="slider" class="card__slide-small"><img src="images/card-slider-img_01.jpg" alt=""></a>
                                                    <a href="images/card-slider-img_01.jpg" data-fancybox="slider" class="card__slide-small"><img src="images/card-slider-img_01.jpg" alt=""></a>
                                                </div>
                                                <div class="result__item-desc">
                                                    <p><b>Отель «Арт Москва Войковская»</b> расположен в 15 минутах езды на метро от центра Москвы и получасе езды на автомобиле от международного <b>аэропорта «Шереметьево»</b>.</p>
                                                    <p>Ближайшие к отелю <b>станции метро Войковская и МЦК Балтийская</b> находятся в 7 и 10 минутах пешей прогулки.
                                                        Отель представляет собой современное, со вкусом оформленное пространство со стильными интерьерами и концептуальным дизайном.</p>
                                                    <p>Номерной фонд гостиницы состоит из <b>264 номеров</b> (что позволяет принять <b>до 600 гостей</b>): от двухместных стандартов до номеров-апартаментов и номеров <b>класса "Люкс"</b>. Инфраструктура отеля включает ресторан,
                                                        бар, просторную лобби зону, банкетный зал, конференц-залы, вместительную бесплатную парковку, коворкинг, бесплатный высокоскоростной WiFi.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="halls__collapse-btn js-collapse-btn"></div>
                                    </div>
                                    <div class="result__halls">
                                        <div class="result__halls-accept">Подходящие залы: </div>
                                        <div class="result__halls-box">
                                            <div class="result__hall-detail">
                                                <div class="result__hall">
                                                    <div class="result__hall-title">
                                                        <div class="result__hall-img">
                                                            <img src="images/halls-img_01.jpg" alt="">
                                                        </div>
                                                        <div class="result__hall-desc">
                                                            <b>Swiss Hotel</b>
                                                            <span><b>Зал Ленинград (5 м2)</b></span>
                                                            <span>450 000 руб/день</span>
                                                        </div>
                                                    </div>
                                                    <div class="result__hall-more">Раскрыть</div>
                                                    <div class="result__hall-btn">
                                                        <a href="#" class="btn btn-default">Оставить заявку</a>
                                                    </div>
                                                </div>
                                                <div class="card__slider-wrap">
                                                    <div class="card__slider-small">
                                                        <a href="images/card-slider-img_01.jpg" data-fancybox="slider" class="card__slide-small"><img src="images/card-slider-img_01.jpg" alt=""></a>
                                                        <a href="images/card-slider-img_01.jpg" data-fancybox="slider" class="card__slide-small"><img src="images/card-slider-img_01.jpg" alt=""></a>
                                                        <a href="images/card-slider-img_01.jpg" data-fancybox="slider" class="card__slide-small"><img src="images/card-slider-img_01.jpg" alt=""></a>
                                                        <a href="images/card-slider-img_01.jpg" data-fancybox="slider" class="card__slide-small"><img src="images/card-slider-img_01.jpg" alt=""></a>
                                                        <a href="images/card-slider-img_01.jpg" data-fancybox="slider" class="card__slide-small"><img src="images/card-slider-img_01.jpg" alt=""></a>
                                                    </div>
                                                    <div class="result__item-desc">
                                                        <p><b>Отель «Арт Москва Войковская»</b> расположен в 15 минутах езды на метро от центра Москвы и получасе езды на автомобиле от международного <b>аэропорта «Шереметьево»</b>.</p>
                                                        <p>Ближайшие к отелю <b>станции метро Войковская и МЦК Балтийская</b> находятся в 7 и 10 минутах пешей прогулки.
                                                            Отель представляет собой современное, со вкусом оформленное пространство со стильными интерьерами и концептуальным дизайном.</p>
                                                        <p>Номерной фонд гостиницы состоит из <b>264 номеров</b> (что позволяет принять <b>до 600 гостей</b>): от двухместных стандартов до номеров-апартаментов и номеров <b>класса "Люкс"</b>. Инфраструктура отеля включает ресторан,
                                                            бар, просторную лобби зону, банкетный зал, конференц-залы, вместительную бесплатную парковку, коворкинг, бесплатный высокоскоростной WiFi.</p>
                                                        <p><b>КОНФЕРЕНЦ-ЗАЛ</b> рассчитан на 60 человек. <br>
                                                            Площадь 70 кв.м. <br>
                                                            Зал с мягкой мебелью, звуковым оборудованием и плазменными экранами.
                                                            <br>
                                                            Находится на 1 этаже. Также на первом этаже Soulfulloft расположились рецепция, гардероб, кухня.
                                                            <br>
                                                            Аренда зала в Soulfulloft - идеальный выбор для конференции, семинара, презентации, тренинга, делового совещания.</p>
                                                        <p><b>Стоимость аренды:</b>
                                                            На летний период: - от 5 000 рублей в час в зависимости от дня недели и времени мероприятия.
                                                            <br>
                                                            С осени - от 8 000 рублей в час </p>
                                                        <div class="result__list-head">В стоимость аренды входит:</div>
                                                        <ul class="list list--simple list--red">
                                                            <li><span>все оборудование (свет, звук, проектор + мебель),</span></li>
                                                            <li><span>менеджмент и клининг,</span></li>
                                                            <li><span>2 оборудованных бара,</span></li>
                                                            <li><span>сцена-подиум и прочее.</span></li>
                                                        </ul>
                                                        <div class="result__list-head">Отдел продаж:</div>
                                                        <ul class="list list--simple list--red">
                                                            <li><a href="tel:+7 (495) 133-89-97"><span>+7 (495) 133-89-97</span></a></li>
                                                            <li><a href="mailto:sale.conf@gmail.com"><span>sale.conf@gmail.com</span></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="result__hall-detail">
                                                <div class="result__hall">
                                                    <div class="result__hall-title">
                                                        <div class="result__hall-img">
                                                            <img src="images/halls-img_01.jpg" alt="">
                                                        </div>
                                                        <div class="result__hall-desc">
                                                            <b>Swiss Hotel</b>
                                                            <span><b>Зал Ленинград (5 м2)</b></span>
                                                            <span>450 000 руб/день</span>
                                                        </div>
                                                    </div>
                                                    <div class="result__hall-more">Раскрыть</div>
                                                    <div class="result__hall-btn">
                                                        <a href="#" class="btn btn-default">Оставить заявку</a>
                                                    </div>
                                                </div>
                                                <div class="card__slider-wrap">
                                                    <div class="card__slider-small">
                                                        <a href="images/card-slider-img_01.jpg" data-fancybox="slider" class="card__slide-small"><img src="images/card-slider-img_01.jpg" alt=""></a>
                                                        <a href="images/card-slider-img_01.jpg" data-fancybox="slider" class="card__slide-small"><img src="images/card-slider-img_01.jpg" alt=""></a>
                                                        <a href="images/card-slider-img_01.jpg" data-fancybox="slider" class="card__slide-small"><img src="images/card-slider-img_01.jpg" alt=""></a>
                                                        <a href="images/card-slider-img_01.jpg" data-fancybox="slider" class="card__slide-small"><img src="images/card-slider-img_01.jpg" alt=""></a>
                                                        <a href="images/card-slider-img_01.jpg" data-fancybox="slider" class="card__slide-small"><img src="images/card-slider-img_01.jpg" alt=""></a>
                                                    </div>
                                                    <div class="result__item-desc">
                                                        <p><b>Отель «Арт Москва Войковская»</b> расположен в 15 минутах езды на метро от центра Москвы и получасе езды на автомобиле от международного <b>аэропорта «Шереметьево»</b>.</p>
                                                        <p>Ближайшие к отелю <b>станции метро Войковская и МЦК Балтийская</b> находятся в 7 и 10 минутах пешей прогулки.
                                                            Отель представляет собой современное, со вкусом оформленное пространство со стильными интерьерами и концептуальным дизайном.</p>
                                                        <p>Номерной фонд гостиницы состоит из <b>264 номеров</b> (что позволяет принять <b>до 600 гостей</b>): от двухместных стандартов до номеров-апартаментов и номеров <b>класса "Люкс"</b>. Инфраструктура отеля включает ресторан,
                                                            бар, просторную лобби зону, банкетный зал, конференц-залы, вместительную бесплатную парковку, коворкинг, бесплатный высокоскоростной WiFi.</p>
                                                        <p><b>КОНФЕРЕНЦ-ЗАЛ</b> рассчитан на 60 человек. <br>
                                                            Площадь 70 кв.м. <br>
                                                            Зал с мягкой мебелью, звуковым оборудованием и плазменными экранами.
                                                            <br>
                                                            Находится на 1 этаже. Также на первом этаже Soulfulloft расположились рецепция, гардероб, кухня.
                                                            <br>
                                                            Аренда зала в Soulfulloft - идеальный выбор для конференции, семинара, презентации, тренинга, делового совещания.</p>
                                                        <p><b>Стоимость аренды:</b>
                                                            На летний период: - от 5 000 рублей в час в зависимости от дня недели и времени мероприятия.
                                                            <br>
                                                            С осени - от 8 000 рублей в час </p>
                                                        <div class="result__list-head">В стоимость аренды входит:</div>
                                                        <ul class="list list--simple list--red">
                                                            <li><span>все оборудование (свет, звук, проектор + мебель),</span></li>
                                                            <li><span>менеджмент и клининг,</span></li>
                                                            <li><span>2 оборудованных бара,</span></li>
                                                            <li><span>сцена-подиум и прочее.</span></li>
                                                        </ul>
                                                        <div class="result__list-head">Отдел продаж:</div>
                                                        <ul class="list list--simple list--red">
                                                            <li><a href="tel:+7 (495) 133-89-97"><span>+7 (495) 133-89-97</span></a></li>
                                                            <li><a href="mailto:sale.conf@gmail.com"><span>sale.conf@gmail.com</span></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="result__halls-more">Показать все залы</div>
                                </div>
                                <div class="result__item">
                                    <div class="result__hotel">
                                        <div class="card__place">
                                            <div class="card__info">
                                                <div class="card__title-wrap card__title-rating">
                                                    <a href="#" class="card__title">Swiss Hotel</a>
                                                    <div class="rating">
                                                        <input type="radio" name="rating-star-1" class="rating__control" id="rc11" disabled>
                                                        <input type="radio" name="rating-star-1" class="rating__control" id="rc12" disabled>
                                                        <input type="radio" name="rating-star-1" class="rating__control" id="rc13" disabled>
                                                        <input type="radio" name="rating-star-1" class="rating__control" id="rc14" disabled checked>
                                                        <input type="radio" name="rating-star-1" class="rating__control" id="rc15" disabled>
                                                        <label for="rc11" class="rating__item">
                                                            <svg class="rating__star">
                                                                <use xlink:href="#star-ico"></use>
                                                            </svg>
                                                            <span class="rating__label">1</span>
                                                        </label>
                                                        <label for="rc12" class="rating__item">
                                                            <svg class="rating__star">
                                                                <use xlink:href="#star-ico"></use>
                                                            </svg>
                                                            <span class="rating__label">2</span>
                                                        </label>
                                                        <label for="rc13" class="rating__item">
                                                            <svg class="rating__star">
                                                                <use xlink:href="#star-ico"></use>
                                                            </svg>
                                                            <span class="rating__label">3</span>
                                                        </label>
                                                        <label for="rc14" class="rating__item">
                                                            <svg class="rating__star">
                                                                <use xlink:href="#star-ico"></use>
                                                            </svg>
                                                            <span class="rating__label">4</span>
                                                        </label>
                                                        <label for="rc15" class="rating__item">
                                                            <svg class="rating__star">
                                                                <use xlink:href="#star-ico"></use>
                                                            </svg>
                                                            <span class="rating__label">5</span>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="card__title-wrap">
                                                    <div class="card__title">
                                                        9,1 <span class="hotel-rating hotel-rating--green">Превосходно</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card__info">
                                                <div class="card__title-wrap">
                                                    <div class="card__address">
                                                        <svg><use xlink:href="#pointer-ico"></use></svg>
                                                        г. Москва, ул.Измайловская, 41
                                                    </div>
                                                    <a href="#popup-map" data-fancybox data-options='{"touch" : false}' class="card__on-map" onclick="initPopupMap(arCity['002'])" id="002">
                                                        <svg><use xlink:href="#pointer-ico"></use></svg>
                                                        На карте
                                                    </a>
                                                    <div class="card__metro">
                                                        <svg><use xlink:href="#metro-ico"></use></svg>
                                                        <span class="metro-blue">м</span> Владыкино
                                                    </div>
                                                </div>
                                                <div class="card__title-wrap">
                                                    <a href="tel:+8 (495) 12123123" class="card__title-contact">
                                                        <svg><use xlink:href="#phone-ico"></use></svg>
                                                        8 (495) 12123123 (отдел продаж)
                                                    </a>
                                                    <a href="mailto:sale.conf@gmail.com" class="card__title-contact">
                                                        <svg><use xlink:href="#mail-ico"></use></svg>
                                                        sale.conf@gmail.com
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="card__slider-wrap">
                                                <div class="card__slider-small">
                                                    <a href="images/card-slider-img_01.jpg" data-fancybox="slider" class="card__slide-small"><img src="images/card-slider-img_01.jpg" alt=""></a>
                                                    <a href="images/card-slider-img_01.jpg" data-fancybox="slider" class="card__slide-small"><img src="images/card-slider-img_01.jpg" alt=""></a>
                                                    <a href="images/card-slider-img_01.jpg" data-fancybox="slider" class="card__slide-small"><img src="images/card-slider-img_01.jpg" alt=""></a>
                                                    <a href="images/card-slider-img_01.jpg" data-fancybox="slider" class="card__slide-small"><img src="images/card-slider-img_01.jpg" alt=""></a>
                                                    <a href="images/card-slider-img_01.jpg" data-fancybox="slider" class="card__slide-small"><img src="images/card-slider-img_01.jpg" alt=""></a>
                                                </div>
                                                <div class="result__item-desc">
                                                    <p><b>Отель «Арт Москва Войковская»</b> расположен в 15 минутах езды на метро от центра Москвы и получасе езды на автомобиле от международного <b>аэропорта «Шереметьево»</b>.</p>
                                                    <p>Ближайшие к отелю <b>станции метро Войковская и МЦК Балтийская</b> находятся в 7 и 10 минутах пешей прогулки.
                                                        Отель представляет собой современное, со вкусом оформленное пространство со стильными интерьерами и концептуальным дизайном.</p>
                                                    <p>Номерной фонд гостиницы состоит из <b>264 номеров</b> (что позволяет принять <b>до 600 гостей</b>): от двухместных стандартов до номеров-апартаментов и номеров <b>класса "Люкс"</b>. Инфраструктура отеля включает ресторан,
                                                        бар, просторную лобби зону, банкетный зал, конференц-залы, вместительную бесплатную парковку, коворкинг, бесплатный высокоскоростной WiFi.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="halls__collapse-btn js-collapse-btn"></div>
                                    </div>
                                    <div class="result__halls">
                                        <div class="result__halls-accept">Подходящие залы: </div>
                                        <div class="result__halls-box">
                                            <div class="result__hall-detail">
                                                <div class="result__hall">
                                                    <div class="result__hall-title">
                                                        <div class="result__hall-img">
                                                            <img src="images/halls-img_01.jpg" alt="">
                                                        </div>
                                                        <div class="result__hall-desc">
                                                            <b>Swiss Hotel</b>
                                                            <span><b>Зал Ленинград (5 м2)</b></span>
                                                            <span>450 000 руб/день</span>
                                                        </div>
                                                    </div>
                                                    <div class="result__hall-more">Раскрыть</div>
                                                    <div class="result__hall-btn">
                                                        <a href="#" class="btn btn-default">Оставить заявку</a>
                                                    </div>
                                                </div>
                                                <div class="card__slider-wrap">
                                                    <div class="card__slider-small">
                                                        <a href="images/card-slider-img_01.jpg" data-fancybox="slider" class="card__slide-small"><img src="images/card-slider-img_01.jpg" alt=""></a>
                                                        <a href="images/card-slider-img_01.jpg" data-fancybox="slider" class="card__slide-small"><img src="images/card-slider-img_01.jpg" alt=""></a>
                                                        <a href="images/card-slider-img_01.jpg" data-fancybox="slider" class="card__slide-small"><img src="images/card-slider-img_01.jpg" alt=""></a>
                                                        <a href="images/card-slider-img_01.jpg" data-fancybox="slider" class="card__slide-small"><img src="images/card-slider-img_01.jpg" alt=""></a>
                                                        <a href="images/card-slider-img_01.jpg" data-fancybox="slider" class="card__slide-small"><img src="images/card-slider-img_01.jpg" alt=""></a>
                                                    </div>
                                                    <div class="result__item-desc">
                                                        <p><b>Отель «Арт Москва Войковская»</b> расположен в 15 минутах езды на метро от центра Москвы и получасе езды на автомобиле от международного <b>аэропорта «Шереметьево»</b>.</p>
                                                        <p>Ближайшие к отелю <b>станции метро Войковская и МЦК Балтийская</b> находятся в 7 и 10 минутах пешей прогулки.
                                                            Отель представляет собой современное, со вкусом оформленное пространство со стильными интерьерами и концептуальным дизайном.</p>
                                                        <p>Номерной фонд гостиницы состоит из <b>264 номеров</b> (что позволяет принять <b>до 600 гостей</b>): от двухместных стандартов до номеров-апартаментов и номеров <b>класса "Люкс"</b>. Инфраструктура отеля включает ресторан,
                                                            бар, просторную лобби зону, банкетный зал, конференц-залы, вместительную бесплатную парковку, коворкинг, бесплатный высокоскоростной WiFi.</p>
                                                        <p><b>КОНФЕРЕНЦ-ЗАЛ</b> рассчитан на 60 человек. <br>
                                                            Площадь 70 кв.м. <br>
                                                            Зал с мягкой мебелью, звуковым оборудованием и плазменными экранами.
                                                            <br>
                                                            Находится на 1 этаже. Также на первом этаже Soulfulloft расположились рецепция, гардероб, кухня.
                                                            <br>
                                                            Аренда зала в Soulfulloft - идеальный выбор для конференции, семинара, презентации, тренинга, делового совещания.</p>
                                                        <p><b>Стоимость аренды:</b>
                                                            На летний период: - от 5 000 рублей в час в зависимости от дня недели и времени мероприятия.
                                                            <br>
                                                            С осени - от 8 000 рублей в час </p>
                                                        <div class="result__list-head">В стоимость аренды входит:</div>
                                                        <ul class="list list--simple list--red">
                                                            <li><span>все оборудование (свет, звук, проектор + мебель),</span></li>
                                                            <li><span>менеджмент и клининг,</span></li>
                                                            <li><span>2 оборудованных бара,</span></li>
                                                            <li><span>сцена-подиум и прочее.</span></li>
                                                        </ul>
                                                        <div class="result__list-head">Отдел продаж:</div>
                                                        <ul class="list list--simple list--red">
                                                            <li><a href="tel:+7 (495) 133-89-97"><span>+7 (495) 133-89-97</span></a></li>
                                                            <li><a href="mailto:sale.conf@gmail.com"><span>sale.conf@gmail.com</span></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="result__hall-detail">
                                                <div class="result__hall">
                                                    <div class="result__hall-title">
                                                        <div class="result__hall-img">
                                                            <img src="images/halls-img_01.jpg" alt="">
                                                        </div>
                                                        <div class="result__hall-desc">
                                                            <b>Swiss Hotel</b>
                                                            <span><b>Зал Ленинград (5 м2)</b></span>
                                                            <span>450 000 руб/день</span>
                                                        </div>
                                                    </div>
                                                    <div class="result__hall-more">Раскрыть</div>
                                                    <div class="result__hall-btn">
                                                        <a href="#" class="btn btn-default">Оставить заявку</a>
                                                    </div>
                                                </div>
                                                <div class="card__slider-wrap">
                                                    <div class="card__slider-small">
                                                        <a href="images/card-slider-img_01.jpg" data-fancybox="slider" class="card__slide-small"><img src="images/card-slider-img_01.jpg" alt=""></a>
                                                        <a href="images/card-slider-img_01.jpg" data-fancybox="slider" class="card__slide-small"><img src="images/card-slider-img_01.jpg" alt=""></a>
                                                        <a href="images/card-slider-img_01.jpg" data-fancybox="slider" class="card__slide-small"><img src="images/card-slider-img_01.jpg" alt=""></a>
                                                        <a href="images/card-slider-img_01.jpg" data-fancybox="slider" class="card__slide-small"><img src="images/card-slider-img_01.jpg" alt=""></a>
                                                        <a href="images/card-slider-img_01.jpg" data-fancybox="slider" class="card__slide-small"><img src="images/card-slider-img_01.jpg" alt=""></a>
                                                    </div>
                                                    <div class="result__item-desc">
                                                        <p><b>Отель «Арт Москва Войковская»</b> расположен в 15 минутах езды на метро от центра Москвы и получасе езды на автомобиле от международного <b>аэропорта «Шереметьево»</b>.</p>
                                                        <p>Ближайшие к отелю <b>станции метро Войковская и МЦК Балтийская</b> находятся в 7 и 10 минутах пешей прогулки.
                                                            Отель представляет собой современное, со вкусом оформленное пространство со стильными интерьерами и концептуальным дизайном.</p>
                                                        <p>Номерной фонд гостиницы состоит из <b>264 номеров</b> (что позволяет принять <b>до 600 гостей</b>): от двухместных стандартов до номеров-апартаментов и номеров <b>класса "Люкс"</b>. Инфраструктура отеля включает ресторан,
                                                            бар, просторную лобби зону, банкетный зал, конференц-залы, вместительную бесплатную парковку, коворкинг, бесплатный высокоскоростной WiFi.</p>
                                                        <p><b>КОНФЕРЕНЦ-ЗАЛ</b> рассчитан на 60 человек. <br>
                                                            Площадь 70 кв.м. <br>
                                                            Зал с мягкой мебелью, звуковым оборудованием и плазменными экранами.
                                                            <br>
                                                            Находится на 1 этаже. Также на первом этаже Soulfulloft расположились рецепция, гардероб, кухня.
                                                            <br>
                                                            Аренда зала в Soulfulloft - идеальный выбор для конференции, семинара, презентации, тренинга, делового совещания.</p>
                                                        <p><b>Стоимость аренды:</b>
                                                            На летний период: - от 5 000 рублей в час в зависимости от дня недели и времени мероприятия.
                                                            <br>
                                                            С осени - от 8 000 рублей в час </p>
                                                        <div class="result__list-head">В стоимость аренды входит:</div>
                                                        <ul class="list list--simple list--red">
                                                            <li><span>все оборудование (свет, звук, проектор + мебель),</span></li>
                                                            <li><span>менеджмент и клининг,</span></li>
                                                            <li><span>2 оборудованных бара,</span></li>
                                                            <li><span>сцена-подиум и прочее.</span></li>
                                                        </ul>
                                                        <div class="result__list-head">Отдел продаж:</div>
                                                        <ul class="list list--simple list--red">
                                                            <li><a href="tel:+7 (495) 133-89-97"><span>+7 (495) 133-89-97</span></a></li>
                                                            <li><a href="mailto:sale.conf@gmail.com"><span>sale.conf@gmail.com</span></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="result__halls-more">Показать все залы</div>
                                </div>
                                <div class="result__item">
                                    <div class="result__hotel">
                                        <div class="card__place">
                                            <div class="card__info">
                                                <div class="card__title-wrap card__title-rating">
                                                    <a href="#" class="card__title">Swiss Hotel</a>
                                                    <div class="rating">
                                                        <input type="radio" name="rating-star-2" class="rating__control" id="rc21" >
                                                        <input type="radio" name="rating-star-2" class="rating__control" id="rc22" disabled>
                                                        <input type="radio" name="rating-star-2" class="rating__control" id="rc23" disabled checked>
                                                        <input type="radio" name="rating-star-2" class="rating__control" id="rc24" disabled>
                                                        <input type="radio" name="rating-star-2" class="rating__control" id="rc25" disabled>
                                                        <label for="rc21" class="rating__item">
                                                            <svg class="rating__star">
                                                                <use xlink:href="#star-ico"></use>
                                                            </svg>
                                                            <span class="rating__label">1</span>
                                                        </label>
                                                        <label for="rc22" class="rating__item">
                                                            <svg class="rating__star">
                                                                <use xlink:href="#star-ico"></use>
                                                            </svg>
                                                            <span class="rating__label">2</span>
                                                        </label>
                                                        <label for="rc23" class="rating__item">
                                                            <svg class="rating__star">
                                                                <use xlink:href="#star-ico"></use>
                                                            </svg>
                                                            <span class="rating__label">3</span>
                                                        </label>
                                                        <label for="rc24" class="rating__item">
                                                            <svg class="rating__star">
                                                                <use xlink:href="#star-ico"></use>
                                                            </svg>
                                                            <span class="rating__label">4</span>
                                                        </label>
                                                        <label for="rc25" class="rating__item">
                                                            <svg class="rating__star">
                                                                <use xlink:href="#star-ico"></use>
                                                            </svg>
                                                            <span class="rating__label">5</span>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="card__title-wrap">
                                                    <div class="card__title">
                                                        9,1 <span class="hotel-rating hotel-rating--green">Превосходно</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card__info">
                                                <div class="card__title-wrap">
                                                    <div class="card__address">
                                                        <svg><use xlink:href="#pointer-ico"></use></svg>
                                                        г. Москва, ул.Измайловская, 41
                                                    </div>

                                                    <a href="#popup-map" data-fancybox data-options='{"touch" : false}' class="card__on-map" onclick="initPopupMap(arCity['003'])" id="003">
                                                        <svg><use xlink:href="#pointer-ico"></use></svg>
                                                        На карте
                                                    </a>
                                                    <div class="card__metro">
                                                        <svg><use xlink:href="#metro-ico"></use></svg>
                                                        <span class="metro-blue">м</span> Владыкино
                                                    </div>
                                                </div>
                                                <div class="card__title-wrap">
                                                    <a href="tel:+8 (495) 12123123" class="card__title-contact">
                                                        <svg><use xlink:href="#phone-ico"></use></svg>
                                                        8 (495) 12123123 (отдел продаж)
                                                    </a>
                                                    <a href="mailto:sale.conf@gmail.com" class="card__title-contact">
                                                        <svg><use xlink:href="#mail-ico"></use></svg>
                                                        sale.conf@gmail.com
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="card__slider-wrap">
                                                <div class="card__slider-small">
                                                    <a href="images/card-slider-img_01.jpg" data-fancybox="slider" class="card__slide-small"><img src="images/card-slider-img_01.jpg" alt=""></a>
                                                    <a href="images/card-slider-img_01.jpg" data-fancybox="slider" class="card__slide-small"><img src="images/card-slider-img_01.jpg" alt=""></a>
                                                    <a href="images/card-slider-img_01.jpg" data-fancybox="slider" class="card__slide-small"><img src="images/card-slider-img_01.jpg" alt=""></a>
                                                    <a href="images/card-slider-img_01.jpg" data-fancybox="slider" class="card__slide-small"><img src="images/card-slider-img_01.jpg" alt=""></a>
                                                    <a href="images/card-slider-img_01.jpg" data-fancybox="slider" class="card__slide-small"><img src="images/card-slider-img_01.jpg" alt=""></a>
                                                </div>
                                                <div class="result__item-desc">
                                                    <p><b>Отель «Арт Москва Войковская»</b> расположен в 15 минутах езды на метро от центра Москвы и получасе езды на автомобиле от международного <b>аэропорта «Шереметьево»</b>.</p>
                                                    <p>Ближайшие к отелю <b>станции метро Войковская и МЦК Балтийская</b> находятся в 7 и 10 минутах пешей прогулки.
                                                        Отель представляет собой современное, со вкусом оформленное пространство со стильными интерьерами и концептуальным дизайном.</p>
                                                    <p>Номерной фонд гостиницы состоит из <b>264 номеров</b> (что позволяет принять <b>до 600 гостей</b>): от двухместных стандартов до номеров-апартаментов и номеров <b>класса "Люкс"</b>. Инфраструктура отеля включает ресторан,
                                                        бар, просторную лобби зону, банкетный зал, конференц-залы, вместительную бесплатную парковку, коворкинг, бесплатный высокоскоростной WiFi.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="halls__collapse-btn js-collapse-btn"></div>
                                    </div>
                                    <div class="result__halls">
                                        <div class="result__halls-accept">Подходящие залы: </div>
                                        <div class="result__halls-box">
                                            <div class="result__hall-detail">
                                                <div class="result__hall">
                                                    <div class="result__hall-title">
                                                        <div class="result__hall-img">
                                                            <img src="images/halls-img_01.jpg" alt="">
                                                        </div>
                                                        <div class="result__hall-desc">
                                                            <b>Swiss Hotel</b>
                                                            <span><b>Зал Ленинград (5 м2)</b></span>
                                                            <span>450 000 руб/день</span>
                                                        </div>
                                                    </div>
                                                    <div class="result__hall-more">Раскрыть</div>
                                                    <div class="result__hall-btn">
                                                        <a href="#" class="btn btn-default">Оставить заявку</a>
                                                    </div>
                                                </div>
                                                <div class="card__slider-wrap">
                                                    <div class="card__slider-small">
                                                        <a href="images/card-slider-img_01.jpg" data-fancybox="slider" class="card__slide-small"><img src="images/card-slider-img_01.jpg" alt=""></a>
                                                        <a href="images/card-slider-img_01.jpg" data-fancybox="slider" class="card__slide-small"><img src="images/card-slider-img_01.jpg" alt=""></a>
                                                        <a href="images/card-slider-img_01.jpg" data-fancybox="slider" class="card__slide-small"><img src="images/card-slider-img_01.jpg" alt=""></a>
                                                        <a href="images/card-slider-img_01.jpg" data-fancybox="slider" class="card__slide-small"><img src="images/card-slider-img_01.jpg" alt=""></a>
                                                        <a href="images/card-slider-img_01.jpg" data-fancybox="slider" class="card__slide-small"><img src="images/card-slider-img_01.jpg" alt=""></a>
                                                    </div>
                                                    <div class="result__item-desc">
                                                        <p><b>Отель «Арт Москва Войковская»</b> расположен в 15 минутах езды на метро от центра Москвы и получасе езды на автомобиле от международного <b>аэропорта «Шереметьево»</b>.</p>
                                                        <p>Ближайшие к отелю <b>станции метро Войковская и МЦК Балтийская</b> находятся в 7 и 10 минутах пешей прогулки.
                                                            Отель представляет собой современное, со вкусом оформленное пространство со стильными интерьерами и концептуальным дизайном.</p>
                                                        <p>Номерной фонд гостиницы состоит из <b>264 номеров</b> (что позволяет принять <b>до 600 гостей</b>): от двухместных стандартов до номеров-апартаментов и номеров <b>класса "Люкс"</b>. Инфраструктура отеля включает ресторан,
                                                            бар, просторную лобби зону, банкетный зал, конференц-залы, вместительную бесплатную парковку, коворкинг, бесплатный высокоскоростной WiFi.</p>
                                                        <p><b>КОНФЕРЕНЦ-ЗАЛ</b> рассчитан на 60 человек. <br>
                                                            Площадь 70 кв.м. <br>
                                                            Зал с мягкой мебелью, звуковым оборудованием и плазменными экранами.
                                                            <br>
                                                            Находится на 1 этаже. Также на первом этаже Soulfulloft расположились рецепция, гардероб, кухня.
                                                            <br>
                                                            Аренда зала в Soulfulloft - идеальный выбор для конференции, семинара, презентации, тренинга, делового совещания.</p>
                                                        <p><b>Стоимость аренды:</b>
                                                            На летний период: - от 5 000 рублей в час в зависимости от дня недели и времени мероприятия.
                                                            <br>
                                                            С осени - от 8 000 рублей в час </p>
                                                        <div class="result__list-head">В стоимость аренды входит:</div>
                                                        <ul class="list list--simple list--red">
                                                            <li><span>все оборудование (свет, звук, проектор + мебель),</span></li>
                                                            <li><span>менеджмент и клининг,</span></li>
                                                            <li><span>2 оборудованных бара,</span></li>
                                                            <li><span>сцена-подиум и прочее.</span></li>
                                                        </ul>
                                                        <div class="result__list-head">Отдел продаж:</div>
                                                        <ul class="list list--simple list--red">
                                                            <li><a href="tel:+7 (495) 133-89-97"><span>+7 (495) 133-89-97</span></a></li>
                                                            <li><a href="mailto:sale.conf@gmail.com"><span>sale.conf@gmail.com</span></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="result__hall-detail">
                                                <div class="result__hall">
                                                    <div class="result__hall-title">
                                                        <div class="result__hall-img">
                                                            <img src="images/halls-img_01.jpg" alt="">
                                                        </div>
                                                        <div class="result__hall-desc">
                                                            <b>Swiss Hotel</b>
                                                            <span><b>Зал Ленинград (5 м2)</b></span>
                                                            <span>450 000 руб/день</span>
                                                        </div>
                                                    </div>
                                                    <div class="result__hall-more">Раскрыть</div>
                                                    <div class="result__hall-btn">
                                                        <a href="#" class="btn btn-default">Оставить заявку</a>
                                                    </div>
                                                </div>
                                                <div class="card__slider-wrap">
                                                    <div class="card__slider-small">
                                                        <a href="images/card-slider-img_01.jpg" data-fancybox="slider" class="card__slide-small"><img src="images/card-slider-img_01.jpg" alt=""></a>
                                                        <a href="images/card-slider-img_01.jpg" data-fancybox="slider" class="card__slide-small"><img src="images/card-slider-img_01.jpg" alt=""></a>
                                                        <a href="images/card-slider-img_01.jpg" data-fancybox="slider" class="card__slide-small"><img src="images/card-slider-img_01.jpg" alt=""></a>
                                                        <a href="images/card-slider-img_01.jpg" data-fancybox="slider" class="card__slide-small"><img src="images/card-slider-img_01.jpg" alt=""></a>
                                                        <a href="images/card-slider-img_01.jpg" data-fancybox="slider" class="card__slide-small"><img src="images/card-slider-img_01.jpg" alt=""></a>
                                                    </div>
                                                    <div class="result__item-desc">
                                                        <p><b>Отель «Арт Москва Войковская»</b> расположен в 15 минутах езды на метро от центра Москвы и получасе езды на автомобиле от международного <b>аэропорта «Шереметьево»</b>.</p>
                                                        <p>Ближайшие к отелю <b>станции метро Войковская и МЦК Балтийская</b> находятся в 7 и 10 минутах пешей прогулки.
                                                            Отель представляет собой современное, со вкусом оформленное пространство со стильными интерьерами и концептуальным дизайном.</p>
                                                        <p>Номерной фонд гостиницы состоит из <b>264 номеров</b> (что позволяет принять <b>до 600 гостей</b>): от двухместных стандартов до номеров-апартаментов и номеров <b>класса "Люкс"</b>. Инфраструктура отеля включает ресторан,
                                                            бар, просторную лобби зону, банкетный зал, конференц-залы, вместительную бесплатную парковку, коворкинг, бесплатный высокоскоростной WiFi.</p>
                                                        <p><b>КОНФЕРЕНЦ-ЗАЛ</b> рассчитан на 60 человек. <br>
                                                            Площадь 70 кв.м. <br>
                                                            Зал с мягкой мебелью, звуковым оборудованием и плазменными экранами.
                                                            <br>
                                                            Находится на 1 этаже. Также на первом этаже Soulfulloft расположились рецепция, гардероб, кухня.
                                                            <br>
                                                            Аренда зала в Soulfulloft - идеальный выбор для конференции, семинара, презентации, тренинга, делового совещания.</p>
                                                        <p><b>Стоимость аренды:</b>
                                                            На летний период: - от 5 000 рублей в час в зависимости от дня недели и времени мероприятия.
                                                            <br>
                                                            С осени - от 8 000 рублей в час </p>
                                                        <div class="result__list-head">В стоимость аренды входит:</div>
                                                        <ul class="list list--simple list--red">
                                                            <li><span>все оборудование (свет, звук, проектор + мебель),</span></li>
                                                            <li><span>менеджмент и клининг,</span></li>
                                                            <li><span>2 оборудованных бара,</span></li>
                                                            <li><span>сцена-подиум и прочее.</span></li>
                                                        </ul>
                                                        <div class="result__list-head">Отдел продаж:</div>
                                                        <ul class="list list--simple list--red">
                                                            <li><a href="tel:+7 (495) 133-89-97"><span>+7 (495) 133-89-97</span></a></li>
                                                            <li><a href="mailto:sale.conf@gmail.com"><span>sale.conf@gmail.com</span></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="result__halls-more">Показать все залы</div>
                                </div>
                                <div class="result__pag">
                                    <a href="#" class="result__pag-item result__pag-item--current">1</a>
                                    <a href="#" class="result__pag-item">2</a>
                                    <a href="#" class="result__pag-item">3</a>
                                    <a href="#" class="result__pag-item result__pag-item--dots">...</a>
                                    <a href="#" class="result__pag-item">47</a>
                                </div>
                            </div>
                        </div>
                        <div id="popup-map"></div>
                        <script>
                            function initMap() {
                                var map = new google.maps.Map(document.getElementById('result-map'), {
                                    mapTypeId: google.maps.MapTypeId.ROADMAP
                                });

                                var infowindow = new google.maps.InfoWindow();
                                var bounds = new google.maps.LatLngBounds();
                                var marker, i;

                                $.each(arCity,function(index, value){
                                    var contentString;
                                    contentString  = '<div class="map__window">'+
                                        '<div class="map__img">'+
                                        '<img src="'+value.img+'">'+
                                        '</div>'+
                                        '<div class="map__info">'+
                                        '<a href="#" class="map__title">'+value.name+'</a>'+
                                        '<div class="map__rating">'+value.assessment+'<span class="hotel-rating hotel-rating--green">'+value.assessmentText+'</span></div>'+
                                        '<div class="map__desc"><svg><use xlink:href="#pointer-ico"></use></svg>'+value.adress+'</div>'+
                                        '<a href="tel:+'+value.tel+'" class="map__desc"><svg><use xlink:href="#phone-ico"></use></svg'+value.tel+'</a>'+
                                        '<div class="map__desc"><svg><use xlink:href="#wallet-ico"></use></svg>'+value.price+'</div>'+
                                        '</div>'+
                                        '</div>';
                                    marker = new google.maps.Marker({
                                        position: new google.maps.LatLng(value.lat, value.lng),
                                        map: map,
                                        icon: 'images/pointer.svg'
                                    });
                                    bounds.extend(marker.position);
                                    google.maps.event.addListener(marker, 'click', (function(marker, i) {
                                        return function() {
                                            infowindow.setContent(contentString);
                                            infowindow.open(map, marker);
                                        }
                                    })(marker, i));
                                });

                                map.fitBounds(bounds);

                                var listener = google.maps.event.addListener(map, "idle", function () {
                                    map.setZoom(8);
                                    google.maps.event.removeListener(listener);
                                });
                            }
                            function initPopupMap(arCity) {
                                var myLatLng = {lat: arCity.lat, lng: arCity.lng};

                                var contentString = '<div class="map__window">'+
                                    '<div class="map__img">'+
                                    '<img src="'+arCity.img+'">'+
                                    '</div>'+
                                    '<div class="map__info">'+
                                    '<div class="map__title">' + arCity.name + '</div>'+
                                    '<div class="map__rating">' + arCity.assessment + '<span class="hotel-rating hotel-rating--green">' + arCity.assessmentText + '</span></div>'+
                                    '<div class="map__desc"><svg><use xlink:href="#pointer-ico"></use></svg>' + arCity.adress + '</div>'+
                                    '<a href="tel:+' + arCity.tel + '" class="map__desc"><svg><use xlink:href="#phone-ico"></use></svg>' + arCity.tel + '</a>'+
                                    '<div class="map__desc"><svg><use xlink:href="#wallet-ico"></use></svg>' + arCity.price + '</div>'+
                                    '</div>'+
                                    '</div>';

                                var infowindow = new google.maps.InfoWindow;

                                var map = new google.maps.Map(document.getElementById('popup-map'), {
                                    zoom: 10,
                                    center: myLatLng
                                });

                                var marker = marker = new google.maps.Marker({
                                    position: myLatLng,
                                    map: map,
                                    icon: 'images/pointer.svg'
                                });

                                infowindow.setContent(contentString);
                                infowindow.open(map, marker);

                                marker.addListener('click', function () {
                                    infowindow.open(map, marker);
                                });
                            }
                        </script>
                        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBPVi3MrjI8ZSP9iysLqZi5spMixYN_HVI&callback=initMap"
                                async defer></script>
                    </div>
                </div>
                <div class="overlay"></div>
            </div>
        </div>
        <div class="disclaimer">
            <div class="mbox">
                <p>
                    Приятно, граждане, наблюдать, как тщательные исследования конкурентов освещают чрезвычайно интересные особенности картины в целом, однако конкретные выводы, разумеется, объявлены нарушающими общечеловеческие нормы этики и морали. Прежде всего, курс на социально-ориентированный национальный проект предопределяет высокую востребованность прогресса профессионального сообщества.
                </p>
            </div>
        </div>
    </div>
    //= parts/footer.html
    //= parts/footer-links.html
</div>
</body>
</html>