/* base styles*/
*,*:before, *:after{box-sizing:border-box;outline:none;}
*,body,html{-webkit-text-size-adjust: none;-webkit-appearance: none;max-height: 9001em;}
html{height:100%;}
body{min-height:100%;  height: 100%;width:100%;min-width:320px;font-family:'Roboto';background:#fff;color:#000;position:relative;font-size: 16px;line-height: 1.25; }
img{vertical-align:bottom;border:0;max-width:100%;}
.mbox{max-width:1170px;width:100%;margin:0 auto;position:relative;z-index:1;padding: 0 15px;}
.global-wrapper{display: flex; flex-direction: column; height: 100%;}
footer {flex-grow: 0;  flex-shrink: 0;  flex-basis: auto; }
.page{flex-grow: 1; flex-shrink: 0; flex-basis: auto;}
h1, h2, h3, h4, h5 {margin: 0;}
input, textarea{
    &::-webkit-input-placeholder {color:#212121;}
    &:-moz-placeholder {color:#212121;opacity:1;}
    &::-moz-placeholder {color:#212121;opacity:1;}
    &:-ms-input-placeholder {color:#212121;}
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
@mixin font-face($style-name, $file:$style-name, $weight:normal, $style:normal) {
    $filepath: "../fonts/" + $file;
    @font-face {
        font-family: quote($style-name);
        src: url($filepath + ".eot");
        src: url($filepath + ".eot?#iefix") format('embedded-opentype'),
        url($filepath + ".woff") format('woff'),
        url($filepath + ".ttf")  format('truetype'),
        url($filepath + ".svg#" + $style-name + "") format('svg');
        font-weight: $weight;
        font-style: $style;
    }
}

.links-page {margin-top: 150px;}

@include font-face('Roboto', 'Roboto-Bold', 700, normal);
@include font-face('Roboto', 'Roboto-Regular', 400, normal);
@include font-face('Roboto', 'Roboto-Light', 300, normal);



.btn {transition: background-color .3s; display: block; background-color: #eb2a2e;color: #fff; font-size: 17px;font-weight: 400; padding: 10px; text-decoration: none; border-radius: 25px; text-align: center;text-transform: uppercase;letter-spacing: .25px;border: none;position: relative;
    &-default {max-width: 278px; margin: 0 auto;width: 100%;}
    &-border {background-color: #fff;border: 2px solid #eb2a2e;color: #eb2a2e;padding: 8px 10px;}
    &:hover {background-color: #b82124;color: #fff;border-color: #b82124;
    }
}

a.btn span {font-size: 17px;margin: 0;position: relative;z-index: 1;display: inline-block;}

.breadcrumbs {
    &__list {display: flex; align-items: flex-start; flex-wrap: wrap;list-style: none;margin: 0;padding: 0;margin-bottom: -10px;}
    &__item {font-size: 12px;font-weight: 300;margin-bottom: 10px;
        a {padding: 0 12px 0 0; margin: 0 10px 0 0; text-transform: capitalize; text-decoration: underline; position: relative; font-size: 12px;font-weight: 300; color: #9e1c1f;
            &:after { display: block; position: absolute; content: '>'; right: -4px; top: 50%; transform: translateY(-50%);color: #000;}
        }
        &:first-child a {padding-left: 0;}
        &:last-child a {
            &:after { display: none;}
        }
    }
}

.header {
    &__row {display: flex;justify-content: space-between;font-weight: 700;padding: 11px 0;}
    &__mob {
        &-menu {display: none;}
        &-row {display: none;}
        &-phone {display: none;}
    }
    &__logo {
        a {width: 211px; height: 74px;display: block;}
        svg {width: 100%;height: 100%;
            use {width: 195px;height: 66px;}
        }
    }
    &__phone {display: flex;flex-direction: column;font-size: 22px;justify-content: center;padding-top: 10px;
        .mail {font-weight: 400;}
        span {color: #eb2a2e; font-size: 16px;margin-bottom: 5px;letter-spacing: -.25px;}
        a {color: #000; text-decoration: none;margin: 2px 0;letter-spacing: -1px;display: flex;align-items: center;}
        svg {width: 20px;height: 20px;display: inline-block;margin-right: 15px;margin-bottom: 2px;}
    }
    &__callback {display: flex;flex-direction: column;padding-top: 5px;
        span {font-size: 18px;margin-bottom: 5px;}
    }
    &__nav {color: #f4f4f4;padding: 0 15px;max-height: 42px;text-align: center;white-space: nowrap;
        &-wrap {background-color: #404040;position: relative;z-index: 8;
            &--black {background-color: rgba(0, 0, 0, .6)}
        }
        &-item {display: inline-flex;flex-direction: column;max-height: 42px; overflow: hidden;transition: all .3s;
            a {padding: 12px 40px; color: #f4f4f4;text-decoration: none;font-size: 14px;text-align: left;transition: all .3s;
                &:nth-child(n+2) {padding: 8px 40px;
                    &:hover {text-decoration: underline;background-color: #4a4a4b;}
                }
                &.active {}
            }
            a:first-child {font-size: 15px;position: relative;z-index: 1;}
            &.has-child {position: relative;
                svg {width: 9px;height: 5px;display: block;position: absolute;right: 20px; top: 19px;fill: #fff;transition: transform .3s;}
                &.open {max-height: none;
                    a {
                        svg {transform: rotate(180deg);}
                    }
                }
            }
        }
    }
}

.main {
    &__slider {height: 530px;margin-bottom: 0;
        &-wrap {position: relative;margin-top: -42px;}
    }
    &__slide {min-height: 530px;
        &:before {position: absolute;content: '';top: 0;left: 0;right: 0;bottom: 0;background-color: #000; opacity: .5;display: block;z-index: 1;}
        img {object-fit: cover;height: 100%;width: 100%;min-height: 530px;max-height: 530px;position: relative;
        }
    }
    &__search {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); max-width: 1140px; width: 100%;z-index: 2;
        &-title {color: #fff; font-size: 30px;font-weight: 700;text-align: center;margin-bottom: 25px;letter-spacing: .4px;}
    }
    &__form {background-color: #fff;border-radius: 5px;padding: 30px; position: relative;
        &:before {content: '';position: absolute; top: 3px;right: 3px;left: 3px;bottom: 3px; border: 1px solid #000;pointer-events: none;}
        &-hall {display: flex;flex-wrap: wrap;padding: 10px 0;
            &-item {width: 25%;padding-left: 30px;position: relative; color: #3f3e40;
                &:before {content: ''; position: absolute;display: block;width: 3px;height: 3px;background-color: #eb2a2e; top: 50%; left: 15px; transform: translateY(-50%);}
            }
        }
        &-input { width: 25%; margin: 0 5px;
            &-wrap {display: flex; padding: 5px 0;margin: 0 -5px;}
            input {border: none; background-color: #f2f2f2;padding: 15px 20px;width: 100%;}
            .select {
                &-ico {position: relative;
                    &:before {content: '';position: relative;top: 2px;width: 25px;height: 17px;display: inline-block;background-repeat: no-repeat; background-position: center;margin-right: 15px;background-size: contain;}
                }
                &-theater {
                    &:before {background-image: url("../images/teatr.png");}
                }
                &-class {
                    &:before {background-image: url("../images/klass.png");}
                }
                &-banquet {
                    &:before {background-image: url("../images/banket.png");}
                }
                &-perimeter {
                    &:before {background-image: url("../images/poperimetru.png");}
                }
                &-buffet {
                    &:before {background-image: url("../images/furshet.png");}
                }
                &-p {
                    &:before {background-image: url("../images/p-rassadka.png");}
                }
            }
        }
        .jq-selectbox {width: 100%;height: 100%;}
        .jq-selectbox.jqselect.changed {
            &:before {display: none;}
        }
        .jq-selectbox__select {height: 100%;border: none;box-shadow: none;background: #f2f2f2;color: #000; border-radius: 0;display: flex; align-items: center;padding: 0 20px;font: 16px/32px 'Roboto';text-shadow: none;}
        .jq-selectbox .placeholder {color: #000;}
        .jq-selectbox__trigger {border: none;}
        .jq-selectbox__trigger-arrow {top: 23px; right: 15px; border: none; width: 9px;height: 5px;background-image: url("../images/arrow.svg");background-repeat: no-repeat; transition: transforn .3s;}
        .jq-selectbox.focused .jq-selectbox__select {border: none;}
        .jq-selectbox__dropdown {bottom: auto!important;margin: 0;border: none;background-color: #f2f2f2;border-radius: 0;color: #fff;box-shadow: none;font: 16px/18px 'Roboto';padding-bottom: 5px;}
        .jq-selectbox li {color: #000;padding: 5px 20px;font-size: 16px;font-weight: 300;transition: background-color .3s;}
        .jq-selectbox li:hover {background-color: #dedede; text-decoration: underline;}
        .jq-selectbox.opened .jq-selectbox__select {background-color: #f2f2f2; color: #000;}
        .jq-selectbox.opened .placeholder {color: #000;}
        .jq-selectbox.opened .jq-selectbox__trigger-arrow {background-image: url("../images/arrow.svg"); transform: rotate(180deg);transition: transforn .3s;}

        &-btn {display: flex; justify-content: center;padding: 15px 0;}
    }
}

.poster {text-align: center;display: flex;justify-content: flex-end;padding-top: 32px;min-height: 411px;
    &-wrap {background-size: cover;background-position: center; min-height: 430px;}
    &__info {display: flex;flex-direction: column;justify-content: space-around;}
    &__title {font-size: 30px;font-weight: 700;padding-right: 24px;}
    &__desc {font-size: 18px;padding-right: 24px;}
    &__form {width: 360px; position: relative;background-color: #fff;padding: 40px; text-align: center;border-radius: 5px;
        &:before {content: '';position: absolute; top: 3px;right: 3px;left: 3px;bottom: 3px; border: 1px solid #000;pointer-events: none;}
        &-title {font-size: 30px;font-weight: 700;margin-bottom: 22px;}
        &-number {margin-bottom: 15px;
            input {width: 100%;background-color: #e6e6e6;padding: 15px;border: none;
                &::placeholder {text-align: center;}
            }
        }
        &-desc {font-weight: 400;line-height: 1.19;margin-bottom: 26px;}
    }
}

.city {display: flex;flex-wrap: wrap;margin: 80px 0;border-top: 1px solid #000; border-left: 1px solid #000;
    &__item {display: flex;flex-direction: column;width: 33.33%;background-color: #fff;padding: 14px 14px 10px;border: 1px solid #000; border-top: 0; border-left: 0;position: relative;
        &:hover {background-image: url("../images/city_hover-back.jpg"); background-repeat: no-repeat;background-position: center; background-size: cover;
            .city__img img {-webkit-filter: none; filter: none;}
        }
        &:before {content: ''; position: absolute; display: block;top: -1px;right: 11.5px;bottom: -1px;left: 11.5px;border-top: 1px solid #fff;border-bottom: 1px solid #fff;pointer-events: none;}
        &:after {content: ''; position: absolute; display: block;top: 11.5px;right: -1px;bottom: 11.5px;left: -1px;border-right: 1px solid #fff;border-left: 1px solid #fff;pointer-events: none;}
    }
    &__img {min-height: 130px;margin-bottom: 10px;
        img {width: 100%;height: 100%;object-fit: cover;-webkit-filter: grayscale(1); filter: grayscale(1);}
    }
    &__title {font-size: 30px;font-weight: 700;color: #000;text-decoration: none;}
    &__desc {display: flex;flex-direction: column;
        a {font-weight: 300;color: #6f6f6f;text-decoration: none;position: relative;padding-left: 15px;margin-bottom: 4px;
            &:before {content: ''; position: absolute;width: 4px;height: 4px;border-radius: 100%;background-color: #eb2a2e; top: 8px; left: 0;}
            &:hover {text-decoration: underline;color: #b72629;}
        }
    }
    &__tabs {display: none;}

}

.disclaimer {background-color: #f5f5f5; padding: 23px 0;
    p {font-size: 14px; color: #878787;font-weight: 300;text-align: justify}
}

.footer {display: flex;justify-content: space-between;margin: 58px 0;
    &-wrap {background-image: url("../images/footer-back.jpg"); background-size: cover;background-position: center;}
    &__logo {width: 173px;min-width: 173px;display: flex;align-items: flex-start;margin-right: 30px;
        svg {width: 100%;margin-top: -47px;}
    }
    &__list {display: flex;flex-direction: column;margin: 0 30px;
        &-item {text-decoration: none; color: #fff;font-size: 12px; letter-spacing: .25px;white-space: nowrap;margin-bottom: 7px;
            &:hover {text-decoration: underline;}
            &:first-child {font-weight: 700;font-size: 14px;margin-bottom: 12px;}
            svg {display: none;}
        }
        &-wrap {display: flex;margin: 0 -30px;}
        &-row {display: flex;flex-direction: column;margin: 0 30px;}
    }
    &__contacts {display: flex;flex-direction: column;letter-spacing: .25px;font-size: 12px;color: #fff;margin-left: 21px;
        &-title {margin-top: 13px;
            &:first-child {margin-top: 0;font-weight: 700;font-size: 14px;}
        }
        &-desc {margin-left: 15px;
            a {color: #fff; text-decoration: none;}
        }
    }
}

.catalog {display: flex;padding: 30px 0;
    &-wrap {
        background: #f9f9f9;
        background: -moz-linear-gradient(left, #f9f9f9 0%, #ffffff 100%);
        background: -webkit-gradient(left top, right top, color-stop(0%, #f9f9f9), color-stop(100%, #ffffff));
        background: -webkit-linear-gradient(left, #f9f9f9 0%, #ffffff 100%);
        background: -o-linear-gradient(left, #f9f9f9 0%, #ffffff 100%);
        background: -ms-linear-gradient(left, #f9f9f9 0%, #ffffff 100%);
        background: linear-gradient(to right, #f9f9f9 0%, #ffffff 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#ffffff', GradientType=1 );}
    &__aside {max-width: 360px;min-width: 360px;}
    .main {
        &__form {padding: 40px 0;
            &-input {width: 100%;margin: 5px 0;
                &-wrap {flex-direction: column;margin: 0;padding: 0 49px;}
                input {padding: 13px 20px;}
            }
            &-btn {padding: 18px 0 42px;}
            .jq-selectbox__select {padding: 6.5px 20px;}
            .jq-selectbox__trigger-arrow {top: 21px;}
            .jq-selectbox__dropdown {z-index: 9;}

        }
    }
    &__filter {display: flex;flex-direction: column;padding: 0 4px;
        &-title {font-size: 24px;font-weight: 700;color: #3f3e40;background-color: #f1f1f1;padding: 15px 60px; text-align: center;border-top: 1px solid #9f9e9f;}
        &-section {display: flex;flex-direction: column;padding: 38px 42px 12px;border-bottom: 1px solid #9f9e9f;
            &:last-child {border-bottom: none;}
            &-title {font-size: 18px;margin-bottom: 12px;}
        }
        &-value {display: flex;flex-direction: column-reverse;}
        &-input {display: flex;font-size: 15px;font-weight: 400;margin-bottom: 13px;
            label {cursor: pointer;}
            input {width: 15px;height: 15px;margin: 0 5px;margin-bottom: -2px;background-color: #e0e0e0;border: 2px solid #e0e0e0;cursor: pointer;
                &:checked {background-color: #eb2a2e;}
            }
        }
        &-range {
            &:after {content: "";clear: both;display: table;}
            .ui-slider {position: relative;background: #ccc;height: 3px;border-radius:10px;
            }
            .ui-slider .ui-slider-handle {position: absolute;margin-left: -12px;width: 13px;height: 13px;cursor: pointer;border-radius: 50%;border: 4px solid #eb2a2e;top: -5px;background: #eb2a2e;z-index: 2;}
            label {padding: 0 9px;display: inline-flex;width: calc(50% - 2px);pointer-events: none;align-items: center;
                span {margin-right: 5px;margin-bottom: -2px;}
            }
            &-dots {height: 32px;background: #FFF;border-radius: 28px;font-size: 16px;padding: 9px 0;width: 100%;border: none;margin-top: 12px;margin-bottom: 10px;}
            .ui-slider .ui-slider-range {position: absolute;z-index: 1;height: 3px;border: 0;background: #9e0003;border-radius:10px;}
        }
        &-btn {width: 50%;font-size: 16px;background-color: #f2f2f2;padding: 7px 10px;text-align: center;
            &-wrap {display: flex;align-items: center;margin-top: 22px;}
            .catalog__filter-range-dots {background-color: #f2f2f2;padding: 0; margin: 0;width: 100%; text-align: center;}
        }
        &-line {height: 1px;width: 5px;margin: 22px 12px;background-color: #000;}
    }
    &__content {padding: 0 0 0 30px;display: flex;flex-direction: column;width: 100%;}
    &__express {display: flex;justify-content: space-between;margin: 25px 0;}
    &__form {background-color: #e5e5e5;
        &:before {display: none;}
        .poster__form-number {
            input {background-color: #fff;}
        }
    }
    &__textarea {padding: 15px;width: 100%;border: none;margin: 0;min-height: 86px;background-color: #fff;resize: none;
        &::placeholder {text-align: center;}
    }
    &__map {position: relative;border: 3px solid #fff;box-shadow: -5px 30px 60px #f4f4f4;margin-right: 15px;
        &:before {position: absolute;content: '';top: 0;right: 0;bottom: 0;left: 0;display: block;transition: background-color .3s, opacity .3s;}
        img {width: 100%;height: 100%;display: block;object-fit: cover;object-position: center;}
        span {position: absolute;color: #fff;width: 100%;text-align: center;font-size: 22px;padding: 0 15px;bottom: 50px;opacity: 0;transition: opacity .3s;}
        &:hover {
            &:before {background-color: #000; opacity: .5;}
            span {opacity: 1;}
        }
    }
}

.places {
    &__title {font-size: 30px;font-weight: 700;margin-bottom: 4px;margin-top: 25px;}
    &__desc {color: #8c8c8c;font-size: 14px;font-weight: 300;}
    .city {margin: 0 0 25px;
        &__item {
            &:hover {
                &:before {border-color: #f7f7f7;}
                &:after {border-color: #f7f7f7;}
                .city__img img {-webkit-filter: none; filter: none;}
                .places__name {color: #eb2a2e;text-decoration: underline;}
            }
        }
        &__img {
            img {min-height: 160px; -webkit-filter: none; filter: none;}
        }
    }
    &__name {text-decoration: none; color: #000; font-size: 22px;font-weight: 700;text-align: center; padding: 0 10px;letter-spacing: 1px;margin: 4px 0 12px;transition: color .3s;}
}

.card {display: flex;flex-direction: column;padding: 30px 0 23px;
    &__place {display: flex;flex-direction: column;padding-right: 30px;
        &-wrap {display: flex;padding: 0 0 20px;}
        &-contacts {
            &-row {display: flex;align-items: center;justify-content: space-between;
                .card__place-phone {margin: 8px 35px 0 0;}
            }
            &-col {display: flex;flex-direction: column;align-items: center;min-height: 204px;margin-top: 15px;border: 1px solid #000;position: relative;
                &:before {content: ''; position: absolute; display: block;top: -1px;right: 11.5px;bottom: -1px;left: 11.5px;border-top: 1px solid #fff;border-bottom: 1px solid #fff;pointer-events: none;}
                &:after {content: ''; position: absolute; display: block;top: 11.5px;right: -1px;bottom: 11.5px;left: -1px;border-right: 1px solid #fff;border-left: 1px solid #fff;pointer-events: none;}
            }
            &-title {font-size: 22px;font-weight: 700;text-align: center;margin: 27px 0 24px;}
        }
        &-phone {font-size: 19px;color: #000;text-decoration: none;display: flex;margin-bottom: 12px;
            svg {width: 21px;height: 21px;fill: #eb2a2e;margin-right: 12px;}
        }

    }
    &__info {display: flex;
        svg {width: 13px;height: 13px;margin-right: 7px;}
        &:nth-child(2) {align-items: flex-start;}
    }
    &__title {font-size: 30px;font-weight: 700;width: 100%;margin-bottom: 9px;text-decoration: none; color: #000;
        &--main {margin: 20px 0 0;}
        &-wrap {display: flex;flex-wrap: wrap;width: 41%;padding-right: 15px;
            &:first-child {width: 59%;}
            &:last-child {
                .card__title {text-align: right;}
            }
        }

        &-contact {color: #000;font-weight: 500;text-decoration: none;font-size: 14px;width: 100%;
            &:last-child {margin-top: 8px;}
        }
        &-rating {flex-wrap: nowrap;padding: 0;align-items: baseline;
            .rating {align-items: center;margin-bottom: 5px;pointer-events: none;}
            .card__title {width: auto;}
        }
    }
    .card__title-rating {align-items: center;}
    &__address {font-size: 14px;font-weight: 500;margin-right: 30px;margin-bottom: 8px;}
    &__on-map {font-size: 14px;color: #000;font-weight: 500;margin-bottom: 8px;}
    &__metro {font-size: 14px;width: 100%;
        svg {display: none;}
    }
    &__aside {margin-top: 8px;
        .card__slider-desc {display: none;margin: 0;}
    }
    &__slider {max-height: 360px; max-width: 750px;margin: 0;
        &-wrap {margin-top: 15px;}
        &-small {max-width: 750px;max-height: 110px;margin: 0;padding: 0 25px;
            .slick-prev {left: 0;top: 0;bottom: 0;min-height: 100%;transform: none;width: 24px;background-color: #eb2a2e;border-top-left-radius: 20px;border-bottom-left-radius: 20px;
                &:before {content: '';width: 10px;height: 6px;display: block;background-image: url("../images/arrow-white.svg");background-repeat: no-repeat;margin: 0 auto;transform: rotate(90deg);}
            }
            .slick-next {right: 0;top: 0;bottom: 0;min-height: 100%;transform: none;width: 24px;background-color: #eb2a2e;border-top-right-radius: 20px;border-bottom-right-radius: 20px;
                &:before {content: '';width: 10px;height: 6px;display: block;background-image: url("../images/arrow-white.svg");background-repeat: no-repeat;margin: 0 auto;transform: rotate(-90deg);}
            }
        }
        &-desc {font-size: 14px;font-weight: 300;color: #8d8d8d;margin-top: 30px;text-align: justify;}
    }
    &__slide {max-width: 750px;max-height: 360px;
        img {width: 100%;height: 100%;object-fit: cover;}
        &-small {max-width: 165px;max-height: 110px;height: 100%;width: 100%;margin: 0 5px;
            img {width: 100%;height: 100%;min-height: 110px;object-fit: cover;}
        }
    }
    &__desc {background-color: #f5f5f5;padding: 45px 0;
        &-title {text-align: center;font-size: 22px;font-weight: 700;margin-bottom: 21px;}
        &-info {font-weight: 300;margin-bottom: 15px;
            .red {color: #eb2a2e;}
            p {margin: 15px 0 0 0;}
            ul {font-weight: 300;list-style: none;padding: 0 17px;margin: 9px 0;color: #000;
                li {line-height: 1.2;margin-bottom: 9px;position: relative;
                    a {color: #000;}
                    &:before {content: "\2022";color: #eb2a2e;width: 1em;margin-left: -1em;display: inline-block;font-weight: 700;}
                }
            }
        }
    }
    &__map {width: 570px;min-width: 570px;height: 420px;box-shadow: 0px 0px 150px #f5f5f5;
        &-wrap {padding: 58px 0;}
        &-row {display: flex;}
        &-contacts {width: 50%;margin-top: 0;margin-right: 30px;align-items: flex-start;justify-content: center;padding-left: 93px;padding-bottom: 10px;
            &-title {margin-bottom: 50px;}
        }
        &-pointer {margin-left: -35px;display: flex;align-items: center;margin-bottom: 30px;
            svg {min-width: 27px;height: 27px;margin-left: -3px;}
        }
        &-metro {margin-left: -35px;display: flex;align-items: center;margin-bottom: 30px;
            svg {fill: #4494ed;}
            .metro-blue {margin-right: 5px;}
        }

    }
    &__rating {display: flex;padding-bottom: 46px;
        &-box {display: flex;flex-direction: column;padding: 20px 40px;box-shadow: 0 0 150px #f5f5f5;}
        &-title {font-size: 20px;font-weight: 700;color: #1d9809;text-transform: uppercase;text-align: center;letter-spacing: 1.5px;}
        &-number {display: flex;font-size: 132px;font-weight: 700;line-height: 119px;padding-top: 15px;
            span {position: relative;background-color: #f2f2f2;}
        }
    }
    &__options {display: flex;flex-wrap: wrap;width: 51%;margin: 0 15px;padding: 17px 0 20px;}
    &__option {display: flex;flex-direction: column;justify-content:center;width: calc(50% - 30px);margin: 0 15px;
        progress[value] {-webkit-appearance: none;
            appearance: none;width: 100%;height: 10px;border-radius: 5px;border: none;background-color: #ccc;}
        progress[value]::-webkit-progress-bar {border-radius: 5px;background-color: #ccc;}
        progress::-webkit-progress-value {border-radius: 5px;background-color: #9e0003;}
        &-title {display: flex;justify-content: space-between;margin-bottom: 5px;}
    }
    &__feedback {display: flex;flex-direction: column;justify-content: center;background-image: url("../images/card__option-back.png");background-repeat:no-repeat;background-position:center;min-width: 262px;
        &-title {font-size: 20px;text-align: center;margin-bottom: 20px;}
        &-wrap {padding-bottom: 100px;}
    }
    &__review {display: flex;flex-direction: column;border-bottom: 1px solid #ccc;
        &-wrap {display: flex;flex-direction: column;}
        &-name {font-size: 18px;font-weight: 700;margin-top: 12px;}
        &-row {display: flex;justify-content: space-between;margin-bottom: 12px;}
        &-company {font-weight: 300;}
        &-date {font-size: 14px;font-weight: 300;}
        &-desc {font-weight: 300;margin-bottom: 15px;}
        &-benefits {font-weight: 300;display: flex;align-items: center;margin-bottom: 12px;
            svg {width: 22px;min-width:22px;height: 22px;margin-right: 20px;}
        }
        &-positive {
            svg {fill: #129500;}
        }
        &-negative {fill: #eb2a2e;}
        &-btn {display: flex;justify-content: center;margin-top: 40px;
            a.btn {margin: 0 15px;min-width: 278px;}
        }
    }
    .poster__form {display: flex;flex-direction: column;justify-content: space-around;min-height: 455px;}
    .poster__form-title {font-size: 25px;}
    .poster__form-btn {
        .btn {width: 100%;}
    }
    &__filter-btn {display: none;position: relative;text-align: center;margin-left: 30px;
        a {color: #eb2a2e;}
    }
}

.metro {
    &-blue {color: #4494ed;font-weight: 700;}
    &-red {color: #eb2a2e;font-weight: 700;}
}

.halls {display: flex;flex-direction: column;
    &__all {display: flex;justify-content: space-between;padding-bottom: 15px;border-bottom: 1px solid #ccc;}
    &__collapse {position: relative;
        &:last-child {
            .halls__collapse {
                &-btn {
                    &:before {background-color: #f5f5f5;}
                    &:after {background-color: #f5f5f5;}
                    &.opened {
                        &:before {background-color: #fff;}
                        &:after {background-color: #fff;}
                    }
                }

            }
        }
        &:after {content: '';position: absolute;width: 9px;height: 5px;background-image: url("../images/arrow.svg");background-repeat: no-repeat; background-position: center;bottom: -9px;left: 50%; transform: translateX(-50%);pointer-events: none;z-index: 8;}
        &-btn {position: absolute;width: 67px;height: 19px;bottom: -18px;left: 50%; transform: translateX(-50%);background-color: #fff;border-bottom: 1px solid #ccc;border-radius: 0 0 25px 25px;cursor: pointer;z-index: 8;
            &:before {content: '';position: absolute;left: -56px; width: 67px;height: 19px;background-color: #fff;border: 1px solid #ccc;border-bottom: none;border-left: none;border-radius: 0 8px 0 0;transform: skewX(30deg);}
            &:after {    content: '';position: absolute;left: 57px;width: 67px;height: 19px;background-color: #fff;border: 1px solid #ccc;border-bottom: none;border-right: none;border-radius: 8px 0 0 0;transform: skewX(-30deg) rotate(0);}
            &.opened {background-color: #eb2a2e;bottom: 4px; transform: translateX(-50%) rotate(180deg);
                &:before {background-color: #fff;border-color: #eb2a2e;}
                &:after {background-color: #fff;border-color: #eb2a2e;}
            }
        }
        &.opened {
            &:after {transform: translateX(-50%) rotate(180deg); bottom: 9px;background-image: url("../images/arrow-white.svg");}
        }
    }
    &__more {color: #eb2a2e;text-decoration: underline;cursor: pointer;}
    &__wrap {display: flex;flex-direction: column;max-height: 170px;overflow: hidden;border-bottom: 1px solid #ccc;
        &.opened {max-height: 9999px;border-bottom: 5px solid #eb2a2e;padding-bottom: 15px;
            .halls__item {cursor: auto;}
        }
    }
    &__list {display: flex;justify-content: space-between;}
    &__item {display: flex;padding: 20px 0;cursor: pointer;font-weight: 500;}
    &__name {display: flex;flex-direction: column;}
    &__title {font-size: 14px;font-weight: 700;margin-bottom: 11px;}
    &__avatar {width: 165px;height: 100px;min-width: 165px;min-height: 100px;
        img {display: block;width: 100%;height: 100%;object-fit: cover;}
    }
    &__price {display: flex;flex-direction: column;margin-left: 30px;justify-content: center;
        &-title {margin-bottom: 10px;font-weight: 400;}
        &-row {display: flex;
            span {font-size: 14px;font-weight: 500;width: 42%;text-align: right;
            &:last-child {width: 75%;margin-left: 4px;text-align: left;}
            }
        }

    }
    &__size {display: flex;flex-direction: column;margin-left: 60px;margin-top: 23px;
        &-title {text-align: center;margin-bottom: 10px;font-weight: 400;}
        &-row {display: flex;margin: 0 -15px;}
        &-number {display: flex;flex-direction: column;margin: 0 15px;text-align: center;
            span {font-weight: 500;}
        }
    }
    &__callback {
        .btn {margin-top: 64px;}
    }
    &__slider {padding: 0 30px;margin: 0;
        &-wrap {margin: 10px 0 15px;}
        .slick-prev {left: 0;top: 0;bottom: 0;min-height: 100%;transform: none;width: 24px;background-color: #eb2a2e;border-top-left-radius: 20px;border-bottom-left-radius: 20px;
            &:before {content: '';width: 10px;height: 6px;display: block;background-image: url("../images/arrow-white.svg");background-repeat: no-repeat;margin: 0 auto;transform: rotate(90deg);}
        }
        .slick-next {right: 0;top: 0;bottom: 0;min-height: 100%;transform: none;width: 24px;background-color: #eb2a2e;border-top-right-radius: 20px;border-bottom-right-radius: 20px;
            &:before {content: '';width: 10px;height: 6px;display: block;background-image: url("../images/arrow-white.svg");background-repeat: no-repeat;margin: 0 auto;transform: rotate(-90deg);}
        }
    }
    &__slide {width: 171px;height: 114px;max-width: 171px;max-height: 114px;margin: 0 5px;
        img {width: 100%;height: 100%;object-fit: cover;}
    }
    &__desc {font-weight: 300;
        &-title {margin-bottom: 17px;}
        &-position {margin-bottom: 18px;}
    }
    &__mob {
        &-btn {display: none;}
    }
}

.feedback-popup {max-width: 480px;width: 100%;padding: 60px;display: none;
    &__title {font-size: 22px;font-weight: 700;text-align: center;margin-bottom: 40px;}
    &__input {display: flex;margin-bottom: 10px;
        input {background-color: #e6e6e6;padding: 13px;width: 100%;border: none;}
        textarea {background-color: #e6e6e6;padding: 13px;width: 100%;border:none;resize: none;min-height: 100px;}
    }
    &__rating {display: flex;align-items: center;
        &-wrap {display: flex;justify-content: space-between;min-height: 40px;}
        &-title {display: flex;align-items: center;}
    }
    &__btn {margin: 35px 0 20px;}
    .fancybox-close-small {background-color: #eb2a2e;width: 22px;height: 22px;border-radius: 100%;top: 10px;right: 10px;padding: 0;
        svg {
            path {fill: #fff;}
        }
    }
}

.rating{
    --uiRatingSize: var(--ratingSize, 20px);
    --uiRatingColor: var(--ratingColor, #fff);
    --uiRatingColorActive: var(--ratingColorActive, #ee4548);
    --uiRatingStroke: var(--ratingStroke, #ee4548);
    --uiRatingStrokeWidth: var(--ratingStrokeWidth, 2px);

    display: flex;
    font-size: var(--uiRatingSize);
    color: var(--uiRatingColor);
    position: relative;
    margin-top: 2px;
}

.rating__control{
    position: absolute;
    left: -9999px;
}

.rating__item{
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
    position: relative;
}

.rating__item{
    padding-left: 5px;
}

.rating__star{
    display: block;
    width: 15px;
    height: 15px;
    fill: currentColor;
    stroke: var(--uiRatingStroke);
    stroke-width: var(--uiRatingStrokeWidth);
}

.rating__label{
    position: absolute;
    top: 0;
    left: -9999px;
}

.rating:hover,
.rating__control:nth-of-type(1):checked ~ .rating__item:nth-of-type(1),
.rating__control:nth-of-type(2):checked ~ .rating__item:nth-of-type(-n+2),
.rating__control:nth-of-type(3):checked ~ .rating__item:nth-of-type(-n+3),
.rating__control:nth-of-type(4):checked ~ .rating__item:nth-of-type(-n+4),
.rating__control:nth-of-type(5):checked ~ .rating__item:nth-of-type(-n+5),
.rating__control:nth-of-type(6):checked ~ .rating__item:nth-of-type(-n+6),
.rating__control:nth-of-type(7):checked ~ .rating__item:nth-of-type(-n+7),
.rating__control:nth-of-type(8):checked ~ .rating__item:nth-of-type(-n+8),
.rating__control:nth-of-type(9):checked ~ .rating__item:nth-of-type(-n+9),
.rating__control:nth-of-type(10):checked ~ .rating__item:nth-of-type(-n+10){
    color: var(--uiRatingColorActive);
}

.rating__item:hover ~ .rating__item{
    color: var(--uiRatingColor);
}

.rating{
    --ratingSize: 30px;
    --ratingColor: #fff;
    --ratingColorActive: #ee4548;
}

.result {
    &-wrap {padding-left: 30px;width: 100%;}
    &__content {display: flex;flex-direction: column;padding: 20px 0;height: 100%;}
    &__row {display: flex;justify-content: space-between;margin-bottom: 25px;}
    &__tabs {display: flex;
        &-wrap {display: flex;}
    }
    &__tab {cursor: pointer;font-size: 14px;font-weight: 300;display: flex;align-items: center;margin-left: 30px;
        &.active {opacity: .3;}
        svg {width: 12px;height: 12px;margin-right: 8px;}
    }
    &__box {display: none;height: 100%;
        &.active {display: block;max-width: 750px;}
    }
    &__map {height: 100%;}
    &__item {padding: 25px 15px 15px;background-color: #fff;margin-bottom: 30px;box-shadow: 0px 0px 30px #f5f5f5;border: 1px solid #000;
        &-desc {font-weight: 300;margin-top: 17px;
            p {margin: 0 0 19px;}
            a {text-decoration: none;}
        }
    }
    &__hotel {position: relative;border-bottom: 1px solid #ccc;padding-bottom: 6px;
        &:after {content: '';position: absolute;width: 9px;height: 5px;background-image: url("../images/arrow.svg");background-repeat: no-repeat; background-position: center;bottom: -10px;left: 50%; transform: translateX(-50%);pointer-events: none;z-index: 8;}
        &:before {content: '';position: absolute;width: 100%;height: 100px;bottom: 1px;display: block;background: transparent;
            background: -moz-linear-gradient(bottom, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255,  255, 0.3) 100%);
            background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255, 0, 0, 0.8)), color-stop(100%, rgba(255, 255,  255, 0.3)));
            background: -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255,  255, 0.3) 100%);
            background: -o-linear-gradient(bottom, rgba(255, 255, 255, 255.8) 0%, rgba(255, 255,  255, 0.3) 100%);
            background: -ms-linear-gradient(bottom, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255,  255, 0.3) 100%);
            background: linear-gradient(to top, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255,  255, 0.3) 100%);}
        &.opened {border-bottom: 3px solid #eb2a2e;
            &:before {display: none;}
            &:after {bottom: 4px;transform: translateX(-50%) rotate(180deg);background-image: url("../images/arrow-white.svg")}
            .card__place {max-height: 9999px;}
        }
    }
    &__list {
        &-head {font-weight: 700;margin-top: 19px;}
    }
    &__halls {margin-top: 17px;max-height: 108px;overflow: hidden;
        &-accept {padding-bottom: 10px;border-bottom: 1px solid #ccc;}
        &-more {text-decoration: underline;font-size: 14px;text-align: center;color: #eb2a2e;margin-top: 15px;cursor: pointer;}
        &.opened {max-height: 9999px;}
    }
    &__hall {display: flex;justify-content: space-between;align-items: center;padding: 10px 0;border-bottom: 1px solid #ccc;
        &-title {display: flex;align-items: center;color: #000;text-decoration: none;transition: color .3s;cursor: pointer;
            &:hover {color: #5e5e5e}
        }
        &-img {padding-right: 15px;
            img {width: 83px;height: 50px;object-fit: cover;}
        }
        &-desc {display: flex;flex-direction: column;
            span {font-size: 15px;font-weight: 300;}
        }
        &-btn {width: 36%;}
        &-detail {max-height: 77px; overflow: hidden;
            &.opened {max-height: 9999px;border-bottom: 1px solid #ccc;
                .result__hall-img {
                    img {width: 165px;height: 100px;}
                }
                .result__hall-more {display: none;}
            }
        }
        &-more {text-decoration: underline;font-size: 14px;text-align: center;color: #eb2a2e;cursor: pointer;}
    }
    &__detail {padding: 0;border-top: 1px solid #ccc;
        .result {
            &__item {padding: 0; background-color: transparent;
                .card {
                    &__place {max-height: 9999px;}
                    &__slider {
                        &-small {max-width: 750px;padding: 0 25px;}
                    }
                    &__slide {
                        &-small {max-width: 165px;}
                    }
                }
            }
            &__hotel {border-bottom: none;
                &:before {display: none;}
                &:after {display: none;}
            }
            &__hall {
                &-img {
                    img {width: 165px;height: 100px;}
                }
            }
        }

    }
    .card {
        &__place {padding: 0;max-height: 330px;overflow: hidden;}
        &__slider {
            &-small {max-width: 720px;padding: 0 30px;}
        }
        &__slide {
            &-small {max-width: 155px;}
        }
    }
    .halls {
        &__collapse {
            &-btn {bottom: -19px;
                &.opened {bottom: -1px;}
            }
        }
    }
    &__mob {
        &-filter {display: none;}
    }
    &__pag {display: flex;justify-content: center;margin: 0 -5px;padding-top: 10px;
        &-item {width: 45px;height: 45px;border-radius: 50%;line-height: 45px;color: #000;text-decoration: none;text-align: center;background-color: #e2e2e2;margin: 0 5px;transition: background-color .3s;
            &:hover {background-color: #e82a2d; color: #fff;}
            &--current {background-color: #e82a2d; color: #fff;}
            &--dots {background-color: transparent;
                &:hover {background-color: transparent; color: #000;}
            }
        }
    }
}

.map {
    &__window {display: flex;}
    &__info {
        svg {width: 11px;height: 11px;margin-right: 10px;}
    }
    &__img {margin-right: 18px;
        img {width: 165px;height: 118px;object-fit: cover;}
    }
    &__title {font-size: 26px;font-weight: 700;margin-bottom: 3px;color: #000;text-decoration: none;
        &:hover {text-decoration: underline;}
    }
    &__rating {font-size: 20px;font-weight: 700;}
    &__desc {font-size: 14px;font-weight: 300;color: #000;text-decoration: none;display: flex;align-items: center;margin-top: 4px;}
}

.hotel-rating {font-size: 16px;text-transform: uppercase;
    &--green {color: #1d9809;}
    &--yellow {color: #dea700;}
}

.gm-style-iw {min-width: 260px!important;padding: 22px 12px 12px!important;border-radius: 3px!important;
    &:before {content: '';position: absolute;top: 3px;bottom: 3px;left: 3px;right: 3px;background-color: #fff;border: 1px solid #000;}
}
.gm-style-iw-d {min-width: 244px!important;position: relative;z-index: 2;}
.gm-ui-hover-effect {top: 0px!important; right: 0!important;}

.overlay {display:none;background-color: rgba(0, 0, 0, 0.5);position: fixed; top: 0;left: 0;z-index: 8;width: 100%;height: 100vh;}

#popup-map {display: none;width: calc(100% - 30px);max-width:1140px;height: 100%;max-height:720px;overflow: hidden;margin: 0 auto;
    .fancybox-close-small {padding: 3px;right: 60px;top: 10px;background-color: #fff;opacity: 1;width: 40px;height: 40px;
        svg {
            path {fill: #000; opacity: .8;}
        }
        &:hover {
            svg {
                path {opacity: 1;}
            }
        }
    }
}

.request {
    &--grey {
        .request {
            &__body {background-color: #e5e5e5;box-shadow: none;
                &:after {display: none;}
            }
            &__input {
                input {background-color: #fff;}
            }
            &__text {
                textarea {background-color: #fff;}
            }
        }
    }
}

.corporate {margin-top: 80px;
    &__slider {padding: 0 50px;margin-bottom: -1px;
        .slick-next, .slick-prev {background-color: #e5e5e5;width: 45px; height: 58px;min-height: 58px; top: 20px;transform: none;display: flex;justify-content: center;border-radius: 10px 10px 0 0;transition: background-color .3s;
            &:hover {background-color: #eb2a2e;
                &:before {background-image: url("../images/arrow-white.svg")}
            }
        }
        .slick-next {right: -50px;}
        .slick-prev {left: -50px;}
        .slick-next:before, .slick-prev:before {content: '';background-image: url("../images/arrow.svg");width: 10px;height: 10px;display: block;background-position: center; background-repeat: no-repeat;}
        .slick-next:before {transform: rotate(-90deg);}
        .slick-prev:before {transform: rotate(90deg);}
    }
    &__tabs {margin-bottom: 0;}
    &__tab {cursor: pointer;padding: 8px;background-color: #e5e5e5;min-height:58px;font-weight: 300;border-radius: 10px 10px 0 0;margin: 0 7.5px;margin-top: 20px;border: 1px solid #e5e5e5;text-align: center;display: flex!important;justify-content: center;align-items: center;transition: background-color .3s;font-weight: 700;
        &.active {background-color: #fff;border-top: 8px solid #eb2a2e;margin-top: 0;padding-top: 20px;min-height: 78px;border-bottom: none;}
        &-img {display: none;}
    }
    &__content {background-color: #fff;border: 1px solid #e5e5e5;display: none;flex-direction: column;padding: 30px;
        &.active {display: flex;}
        &-desc {font-weight: 300;margin-bottom: 25px;}
    }
    &__gallery {display: flex;margin: 0 -7.5px;}
    &__img {width: 33.33%;margin: 0 7.5px;
        img {width: 100%;height: 100%;object-fit: cover;}
    }
}

.description {display: flex;padding: 80px 0; margin: -80px -15px 0;
    &__col {width: 50%;margin: 0 15px;}
    &__text {margin-top: 49px;font-weight: 300;}
    &__strong {margin-top: 5px;font-weight: 700;}
}

.events {
    &__padding {padding-bottom: 155px;}
}

.event {
    &__title {font-size: 40px;font-weight: 700;text-align: center;color: #fff;width: 100%;position: absolute;max-width: 1170px;top: 50%;left: 50%;transform: translate(-50%, -50%);padding: 0 15px;z-index: 1;}
    &__detail {margin: 75px 0;}
    &__list {display: flex;align-items: center;font-size: 18px;
        &-title {font-weight: 700;width: 10%;text-align: right;padding-right: 20px;}
        ul {background-color: #f5f5f5;width: 90%;font-size: 18px;border-radius: 0 25px 25px 0;
            li {margin: 9px 0;font-weight: 400;}
        }
    }
    &__photo {
        img {width: 100%;height: 100%;object-fit: cover;}
    }
    &__text {font-size: 18px;line-height: 1.55;font-weight: 300;margin-bottom: 40px;
        &:last-child {margin-bottom: 0;}
    }
    &__slider {padding: 0 30px;margin-bottom: 75px;
        .slick-prev {left: 0;top: 0;bottom: 0;min-height: 100%;transform: none;width: 24px;background-color: #eb2a2e;border-top-left-radius: 20px;border-bottom-left-radius: 20px;
            &:before {content: '';width: 10px;height: 6px;display: block;background-image: url("../images/arrow-white.svg");background-repeat: no-repeat;margin: 0 auto;transform: rotate(90deg);}
        }
        .slick-next {right: 0;top: 0;bottom: 0;min-height: 100%;transform: none;width: 24px;background-color: #eb2a2e;border-top-right-radius: 20px;border-bottom-right-radius: 20px;
            &:before {content: '';width: 10px;height: 6px;display: block;background-image: url("../images/arrow-white.svg");background-repeat: no-repeat;margin: 0 auto;transform: rotate(-90deg);}
        }
    }
    &__slide {
        img {width: 100%;height: 100%;object-fit: cover;}
    }
}

.contacts {padding: 67px 0;font-weight: 300;
    &__info {padding: 0 100px 0 130px;
        &-on-map {position: relative;margin-bottom: 30px;
            svg {width: 19px;height: 28px;}
        }
        &-phone {font-size: 22px;font-weight: 700;color: #000;text-decoration: none;position: relative;margin-top: 5px;
            svg {width: 20px;height: 20px;}
        }
        &-mail {font-size: 22px;font-weight: 300;color: #000;text-decoration: none;position: relative;margin: 15px 0;
            svg {width: 22px;height: 17px;}
        }
        &-download {color: #eb2a2e; text-decoration: underline;font-weight: 300;position: relative;margin-top: 15px;
            svg {width: 24px;height: 21px;}
        }
    }
    svg {position: absolute;left: -40px;top: 50%;transform: translateY(-50%);}
}

.filter-btn {display: none;}

h1 {font-size: 30px; text-align: center;}
h2 {font-size: 30px; text-align: center;}
.greybg {background-color: #f5f5f5;}

.events {overflow: hidden;margin-top: -42px;
    &__information {flex-grow: 1;display: flex;  flex-direction: column; justify-content: space-between; padding: 20px 20px 20px 0;
        .main__search-title {font-size: 38px; text-align: left; margin-bottom: 14px;}
    }
    &__banner {position: relative;}
    &__picture { position: relative;
        &:after {width: 100%; height: 100%; content: ''; background-color: rgba(0,0,0,0.5); display: block; position: absolute; top: 0; left: 0;}
    }
    &__about {margin-top: 30px;}
    &__trust {padding: 67px 0 155px;}
    &__form {position: relative;

    }
    &__bg {width: 100%; height: 100%;
        img {width: 100%; height: 100%; object-fit: cover; opacity: 0.6;}
    }
    &__request { position: relative; height: 420px;
        &:before {position: absolute; content: ''; display: block;  left:0; top:0; width: 100%; height: 100%; background-color: #000000;}
    }
}

.nominations { display: flex; align-items:center; position: relative; padding: 11px 0; flex-wrap: wrap; justify-content: space-around; margin: 0 -5px;
    &:before {position: absolute; content: ''; width: 200vw; height: 100%; background-color: rgba(0,0,0,0.5); display: block; z-index: 0; transform: translateX(-50%); left: 0;}
    &__item {color: #ffffff; position: relative; padding: 0 33px; margin: 10px 5px;}
    &__img {
        position: absolute; right: 0; top: 50%; transform: translateY(-50%) rotateZ(-16deg); width: 35px; height: 65px;
        &--left {transform: translateY(-50%) scale(-1, 1) rotateZ(-16deg); right: auto; left: 0;}
        svg {fill: #ffffff; width: 100%; height: 100%;}
    }
    &__dec {font-size: 30px; font-weight: 700; text-align: center;}
    &__text {font-size: 15px; font-weight: 300; text-align: center; margin-top: 7px;}
}

.main {
    &__search {
        &--events {max-width: 1170px; padding: 0 15px; align-items: stretch;  display: flex;   justify-content: space-between;
            .poster__form-title {font-size: 26px; margin-bottom: 40px}
            .catalog__request {height: 432px;}
        }
    }
}

.catalog {
    &__form {
        &--events { height: 100%;
            .poster__form-desc {margin-bottom: 44px;}
        }
    }
}

.list {  padding: 0 30px 0 30px; list-style-type: none; margin: 9px 0;
    &__subhead {font-size: 18px; font-weight: 600; margin-top: 49px; }
    li { line-height: 1.2;
        margin-bottom: 9px;
    }
    &--white { color: #ffffff;  }
    &--bold { font-weight: 600; }
    &--red {color: #eb2a2e;
        li {
            span {color: #000000;}
        }
    }
    &__lined { position: relative; font-size: 20px; margin: 10px 0;
        li {font-weight: 300;}
        &:before {position: absolute; left: 0; top: 0; width: 3px; height: 100%; background-color: #eb2a2e; display: block; content: ''; }
    }
    &__decimals {list-style-type: decimal-leading-zero;
        &--thin {
            span {font-weight: 300;}
        }
    }
    &--simple {font-weight: 300; list-style-type: disc; padding: 0 17px;}
}

.organisation {padding: 67px 0;
    &__table { display: flex; padding-top: 47px; }
    &__subhead {font-size: 22px; font-weight: 700; line-height: 1; margin-bottom: 27px;}
    &__images {display: flex; flex-direction: column; max-width: 460px; flex-grow: 1; width: 100%;}
    &__img {background-color: #ffffff; padding: 3px; border-radius: 3px; margin-bottom: 30px; box-shadow: 0px 0px 77px 33px rgba(0, 0, 0, 0.15);}
    &__list { margin-left: 30px; }
}

.spend { padding: 67px 0;
    &__items {padding-top: 40px;}
}

.box { width: 292px; border: 1px solid #000; flex-grow: 1; padding: 15px; position: relative; height: 264px; margin-left: -1px; margin-bottom: -1px; transition: all 300ms;
    &:after {width: calc(100% - 24px); height: calc(100% + 2px); position: absolute; content: ''; display: block; border-top: 1px solid #f5f5f5; border-bottom: 1px solid #f5f5f5; top: -1px; left: 12px;}
    &:before {height: calc(100% - 24px); width: calc(100% + 2px); position: absolute; content: ''; display: block; border-left: 1px solid #f5f5f5; border-right: 1px solid #f5f5f5; left: -1px; top: 12px;}
    &--large { width: 556px; }
    &__container {display: flex; flex-wrap: wrap;
        &.city {border: 0;}
    }
    &__image { width: 100%; height: 100%; position: relative;
        img {width: 100%; height: 100%; object-fit: cover; opacity: 0.6;}
        &:before { position: absolute; width: 100%; height: 100%; background-color: #000000; content: '';  z-index: -1; top: 0; left: 0; display: block; transition: all 300ms; }
    }
    &__text {position: absolute; transform: translateX(-50%) translateY(50%); z-index: 10; bottom: 50%; left: 50%; color: #ffffff; font-weight: 600; font-size: 18px; line-height: 1.2; text-align: center; transition: all 300ms;width: 100%;padding: 0 30px;}
    &:hover { padding: 0;
        .box__image {
            &:before {background-color: #5f5f5f;}
        }
        .box__text {
            font-size: 24px;
        }
    }
    &.city__item {background-color: #f5f5f5;}
    &__tabs {display: none;}
}

.portfolio { padding: 67px 0;
    &__text {margin: 50px 0;}
    .box {width: 33%;
        &:after {border-color: #ffffff;}
        &:before {border-color: #ffffff;}
        &__text {opacity: 0; left: 20px; bottom: 20px; transition: all 300ms; max-width: calc(100% - 40px); transform: none; text-align: left; font-size: 24px; }
        &__image {
            img {opacity: 1; transition: all 200ms;}
        }
        &:hover {
            .box {
                &__text {opacity: 1;}
                &__image {
                    img {opacity: 0.6;}
                    &:before {background-color: #000000;}
                }
            }
        }
    }
}

.trust {
    &__items {display: flex; justify-content: center; flex-wrap: wrap; padding-top: 100px; margin: 0 -12px;}
    &__text {font-weight: 300; font-size: 14px; margin-top: 40px;}
}

.client {width: 140px; position: relative; display: flex; align-items: center; justify-content: center; cursor: pointer; margin: 0 27px 70px;
    &__whitebox {width: 235px; position: absolute; padding-top: 30px;  top: -30px; left: 50%; transform: translateX(-50%); background-color: #ffffff; opacity: 0; transition: all 200ms; pointer-events: none; display: flex; align-items: center; flex-direction: column;
        &:after {  width: calc(100% - 8px); height: calc(100% - 8px); position: absolute; content: ''; display: block; border: 1px solid #000000; left: 4px; top: 4px; pointer-events: none; }
    }
    &__img {width: 140px; display: flex;  align-items: center; justify-content: center; height: 70px;
        img {}
    }
    &__image {display: flex; justify-content: center; height: 70px; align-items: center; width: 140px;position: relative;z-index: 11;
        img {filter: grayscale(100%)}
    }
    &:hover {
        .client__whitebox {opacity: 1; pointer-events: all; z-index: 10;}
        .client__image img {filter: none;}
    }
    &__about {padding: 10px 15px 27px 15px; text-align: center; font-size: 14px;
        a { color: #eb2a2e; text-decoration: none;
            &:hover { text-decoration: underline; }
        }
    }
}

.request { position: absolute;  top: -95px; width: calc(100% - 30px); max-width: 1140px;  margin: 0 auto; left: 50%; transform: translateX(-50%);
    &__body {background-color: #ffffff; box-shadow: 0px 0px 70px 30px rgba(0, 0, 0, 0.06);border-radius: 3px; position: absolute; width: 100%; padding: 40px 20px 65px;
        &:after {width: calc(100% - 8px); height: calc(100% - 8px); pointer-events: none; border: 1px solid #000000; display: block; content: ''; position: absolute; top: 4px; left: 4px;}
    }
    &__form { padding-top: 7px;  margin: 0 auto;  max-width: 940px; width: 100%;
        .btn-default {width: 100%;}
    }
    &__fields {max-width: 360px; width: 100%; margin-right: 10px; }
    &__input {width: 100%; margin-bottom: 10px;
        &:last-child {margin-bottom: 0;}
        input {background-color: #e6e6e6; padding: 13px; width: 100%; border: none;}
    }
    &__info {display: flex; align-items: stretch;}
    &__text {width: 100%;
        textarea {width: 100%; height:100%; resize: none; background-color: #e6e6e6; padding: 13px; border: none;}
    }
    &__head {margin-bottom: 30px;}
}

@media screen and (min-width: 992px) {
    .header {
        &__nav {
            &-item {position: relative;
                &:before {content: '';opacity: 0;position: absolute;transform: translateY(100%);transition: all .3s;top: 30px;width: 0%;height: 3px;background-color: #eb2a2e;margin: 0 40px;display: inline-block;}
                &:hover {position: relative;
                    &:before {position: absolute;content: '';opacity: 1;width: calc(100% - 80px);}
                    a {color: #fff;}
                }
                &.active {position: relative;
                    &:before {position: absolute;content: '';opacity: 1;width: calc(100% - 80px);}
                    a {color: #fff;}
                }
                a:nth-child(n+2) {background-color: #404040;}
                &.has-child {
                    &:hover {max-height: none;
                        a {
                            svg {transform: rotate(180deg);}
                        }
                    }
                }
            }

        }
    }
}

@media screen and (max-width: 1200px) {
    .header {
        &__nav {padding: 0;
            &-item {
                a {padding: 12px 25px;}
                &.has-child {
                    svg {right: auto; left: 92%;}
                }
            }
        }

    }
    .footer {
        &__logo {margin-right: 10px;width: 150px; min-width: 150px;
            svg {margin-top: -60px;}
        }
        &__list {margin: 0 13px;
            &-wrap {margin: 0 -10px;}
            &-row {margin: 0 10px;}
        }
        &__contacts {margin-left: 10px;}
    }
    .card {
        &__slider {max-width: 650px;max-height: 312px;
            &-small {max-width: 650px;}
            &-desc {max-width: 650px;}
        }
        &__slide {max-width: 650px;max-height: 312px;}
        &__info {max-width: 650px;}
    }
    .result {justify-content: center;
        &-wrap {padding-left: 0;max-width: 750px;}
        &__mob {
            &-filter {display: flex;align-items: center;font-size: 14px;font-weight: 300;cursor: pointer;
                svg {width: 12px;height: 12px;margin-right: 8px;}
            }
        }
        .catalog {
            &__aside {position: absolute;left: 0;top: 0;transform: translateX(-100%);transition: transform .3s;background-color: #fff; z-index: 9;
                &.opened {transform: translateX(0);transition: transform .3s;}
            }
        }
        .aside__close {display: flex;}

    }
    .aside__close {display: none;position: absolute;top: 15px;right: 15px;width: 20px;height: 20px;align-items: center;cursor: pointer;
        &:before {content: '';width: 100%;height: 2px;background-color: #000;display: block;position: absolute;transform: rotate(45deg);}
        &:after {content: '';width: 100%;height: 2px;background-color: #000;display: block;position: absolute;transform: rotate(-45deg);}
    }
    .result {
        &__map {min-height: 720px;}
        &__box {
            &-map {margin-bottom: 30px;}
        }
    }
    .box {width: 33%;}
}

@media screen and (max-width: 1100px) {
    .card {
        &__aside {
            .poster__form {width: 100%;padding: 29px 15px;min-height: 406px;}
        }
    }
    .halls {
        &__size {margin-left: 20px;}
    }
    .contacts {
        &__info {padding: 0 50px 0 70px;}
    }
}

@media screen and (max-width: 992px) {
    a.btn span {font-size: 11px;}
    .page {padding-top: 92px;}
    .btn {font-size: 11px;padding: 10px 15px;
        &-default {width: calc(100% - 20px); margin: 0 auto;}
    }
    .header {position: fixed;z-index: 10;background-color: #fff;width: 100%;
        &__mob {
            &-menu {display: flex;position: relative;width: 18px;height: 15px;align-items: center;cursor: pointer;margin-right: 20px;
                span {width: 18px; height: 3px; background-color: #000;
                    &:before {content: ''; position: absolute; width: 18px;height: 3px;background-color: #000; top: 0;transition: all .3s;}
                    &:after {content: ''; position: absolute; width: 18px;height: 3px;background-color: #000;bottom: 0;transition: all .3s;}
                }
                &.opened {
                    span {background-color: transparent;
                        &:before {transform: rotate(45deg);top: 5px; transition: all .3s;}
                        &:after {transform: rotate(-45deg);top: 5px; transition: all .3s;}
                    }
                }
            }
            &-row {display: flex;justify-content: space-between;background-color: #404040;margin: 0 -15px;padding: 10px 20px;}
            &-link {color: #fff;position: relative; padding-left: 20px;font-size: 14px;text-decoration: none;letter-spacing: .25px;
                svg {width: 12px;height: 12px; position: absolute;left: 0;fill: #eb2a2e;}
            }
            &-phone {display: flex;flex-direction: column;background-color: #fff;margin: 0 -15px;padding-bottom: 24px;
                .header {
                    &__phone {display: flex;align-items: center;margin: 0 15px;
                        &:first-child {border-top: 1px solid #ccc;padding-top: 24px;}
                        span {font-size: 14px;font-weight: 700;margin: 0;}
                        .phone {font-weight: 700;}
                        a {font-size: 20px;margin: 0;}
                        svg {width: 13px;height: 12px;margin-right: 10px;}
                    }
                }
            }
        }
        &__row {align-items: center;position: relative;padding: 10px 0;}
        &__logo {display: flex;align-items: center;
            a {width: 97px;height: 37px;}
        }
        &__phone {display: none;}
        &__callback {padding: 0;
            span {display: none;}
        }
        &__nav {max-height: none;display: flex;flex-direction: column;background-color: #fff;margin: 0 -15px;padding: 15px 0;
            &-wrap {transform: translateX(-100%);position: absolute;width: 100%;transition: transform .3s;
                &.opened {transform: translateX(0);}
            }
            &-item {align-items: center;
                &:hover {background-color: inherit;}
                &.has-child {
                    a {
                        &:hover {background-color: inherit;}
                    }
                    svg {fill: #000;top: 18px;}
                }
                a {color: #000;position: relative;font-size: 12px;padding: 10px 25px;}
            }
        }
    }
    .main {
        &__slider {height: 400px;
            &-wrap {margin-top: 0;}
        }
        &__slide {min-height: 400px;
            img {min-height: 400px;max-height: 400px;}
        }
        &__search {padding: 0 15px;
            &-title {font-size: 22px;}
            &--events { flex-wrap: wrap; position: static; transform: none; padding: 0;
                .poster {
                    &__form-number {max-width: 450px; margin: 0 auto 15px;}
                    &__form-btn {max-width: 450px; margin: 0 auto;}
                    &__form-desc {margin-bottom: 15px;}
                    &__form-title {margin-bottom: 25px;}
                }
                .catalog__request {width: 100%; margin: 0; height: auto;}
            }
        }
        &__form {padding: 19px 15px;
            &-hall {display: none;}
            &-input {width: 100%;margin: 5px 0;
                &-wrap {flex-direction: column;margin: 0;padding: 0;}
                input {padding: 9.5px 20px;text-align: center;font-size: 14px;}
            }
            &-btn {padding: 15px 0 5px;}
            .jq-selectbox__select {padding: 1.5px 20px;font-size: 14px;}
            .jq-selectbox__select-text.placeholder {text-align: center;}
            .jq-selectbox__trigger-arrow {top: 16px;}
            .jq-selectbox__dropdown {z-index: 9;}
            .jq-selectbox li {text-align: center;}
        }

    }
    .poster {flex-direction: column;padding-top: 36px;justify-content: space-evenly;
        &-wrap {padding-bottom: 25px;}
        &__title {font-size: 18px;padding: 0;margin-bottom: 32px;}
        &__desc {font-size: 15px;padding: 0;margin-bottom: 32px;}
        &__form {width: 100%;padding: 29px 15px;
            &-title {font-size: 22px;margin-bottom: 13px;}
            &-number {margin-bottom: 8px;
                input {font-size: 14px;padding: 9.5px;}
                }
            &-desc {font-size: 14px;margin-bottom: 18px;padding: 0 15px;}
        }
    }
    .city {margin: 10px 0;
        &__tabs {display: flex;flex-wrap: wrap;margin: 15px -5px 10px;}
        &__tab {padding: 8px 14px; margin: 2.5px;background-color: #e6e6e6;border-radius: 25px;font-size: 12px;cursor: pointer;
            &.active {background-color: #eb2a2e;color: #fff;}
        }
        &__item {display: none;width: 100%;
            &:hover {background-image: none;}
        }
        &__img {min-height: 115px;margin-bottom: 12px;
            img {-webkit-filter: grayscale(1); filter: grayscale(1);min-height: 115px;}
        }
        &__title {display: none;}
    }
    .catalog {
        &-wrap {position: relative;z-index: 2;}
        &__aside {min-width: 330px;max-width: 330px;}
        &__express {flex-direction: column;}
        &__map {margin: 0;margin-bottom: 30px;}
        &__filter {
            &-section {padding: 25px 20px 12px;}
        }
        .city {
            &__item {display: flex;width: 50%;}
            &__img img {-webkit-filter: none; filter: none;}
        }
        .main {
            &__form {padding: 40px 0 30px;
                &-input {
                    &-wrap {padding: 0 25px;}
                }
                &-btn {padding: 18px 25px 42px;}
            }
        }
    }
    .places {
        &__title {font-size: 26px;}
        &__name {font-size: 18px;}
    }
    .disclaimer {padding: 10px 0;
        p {text-align: left;}
    }
    .footer {flex-direction: column;align-items: center;margin: 0;
        &__logo {margin: 0;
            svg {margin-top: -34px;margin-bottom: -36px;}
        }
        &__list {margin: 0;width: 100%;border-top: 1px solid #cdb2aa;
            &-wrap {flex-direction: column;margin: 0;}
            &-row {margin: 0;border-bottom: 1px solid #cdb2aa;}
            &-item {text-align: center;position: relative;
                svg {width: 9px;height: 5px;display: block;position: absolute;fill: #fff;top: 20px;left: 85%;}
                &:nth-child(n+2) {display: none;}
                &.show {display: block;
                    svg {transform: rotate(180deg);}
                }
                &:first-child {min-height: 42px;line-height: 42px;margin: 0;}
            }
        }
        &__contacts {margin: 7px 0 26px;
            &-title {display: none;}
            &-desc {margin: 0;text-align: center;font-size: 16px;margin-top: 10px;}
        }
    }
    .card {padding: 15px 0 0;
        &__place {padding: 0;
            &-wrap {flex-direction: column;padding: 0 0 15px;}
            &-contacts {
                &-col {display: none;}
                &-row {flex-direction: column;
                    .card__place-phone {margin: 6px 0 0 0;}
                }
                &-title {margin: 20px 0 0;}

            }
        }
        &__slider {display: none;
            &-wrap {margin: 0;}
            &-small {max-width: none;max-height: none;margin: 0 -15px;
                .slick-prev {border-radius: 0;
                    &:before {width: 18px;height: 10px;}
                }
                .slick-next {border-radius: 0;
                    &:before {width: 18px;height: 10px;}
                }
            }
            &-desc {display: none;margin: 0;}
        }
        &__slide {
            &-small {max-height: none;max-width: none;}
        }
        &__info {display: block;margin-bottom: 16px;}
        &__title {margin-bottom: 0;
            &-wrap {width: 100%;
                &:first-child {width: 100%;}
            }
            &--main {margin: 5px 0;}
        }
        &__on-map {display: none;}
        &__metro {margin-bottom: 6px;}
        &__aside {margin-top: 16px;
            .card__slider-desc {display: block;margin-top: 13px;}
            .poster__form {min-height: auto;
                &-title {margin: 0 20px 13px;}
                &-desc {display: none;}
                &-btn {margin: 11px 0 5px;}
            }
        }
        &__desc {padding: 45px 0 10px;
            &-title {font-size: 18px;white-space: nowrap;margin-bottom: 10px;}
            &-info {font-size: 14px;}
        }
        &__map {height: 215px;width: 100%;min-width: auto;
            &-wrap {padding: 30px 0;}
            &-row {flex-direction: column;}
            &-contacts {display: flex;width: 100%;margin: 0;padding: 0;margin-bottom: 15px;min-height: 177px;
                &-title {font-size: 16px;width: 100%;margin-top: 28px;margin-bottom: 10px;}
            }
            &-pointer {margin-left: 0;font-size: 14px;margin-bottom: 10px;
                svg {width: 12px;height: 17px;margin-left: 20px;}
            }
            &-metro {margin-left: 0;font-size: 14px;align-items: flex-start;
                svg {width: 13px;height: 13px;margin-left: 20px;align-self: center;}
            }
        }
        &__rating {flex-direction: column;padding-bottom: 30px;
            &-number {justify-content: center;}
        }
        &__options {margin: 0;width: 100%;padding: 25px 0 10px;}
        &__option {width: 100%;margin: 0;margin-bottom: 16px;}
        &__feedback {background-image: none;
            &-wrap {padding-bottom: 35px;}
            &-btn {
               .btn {width: calc(100% - 30px); margin: 0 auto;}
            }
            &-title {margin-bottom: 13px;}
        }
        &__review {
            &-btn {flex-direction: column;margin-top: 0;
                a.btn {margin: 35px auto 0;}
            }
        }
        &__filter-btn {margin: 0;display: none;}
    }
    .halls {
        &__collapse {margin-bottom: 18px;
            &:last-child {margin-bottom: 0;}
        }
        &__all {flex-direction: column;align-items: center;padding-top: 18px;}
        &__more {margin-top: 13px;}
        &__wrap {max-height: none;
            &.opened {overflow: visible;max-height: 9999px;
                .halls {
                    &__callback {display: none;}
                    &__mob {
                        &-btn {display: block;margin-bottom: 30px;}
                    }
                    &__slider-wrap {display: block;}
                    &__desc {display: block;}
                }
            }
        }
        &__list {flex-direction: column;}
        &__item {flex-wrap: wrap;padding: 12px 0 0;}
        &__avatar {width: 100%;height: 100%;min-width: 145px;min-height: 88px;}
        &__price {margin-left: 13px;padding-top: 15px;width: calc(50% - 13px);
            &-title {width: 34%; text-align: right;}
        }
        &__size {margin-left: 0;margin-top: 18px;width: 100%;
            &-row {flex-wrap: wrap;justify-content: center;margin: 0;}
            &-number {margin: 0 15px 15px;}
        }
        &__name {width: 50%;}
        &__title {margin-right: -100%;text-align: center;}
        &__callback {
            .btn {margin-top: 0;margin-bottom: 20px;}
        }
        &__mob {
            &-btn {display: none;}
        }
        &__slider {
            &-wrap {margin: 0 -15px 10px;display: none;}
            .slick-prev {border-radius: 0;}
            .slick-next {border-radius: 0;}
        }
        &__slide {width: auto;height: auto;max-width: none;max-height: none;}
        &__desc {margin-bottom: 19px;display: none;
            &-title {font-size: 14px;margin-bottom: 0;}
            &-position {font-size: 14px;margin-bottom: 0;}
            &-info {font-size: 14px;margin-bottom: 0;}
        }
    }
    .feedback-popup {padding: 30px 15px;
        &__input {
            &:last-child {margin-bottom: 30px;}
        }
        &__title {font-size: 18px;margin-bottom: 15px;}
        input {font-size: 14px;padding: 10px;
            &::placeholder {text-align: center;}
        }
        textarea {font-size: 14px;padding: 10px;min-height: 70px;
            &::placeholder {text-align: center;}
        }
        &__rating {justify-content: center;
            &-wrap {flex-direction: column;margin-bottom: 15px;}
            &-wrap:first-child {margin-top: 30px;}
            &-title {font-size: 14px;font-weight: 300;justify-content: center;text-align: center;margin-bottom: 5px;}
        }
        &__btn {margin: 30px 0 0;}
    }
    .result {padding: 30px 0 0;
        &__content {padding: 0;}
        &__row {margin-bottom: 15px;padding-top: 15px;}
        &__item {margin: 0 -15px 30px;padding: 15px;
            &-desc {font-size: 14px;}
        }
        .card {
            &__slider {
                &-small {margin: 0 -15px;max-width: none;}
            }
            &__slide {
                &-small {max-width: none;}
            }
            &__place {max-height: 480px;margin: 0 -15px;padding: 0 15px;}
        }
        &__halls {margin: 0 -15px; padding: 0 15px;max-height: 137px;
            &-accept {font-size: 14px;text-align: center;}
        }
        &__hall {
            &-title {width: 100%;}
            &-desc {font-size: 14px;}
            &-img {
                img {width: 145px;height: 88px;}
            }
            &-detail {max-height: 109px;margin: 0 -15px;padding: 0 15px;
                &.opened {
                    .result__hall {border-bottom: none;
                        &-img {
                            img {width: 145px;height: 88px;}
                        }
                    }
                }
            }
        }
        &__hotel {margin-bottom: 30px;
            &.opened {margin-bottom: 10px;}
        }
        &__pag {padding: 0 0 30px;}
    }
    .contacts {padding: 67px 0 0;
        &__map {height: 420px;}
        &__info {padding: 30px 30px 30px 60px;margin: 0 0 30px;}
    }
    .event {
        &__list {
            &-title {width: 15%;}
            ul {width: 85%;}
        }
    }
    .breadcrumbs {display: none;}
    .catalog__form--events {padding: 25px 15px; width: 100%; border-radius: 0;}
    .events__information { position: absolute; top: 0; height: 400px; width: 100%; left: 0; padding: 0 15px;z-index: 1;}
    .organisation {
        &__table {flex-wrap: wrap;}
        &__images {flex-direction: row; width: 100%; max-width: none; justify-content: space-around;}
        &__img {width: 45%;}
    }
    .box {width: 50%;}
    .request {
        &__info {margin-bottom: 40px;}
    }
    .events {margin-top: 0;}
}

@media screen and (max-width: 768px){
    .catalog {padding: 0;
        &__aside {position: absolute;left: 0;top: 0;transform: translateX(-100%);transition: transform .3s;background-color: #fff; z-index: 10;display: block;min-width: 320px;max-width: 414px;
            &.opened {transform: translateX(0);transition: transform .3s;}
            .main__form {padding: 40px 0 15px;
                &:before {display: none;}
                &-input {
                    input {text-align: left;}
                }
                .jq-selectbox__select-text.placeholder {text-align: left;}
                .jq-selectbox li {text-align: left;}
                //.jq-selectbox__select-text.placeholder {text-align: left;color: #484848;}
                //.jq-selectbox li {text-align: left;color: #484848;}
                //.jq-selectbox__dropdown {background-color: #f1f1f1;color: #484848;}
                //.jq-selectbox.opened .jq-selectbox__select {background-color: #f1f1f1; color: #484848;}
                //.jq-selectbox.opened .jq-selectbox__trigger-arrow {background-image: url("../images/arrow.svg");}
            }
        }
        &__filter {
            &-title {font-size: 18px;}
        }
        &__content {padding: 0;}
        &__express {margin: 15px 0;}
        &__map {margin: 0 0 15px;}
        &__request {margin: 0 -15px;}
        &__textarea {padding: 11px 25px;line-height: 1.1;min-height: 68px;font-size: 14px;}
        &__request {
            .poster {
                &__form {padding: 15px 30px;
                    &-title {font-size: 18px;}
                    &-number {margin-bottom: 11px;
                        input {padding: 9.5px 25px;}
                    }
                }
            }
        }
        .aside {
            &__close {display: flex;}
        }
    }
    .places {
        &__title {font-size: 18px;text-align: center;margin-bottom: 12px;}
        &__desc {font-size: 14px;text-align: center;}
        &__name {font-size: 16px;margin: 0 0 15px;}
        .city {margin: 15px -8px 0;border: none;
            &__item {border: none;background-color: transparent;padding: 0 8px 10px;
                &:before {border: none;}
                &:after {border: none;}
            }
            &__img {min-height: auto;margin-bottom: 9px;
                img {min-height: auto;}
            }
        }
    }
    .result {
        &__row {flex-direction: column-reverse;position: relative;z-index: 9;background-color: #fff;margin: 0 -15px 15px;padding: 15px 15px 0;height: 100%;}
        &__search-result {font-size: 14px;padding: 10px 0;border-top: 1px solid #ccc; border-bottom: 1px solid #ccc;text-align: center;}
        &__tabs {max-height: 27px;min-height: 27px;
            &-wrap {padding-bottom: 10px;justify-content: space-between;line-height: 27px;}
        }
        &__map {height: 90vh; min-height: 500px;}
        &__box {
            &-map {margin-bottom: 15px;}
        }
        &__hall {
            &-title {width: auto;}
            &-btn {width: auto;
                .btn {width: 100%;}
            }
        }
        &__tab {margin-left: 15px;background-color: #e6e6e6;border-radius: 25px;padding: 5px 10px;min-height: 27px;max-height: 27px;}
        .catalog {
            &__aside {display: block;min-width: 320px;max-width: 414px;top: 91px;z-index: 10;
                .main__form {padding: 15px 0;
                    &:before {display: none;}
                    &-input {
                        input {text-align: left;}
                    }
                    .jq-selectbox__select-text.placeholder {text-align: left;}
                    .jq-selectbox li {text-align: left;}
                    //.jq-selectbox__select-text.placeholder {text-align: left;color: #484848;}
                    //.jq-selectbox li {text-align: left;color: #484848;}
                    //.jq-selectbox__dropdown {background-color: #f1f1f1;color: #484848;}
                    //.jq-selectbox.opened .jq-selectbox__select {background-color: #f1f1f1; color: #484848;}
                    //.jq-selectbox.opened .jq-selectbox__trigger-arrow {background-image: url("../images/arrow.svg");}
                }
            }
            &__filter {
                &-title {font-size: 18px;}
            }
        }
        &__item {border-left: none; border-right: none;}
        .aside {
            &__close {display: none;}
        }
    }
    .map {
        &__img {display: none;}
        &__title {font-size: 24px;}
    }
    .gm-ui-hover-effect {top: -2px!important; right: -2!important;}
    .corporate {margin: 30px -15px 0;
        &__slider {padding: 0;}
        &__tab {position: relative;padding: 0;margin: 0 5px;margin-top: 10px;
            &.active {padding: 0;margin: 0 5px 40px;border: none;
                span {top: 100%;transform: translateX(-50%);background-color: #eb2a2e;max-width: 100%;min-width: 200vw;height: 40px;display: flex;justify-content: center;align-items: center;margin-top: 1px;
                }
                .corporate {
                    &__tab {
                        &-img {min-height: 141px;max-width: 130px;
                            &:before {display: none;}
                            img {min-height: 154px;}
                        }
                    }
                }
            }
            &-img {display: block;min-width: 130px; min-height: 131px;position: relative;
                img {display: block;min-width: 100%;min-height: 100%;object-fit: cover;}
                &:before {content: '';position: absolute;pointer-events: none;top: 0;right: 0;bottom: 0;left: 0;background-color: #000; opacity: .6;}
            }
            span {position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);color: #fff;font-size: 12px;max-width: 119px;z-index: 2;}
        }
        &__content {border: none;padding: 15px 15px 0;font-size: 14px;
            &-desc {margin-bottom: 15px;}
        }
        &__gallery {padding: 0 20px;margin: 0 -15px;
            .slick-prev {left: 0;top: 0;bottom: 0;min-height: 100%;transform: none;width: 24px;background-color: #eb2a2e;
                &:before {content: '';width: 10px;height: 6px;display: block;background-image: url("../images/arrow-white.svg");background-repeat: no-repeat;margin: 0 auto;transform: rotate(90deg);}
            }
            .slick-next {right: 0;top: 0;bottom: 0;min-height: 100%;transform: none;width: 24px;background-color: #eb2a2e;
                &:before {content: '';width: 10px;height: 6px;display: block;background-image: url("../images/arrow-white.svg");background-repeat: no-repeat;margin: 0 auto;transform: rotate(-90deg);}
            }
        }
        &__img {margin: 0 15px;}
    }
    .description {margin: 0;padding: 0 0 20px;flex-direction: column;
        &__col {width: 100%;margin: 0;font-size: 14px;}
        &__text {margin-top: 15px;}
        .list {padding: 0  24px;
            &__subhead {margin-top: 7px;font-size: 14px;}
        }
        &__strong {margin-top: 7px;}
    }
    .event {
        &__detail {margin: 15px 0 10px;}
        &__title {font-size: 22px;top: 80%;}
        &__list {flex-direction: column;margin-bottom: 15px;
            &-title {width: 100%;text-align: center;padding: 0;}
            ul {width: 100%;padding: 0 15px; text-align: center;border-radius: 0 0 25px 25px;font-size: 14px;
                &:before {width: 100%;height: 3px;}
            }
        }
        &__text {font-size: 14px;margin-bottom: 15px;
            &:last-child {margin-bottom: 15px;}
        }
        &__slider {margin-bottom: 30px;}
    }
    .filter-btn {display: flex;
     .btn {margin-top: 25px;cursor: pointer;}
    }
    .card {
        .filter-btn {
            .btn {margin: 15px auto 20px;}
        }
    }
    .events {
        &__information {padding: 20px 15px;
            .main__search-title {text-align: center; font-size: 22px;}
            .list {text-align: center;}
        }
    }
    .portfolio {
        .box {width: 50%;}
    }
}

@media screen and (max-width: 600px) {
    .result {
        &__hall {flex-direction: column;
            &-title {width: 100%;margin-bottom: 15px;}
            &-btn {width: 100%;margin-bottom: 5px;
                .btn {max-width: none;}
            }
            &-detail {max-height: 187px;}
            &-more {margin-bottom: 15px;}
        }
        &__halls {max-height: 221px;}
    }
}

@media screen and (max-width: 560px) {
    .contacts {padding: 20px 0 30px;
        h2 {font-size: 18px;}
        .card {
            &__map {
                &-wrap {padding: 20px 0 0;}
            }
        }
        &__info {font-size: 14px;
            &-phone {font-size: 18px;}
            &-mail {font-size: 18px;}
        }
    }
    .nominations {margin: 0 -15px;
        &__item {width: 40%; flex-grow: 1; margin: 0 10px; padding: 0 24px;}
        &__dec {font-size: 21px;}
        &__text {font-size: 11px;}
        &__img {height: 45px; width: 27px;}
    }
    .events {
        &__about { margin-top: 10px;
            .list {padding: 0 10px;
                &__lined {margin-top: 35px; font-size: 16px;
                    &:before {width: 75px; height: 3px; top: -20px; left: 50%; transform: translateX(-50%); }
                }
            }
        }
    }
    .main {
        &__search {
            &--events {
                .poster__form-title {font-size: 18px;}
            }
        }
    }
    h2 {font-size: 18px;}
    .organisation {padding-top: 10px; padding-bottom: 20px;
        &__table {padding-top: 0;}
        &__list {margin-left: 0;}
        &__images {justify-content: space-between;}
        &__subhead {font-size: 14px;}
        &__list {
            ul.list {padding: 0;}
            .list {font-size: 14px; padding: 0 24px; padding-right: 0;
                &__subhead {font-size: 14px; margin-top: 10px;}
            }
        }
        &__img { width: 100%;
            img {width: 100%;}
            &:last-child {display: none;}
        }
    }
    .spend { padding: 20px 0 30px;
        &__items {padding-top: 10px;}
    }
    .box {width: 100%; display: none;
        &__tabs {display: flex; flex-wrap: wrap; align-items: center; justify-content: flex-start; margin-bottom: 15px;}
        &__tab {padding: 8px 14px;
            margin: 2.5px;
            background-color: #e6e6e6;
            border-radius: 25px;
            font-size: 12px;
            cursor: pointer;
            &.active {  background-color: #eb2a2e; color: #fff;}
        }
        &.active {
            display: block;}
    }
    .portfolio {padding: 20px 0 30px;
        &__text {font-size: 14px; margin: 20px 0;}
        .box {display: block; width: 100%; height: 182px;
            &:nth-child(1) {display: none;}
            &:nth-child(2) {display: none;}
            &:nth-child(3) {display: none;}
        }
        .card__review-btn {margin-top: 25px;}
        .box__text {opacity: 1; font-size: 14px;}
    }
    .events {
        &__trust {padding-top: 20px; padding-bottom: 100px;}
        &__text {font-size: 14px;}
        &__request {height: 300px;}
    }
    .request {
        &__body {padding: 12px 20px 20px;}
        &__info {flex-wrap: wrap;margin-bottom: 0;}
        &__fields {max-width: none; margin-right: 0; margin-bottom: 10px;}
        &__input input {padding: 9px; font-size: 14px;}
        &__text textarea {font-size: 14px; padding: 9px;}
        .card__review-btn {margin-top: 20px;}
        &__head {margin: 5px 0;}
    }
    .trust {
        &__arrow {width: 20px; height: 20px; display: block; border: 0; position: absolute; background-color: transparent; left:10px; top: 50%; transform: translateY(-50%) rotateZ(90deg); padding: 0; z-index: 10;
            svg {width: 100%; height: 100%; }
            &--next {transform: translateY(-50%) rotateZ(-90deg); left: auto; right: 10px;}
        }
    }
    .portfolio .box:hover .box__text {font-size: 16px;}
}

@media screen and (max-width: 520px) {
    .client__image {
        margin: 0 auto;
    }
    .events__trust {padding-bottom: 100px;}
    .trust {
        &__text {margin-top: 5px;}
        &__items {padding: 0;}
        .slick-track {margin: 0px 0;}
    }
    .client {
        margin: 0 auto 70px;
        &__whitebox {opacity: 1; background-color: #f5f5f5;
            &:after {opacity: 0;}
        }
    }

}

@media screen and (max-width: 480px){
    .card {
        &__title {
            &-rating {flex-wrap: wrap;
                .card__title {margin-right: 15px;}
                .rating {margin: 10px 0;}
            }
        }
    }
}



